.rightBoxOne {
  height: 110px !important;
  padding-right: 5px !important; }

.rightBoxTwo {
  height: 113px;
  padding-right: 5px !important; }
  .rightBoxTwo .rightP2Disease {
    top: 5px !important; }

.auryxiaFont {
  font-size: 16px !important; }

.aurBox {
  width: 100% !important;
  border: 3px solid #dedddd;
  height: 144px;
  margin-bottom: 10px;
  position: relative; }

.auryxiaUl {
  margin-left: -21px !important; }

.aurInnerBoxLeft {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 0; }
  .aurInnerBoxLeft .boxHeader {
    font-size: 16px;
    font-family: 'Avenir-Black';
    color: #5a6870;
    position: relative;
    top: 15px;
    left: 15px; }
  .aurInnerBoxLeft .boxTxt {
    font-size: 15px !important;
    color: #5a6870;
    position: relative;
    font-family: 'Avenir-Roman';
    left: 15px;
    top: 5px; }

.aurInnerBoxRight {
  width: 35%;
  height: 100%;
  position: absolute;
  right: 0; }
  .aurInnerBoxRight .aurImgOne {
    position: absolute;
    right: 80px;
    bottom: 1px; }
  .aurInnerBoxRight .aurImgTwo {
    position: absolute;
    right: 15px;
    bottom: 25px; }
  .aurInnerBoxRight .aurImgThree {
    position: absolute;
    right: 45px;
    bottom: 25px; }

ul li {
  color: #ff8500; }
  ul li span {
    color: #5a6870; }
  ul li .boldTxt {
    font-family: 'Avenir-Black'; }

.takingUl ul {
  position: relative;
  top: -60px;
  left: 80px; }
  .takingUl ul .takingP1 {
    color: #ff8500;
    font-size: 16px;
    font-family: 'Avenir-Heavy';
    font-weight: 800;
    list-style: none;
    margin-left: -17px;
    margin-bottom: 5px; }
  .takingUl ul .takingP2 {
    color: #5a6870;
    font-size: 16px;
    font-family: 'Avenir-Roman';
    font-weight: 400;
    list-style: none;
    margin-bottom: 0px; }
  .takingUl ul .takingP3 {
    margin-left: -16px !important;
    margin-top: 12px;
    color: #5a6870;
    font-size: 16px;
    font-family: 'Avenir-Heavy';
    font-weight: 800;
    list-style: none;
    margin-bottom: 0px;
    line-height: 22px; }

.takingUlTwo {
  margin-top: -65px; }

.takingUlThree {
  margin-top: -50px; }

.footNoteTaking {
  line-height: 16px;
  width: 90%;
  margin-top: -50px; }

.takingRightP2 {
  top: 10px; }

.takingBox1 {
  height: 85px !important; }

.takingBox2 {
  height: 98px; }

.takingVerticalLine {
  height: 270px !important; }

.doctorUl {
  margin-left: -20px; }
  .doctorUl ul {
    position: relative; }
    .doctorUl ul .takingP1 {
      color: #ff8500;
      font-size: 16px;
      font-family: 'Avenir-Heavy';
      font-weight: 800;
      list-style: none;
      margin-left: -17px;
      margin-bottom: 5px; }
    .doctorUl ul .takingP2 {
      color: #5a6870;
      font-size: 16px;
      font-family: 'Avenir-Roman';
      font-weight: 400;
      list-style: none;
      margin-bottom: 0px; }
    .doctorUl ul .takingP5 {
      color: #5a6870;
      font-size: 15px;
      font-family: 'Avenir-Roman';
      font-weight: 100;
      list-style: none;
      margin-bottom: 0px;
      margin-left: -17px; }
    .doctorUl ul .takingP3 {
      margin-left: -16px !important;
      margin-top: 12px;
      color: #5a6870;
      font-size: 16px;
      font-family: 'Avenir-Heavy';
      font-weight: 800;
      list-style: none;
      margin-bottom: 0px;
      line-height: 22px; }

.doctorP1 {
  color: #ff8500;
  font-size: 16px;
  font-family: 'Avenir-Heavy';
  font-weight: 800;
  list-style: none;
  margin-bottom: 5px; }

.doctorP2 {
  color: #5a6870;
  font-size: 17px;
  font-family: 'Avenir-Heavy';
  font-weight: 800;
  list-style: none;
  margin-bottom: 5px; }

.doctorP3 {
  color: #5a6870;
  font-size: 16px;
  font-family: 'Avenir-Roman';
  font-weight: 400;
  list-style: none;
  margin-bottom: 0px;
  width: 85%; }

.doctorP2Margin {
  margin-top: 15px; }

.takingP3 a {
  color: #5a6870 !important;
  text-decoration: none !important; }

.takingP4 {
  color: #ff8500;
  font-size: 14px;
  font-family: 'Avenir-Roman';
  font-weight: 800;
  list-style: none;
  margin-left: -17px;
  margin-bottom: -3px; }

@media only screen and (max-width: 705px) {
  .takingUl {
    max-width: 80% !important; }
  .footnote, .diseaseP2 {
    width: 100%; }
  .aurBox {
    padding-bottom: 150px !important; } }

@media only screen and (max-width: 991px) {
  .AuryxiaPage .rightBoxOne {
    height: 85px !important; }
  .AuryxiaPage .rightBoxTwo {
    height: 108px !important; }
    .AuryxiaPage .rightBoxTwo .rightP2Disease {
      line-height: 18px !important; }
  .supportPage .rightBoxOne {
    height: 90px !important; }
  .supportPage .rightBoxTwo {
    height: 92px !important; }
    .supportPage .rightBoxTwo .rightP2Disease {
      line-height: 18px !important; }
  .talkingDoctorPage .rightBoxOne {
    height: 77px !important; }
  .talkingDoctorPage .rightBoxTwo {
    height: 103px !important; }
    .talkingDoctorPage .rightBoxTwo .rightP2Disease {
      line-height: 18px !important; } }

@media only screen and (max-width: 701px) {
  .auryxiaBoxOne {
    height: 301px !important; }
  .auryxiaBoxTwo {
    height: 272px !important; }
  .auryxiaBoxThree {
    height: 245px !important; }
  .aurInnerBoxLeft {
    width: 95% !important; }
  .aurInnerBoxRight {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) !important; }
    .aurInnerBoxRight img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) !important; }
  .aurImgOne {
    padding-bottom: 15px !important; } }

@media only screen and (max-width: 505px) {
  .takingUl {
    max-width: 80% !important;
    margin-left: -5px !important; }
    .takingUl img {
      transform: scale(0.8);
      top: -8px !important;
      position: relative; }
    .takingUl ul {
      left: 60px !important; }
  .aurInnerBoxLeft {
    width: 92% !important; }
  .aurImgOne {
    padding-bottom: 10px !important; }
  .aurImgTwo {
    bottom: 15px !important; } }

@media only screen and (max-width: 545px) {
  .diseaseQuestionMarkImg {
    top: 14px !important; }
  .takingUl ul li {
    line-height: 24px !important; } }

@-moz-document url-prefix() {
  .takingUl li {
    margin-top: 28px !important; }
  .takingUl .takingP2 {
    margin-top: -24px !important; }
  .doctorUl li {
    margin-top: 28px !important; }
  .doctorUl .takingP2 {
    margin-top: -24px !important; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .takingUl li {
    margin-top: 7px !important; }
  .takingUl .takingP2 {
    margin-top: -24px !important; }
  .doctorUl li {
    margin-top: 7px !important; }
  .doctorUl .takingP2 {
    margin-top: -24px !important; } }
