.supportUl {
  margin-left: 70px;
  margin-bottom: 40px;
  position: relative; }
  .supportUl img {
    position: absolute;
    left: -70px;
    top: 0px; }

.supportP1 {
  font-size: 19px;
  color: #0d3556;
  font-family: 'Avenir-Black';
  margin-bottom: 5px !important; }

.supportP2 {
  font-size: 18px;
  color: #5b6971;
  font-family: 'Avenir-Heavy';
  margin-bottom: 5px !important; }

.supportP3 {
  color: #44c6c2;
  font-size: 16px;
  font-family: 'Avenir-Black';
  margin-bottom: 5px !important; }

.layoutBody li {
  color: #ff8500;
  margin-bottom: -5px !important; }
  .layoutBody li a {
    color: #44c6c2;
    text-decoration: none !important;
    font-family: 'Avenir-Heavy'; }
  .layoutBody li a:hover {
    color: #44c6c2; }

.supportFootnote {
  color: #5b6971;
  font-size: 13px;
  font-family: 'Avenir-Roman';
  margin-bottom: -1px;
  width: 100% !important; }

@media only screen and (max-width: 991px) {
  .supportUl img {
    top: -14px !important; }
  .supportUl .supportMobile {
    margin-left: -70px !important;
    margin-top: 30px !important; }
  .supportUl ul {
    margin-left: -20px !important; } }

@media only screen and (max-width: 509px) {
  .supportUl .supportIconThree {
    top: 1px !important; }
  .supportP1 {
    line-height: 23px;
    top: 4px !important;
    position: relative !important; }
  .supportP1UlThree {
    top: 8px !important; } }

.acLogo {
  width: 120px !important;
  position: absolute;
  left: 14px; }

.headerOverlay {
  margin-left: 135px; }

@media only screen and (max-width: 991px) {
  .acLogo {
    left: 0px !important; } }

@media only screen and (max-width: 515px) {
  .acLogo {
    left: 0px !important; }
  .accessDiseaseP2 {
    margin-top: 15px !important; }
  .headerOverlay {
    margin-left: 135px !important; }
    .headerOverlay .diseaseP2 {
      margin-left: -135px !important;
      min-width: 90vw !important; } }

@media only screen and (max-width: 380px) {
  .acLogo {
    margin-top: 5px;
    left: 0px !important; } }

@media only screen and (min-width: 516px) {
  .accessDiseaseP2 {
    margin-top: -10px !important; } }
