// Base styles for new HP MOA & orphan pages
// Note, this is a copy of the styles in /assets/css/hp-moa,
// which are used in a number of new pages and could use refactoring
@import "../hp-new-page-template-styles.scss";

// Other styles are being added only to this page so as not to
// affect other parts of the site
@import "../../config/include-media.scss";
@import "../../config/variables.scss";
@import "../../components/isi.scss";
@import "../../components/psp.scss";

$hp-new-breakpoint-mobile: 576px;
$hp-new-breakpoint-tablet-portrait: 768px;
$hp-new-breakpoint-tablet-landscape: 992px;
$hp-new-breakpoint-desktop: 1200px;

body#template-new-competitive-landing-hp-page {
    min-width: 375px;

    #onetrust-banner-sdk {
        bottom: auto !important;
        top: 0 !important;
    }

    sub,
    sup {
        font-size: 70%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.4em;
    }

    sub {
        bottom: -0.25em;
    }

    .nowrap {
        white-space: nowrap;
    }

    .mobile-nav {
        .indication-banner {
            font-size: 11.5px;
            line-height: 15px;
            padding: 15px 0;
            letter-spacing: -0.6px;
            white-space: nowrap;

            strong {
                font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
                font-weight: normal;
            }
        }
    }

    .desktop-nav {
        .indication-banner {
            font-size: 11.5px;
            line-height: 15px;
            padding: 15px 0;

            @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                font-size: 22px;
                line-height: 25px;
                padding: 20px 0;
            }

            strong {
                font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
                font-weight: normal;
            }
        }
    }

    header {
        padding: 0;
        border-bottom: solid 2px #EBE9F6;

        .container-fluid {
            > .row {
                > .col-md-10 {
                    @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                        &:before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            display: block;
                            width: 240px;
                            height: calc(100% - 1rem);
                            background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/img-patient-hp-lg@2x.jpg");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: left bottom;
                        }
                    }

                    @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                        position: relative;
                        left: -3rem;
                        max-width: calc(83.3333% + 6rem);
                        flex-basis: calc(83.3333% + 6rem);

                        &:before {
                            width: 348px;
                            height: 436px;
                        }
                    }

                    @media (min-width: 1100px) {
                        left: 0;
                        max-width: 83.3333%;
                        flex-basis: 83.3333%;
                    }

                    > .row {
                        align-items: center;

                        @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                            height: 100%;
                            min-height: 457px;
                        }

                        .col-md-7 {
                            padding-top: 1.5rem;
                            padding-bottom: 1.5rem;
                            text-align: center;

                            @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                                padding-top: 2rem;
                                padding-bottom: 2rem;
                            }

                            h1 {
                                font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
                                font-weight: normal;
                                font-size: 30px;
                                line-height: 40px;
                                margin-bottom: 0.5rem;

                                @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                                    font-size: 56px;
                                    line-height: 64px;
                                    margin-bottom: 1rem;
                                }
                            }

                            p:last-of-type {
                                margin-bottom: 0;

                                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                                    // Space for the footnote
                                    margin-bottom: 3rem;
                                }

                                @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                                    margin-bottom: 0;
                                }
                            }

                            a {
                                font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
                            }
                        }
                    }

                    .footnote {
                        display: none;

                        @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                            position: absolute;
                            bottom: 1.25rem;
                            right: 250px;
                            display: block;
                            font-family: "Avenir LT W01_45 Book1475508", "Helvetica Neue", Arial, sans-serif;
                            font-size: 12px;
                            line-height: 16px;
                        }

                        @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                            right: 360px;
                        }
                    }
                }
            }
        }
    }

    #standard-of-care {
        margin-top: 2rem;
        margin-bottom: 2rem;

        @media (min-width: $hp-new-breakpoint-mobile) {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        .cta-container {
            flex-direction: column;

            @media (min-width: $hp-new-breakpoint-mobile) {
                flex-direction: row;
            }

            > div {

                &:not(:last-of-type) {
                    margin-bottom: 2rem;

                    @media (min-width: $hp-new-breakpoint-mobile) {
                        margin-bottom: 0;
                    }
                }

                > div {
                    position: relative;
                    margin-bottom: 2rem;
                    padding: 1.5rem;
                    border: 1px solid #EAE9F2;
                    border-radius: 8px;
                    box-shadow: 0 16px 16px 0 rgba(184, 182, 201, 0.3);

                    display: flex;
                    flex-flow: column wrap;
                    align-items: flex-start;
                    justify-content: space-between;

                    @media (min-width: $hp-new-breakpoint-mobile) {
                        height: 100%;
                        margin: 0;
                        padding: 1.5rem 1.5rem 1.5rem;
                    }

                    @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                        padding: 2rem 2rem 1.5rem;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    h2 {
                        font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 32px;
                        color: #FF8500;
                        margin-bottom: 0.5rem;

                        @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                            font-size: 32px;
                            line-height: 40px;
                        }
                    }

                    h3 {
                        font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #4A4A4A;
                    }

                    .footnote {
                        font-family: "Avenir LT W01_45 Book1475508", "Helvetica Neue", Arial, sans-serif;
                        font-size: 12px;
                        line-height: 16px;
                    }

                    #trial-design-btn-container {
                      margin-top: 1rem;
                      text-align: center;
                      @media(min-width: $hp-new-breakpoint-mobile) {
                        text-align: left;
                      }
                    }

                    #trial-design-btn:hover {
                      i {
                        border-right-color: #b35d00;
                        border-top-color: #b35d00;
                      }
                    }

                    .cta-btn-container {
                      /*margin-top: 1rem;*/
                      margin-top: auto;
                      width: calc(100% - 4rem);
                      /* second card's btn needs bottom margin to align with 1st card's button */
                        &:nth-child(3) {
                            margin-bottom: 40px;
                        }
                    }
                    
                    a.cta-btn {
                        font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        display: block;
                        margin-top: 1rem;
                        padding: 0.75rem;
                        width: 100%;
                        color: #fff;
                        background-color: #FF8500;
                        white-space: nowrap;
                        min-width: 180px;

                        @media (min-width: $hp-new-breakpoint-mobile) {
                            //position: absolute;
                            bottom: 1.5rem;
                            left: 1.5rem;
                            margin-top: 0;
                            width: calc(100% - 3rem);
                            max-width: 273px;
                        }

                        @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                            bottom: 2rem;
                            left: 2rem;
                            width: calc(100% - 4rem);
                        }
                    }
                }
            }
        }
    }

    #trial-design {
      .trial-design-container {
        margin-bottom: 1.5rem;
        border-top: 1px solid;
        @media(min-width: $hp-new-breakpoint-mobile) {
          margin: 4rem 0;
          border: none;
        }
        > p:first-of-type {
          margin-top: 1.5rem;
        }
      }
    }

    #proven-safety-profile {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        @media (min-width: $hp-new-breakpoint-mobile) {
            margin-top: 3.25rem;
            margin-bottom: 3rem;
        }

        > div {
            border-top: solid 2px #EBE9F6;
            border-bottom: solid 2px #EBE9F6;
            width: calc(100% - 2rem);
            max-width: 442px;
            margin: 0 auto;
            padding: 1.5rem;
            color: #FF8500;
            text-align: center;

            @media (min-width: $hp-new-breakpoint-mobile) {
                padding: 1.5rem 0;
            }

            h2 {
                font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
                font-weight: normal;
                font-size: 24px;
                line-height: 32px;
                color: #FF8500;
                margin-bottom: 0.5rem;

                @media (min-width: $hp-new-breakpoint-mobile) {
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            p {
                margin: 0;
            }

            a {
                font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
            }
        }
    }

    #mechanism-of-action {
        margin-bottom: 2.5rem;

        @media (min-width: $hp-new-breakpoint-mobile) {
            margin-bottom: 3rem;
        }

        > .container-fluid {
            position: relative;
            padding-bottom: 1rem;

            @media (min-width: $hp-new-breakpoint-mobile) {
                padding-bottom: 0;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                border: solid 1rem #FFAD47;
                pointer-events: none;
            }

            > .row {
                padding: 2rem 1.5rem 1.5rem;

                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                    // align-items: center doesn't work in IE11 here
                    display: block;
                    height: 416px;
                    padding: 0;
                }

                > .col-md-5 {
                    @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                        top: 50%;
                        left: -2rem;
                        transform: translate(0, -50%);
                        padding-right: 2rem;
                    }

                    @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                        left: 0;
                        padding-right: calc(2rem + 6%);
                    }
                }

                h2 {
                    font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 32px;
                    color: #FF8500;
                    margin-bottom: 0.5rem;

                    @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }

                .footnote {
                    font-family: "Avenir LT W01_45 Book1475508", "Helvetica Neue", Arial, sans-serif;
                    font-size: 12px;
                    line-height: 16px;
                }

                p:last-of-type {
                    margin: 0;
                }

                a {
                    font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    display: block;
                    padding: 0.75rem;
                    width: 100%;
                    color: #fff;
                    background-color: #FF8500;
                    white-space: nowrap;

                    @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                        max-width: 273px;
                    }
                }
            }

            > a {
                display: block;
                width: 100%;
                padding-top: calc((100% * 768) / 1366);
                background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/moa-lg@2x.jpg");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;

                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    height: calc(100% - 2rem);
                    width: calc(50% + 1rem);
                    padding: 0;
                }
            }
        }
    }

    // #titration {
    //     text-align: center;
    //     margin-top: 2.5rem;
    //     margin-bottom: 2.5rem;

    //     @media (min-width: $hp-new-breakpoint-mobile) {
    //         margin-top: 3rem;
    //         margin-bottom: 3rem;
    //     }

    //     .col-lg-10 {
    //         > div {
    //             border-top: solid 2px #EBE9F6;
    //             border-bottom: solid 2px #EBE9F6;
    //             margin: 0 auto;
    //             padding: 1.5rem;

    //             h2 {
    //                 font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
    //                 font-weight: normal;
    //                 font-size: 24px;
    //                 line-height: 32px;
    //                 color: #FF8500;
    //                 margin-bottom: 0.5rem;

    //                 @media (min-width: $hp-new-breakpoint-mobile) {
    //                     font-size: 42px;
    //                     line-height: 52px;
    //                 }
    //             }

    //             p:last-of-type {
    //                 margin: 0;

    //                 a {
    //                     font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
    //                 }
    //             }
    //         }
    //     }

    //     #titration-dosing-guidelines {
    //         padding-top: 2rem;
    //         border-top: solid 2px #EBE9F6;

    //         h3 {
    //             font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
    //             font-size: 16px;
    //             line-height: 24px;
    //             font-weight: normal;
    //             color: #4A4A4A;
    //             margin-bottom: 1rem;

    //             @media (min-width: $hp-new-breakpoint-mobile) {
    //                 font-size: 20px;
    //             }
    //         }

    //         > div {
    //             border: 1px solid #EAE9F2;
    //             border-radius: 8px;
    //             box-shadow: 0 16px 16px 0 rgba(184, 182, 201, 0.3);

    //             @media (min-width: $hp-new-breakpoint-mobile) {
    //                 display: flex;
    //                 justify-content: space-between;
    //                 padding-top: 4rem;
    //                 border: none;
    //                 box-shadow: none;
    //             }

    //             > div {
    //                 position: relative;
    //                 display: flex;
    //                 justify-content: column;
    //                 align-items: center;
    //                 min-height: 120px;
    //                 padding: 1.5rem 1.5rem 1.5rem calc(72px + 3rem);
    //                 font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
    //                 border-bottom: 1px solid #EAE9F2;
    //                 text-align: left;

    //                 @media (min-width: $hp-new-breakpoint-mobile) {
    //                     display: block;
    //                     width: calc((100% - 3rem) / 4);
    //                     min-height: 0;
    //                     padding: 4.75rem 1rem 1.75rem;
    //                     border: 1px solid #EAE9F2;
    //                     border-radius: 8px;
    //                     box-shadow: 0 16px 16px 0 rgba(184, 182, 201, 0.3);
    //                     text-align: center;
    //                 }

    //                 &:before,
    //                 &:after {
    //                     content: "";
    //                     position: absolute;
    //                     top: 50%;
    //                     left: 1.5rem;
    //                     transform: translate(0, -50%);
    //                     display: block;
    //                     width: 72px;
    //                     height: 72px;

    //                     @media (min-width: $hp-new-breakpoint-mobile) {
    //                         top: -56px;
    //                         left: 50%;
    //                         transform: translate(-50%, 0);
    //                         width: 112px;
    //                         height: 112px;
    //                     }
    //                 }

    //                 &:before {
    //                     border-radius: 56px;
    //                     background-color: #fff;
    //                 }

    //                 &:after {
    //                     background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/dosing-meal-lg.svg");
    //                     background-repeat: no-repeat;
    //                     background-position: center;
    //                     background-size: contain;
    //                 }

    //                 &:nth-of-type(1) {
    //                     @media (min-width: $hp-new-breakpoint-mobile) {
    //                         border-radius: 8px;
    //                     }
    //                 }

    //                 &:nth-of-type(2) {
    //                     &:after {
    //                         background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/dosing-pills-lg.svg");
    //                     }
    //                 }

    //                 &:nth-of-type(3) {
    //                     &:after {
    //                         background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/dosing-schedule-lg.svg");
    //                     }
    //                 }

    //                 &:nth-of-type(4) {
    //                     border-bottom-left-radius: 8px;
    //                     border-bottom-right-radius: 8px;

    //                     @media (min-width: $hp-new-breakpoint-mobile) {
    //                         border-radius: 8px;
    //                     }

    //                     &:after {
    //                         background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/dosing-12x-lg.svg");
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }

    #akebia-cares {
        padding: 1rem;
        background-color: #F1F1F1;

        > .container-fluid {
            padding: 2rem 0;
            background-color: #fff;
            text-align: center;

            @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                padding: 2.5rem 0 4rem;
                background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/img-akebiacares-swoosh-lg@2x.jpg");
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: left bottom;
            }

            img {
                width: 111px;
                height: auto;
                margin-bottom: 1rem;

                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                    width: 133px;
                }
            }

            h2 {
                font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-transform: uppercase;
                margin-bottom: 1.5rem;
                padding: 0 2rem;
                color: #005072;

                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                    font-size: 20px;
                    line-height: 29px;
                    padding: 0;
                }
            }

            h3 {
                font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
                font-weight: normal;
                font-size: 24px;
                line-height: 32px;
                color: #00B1AC;
                margin-bottom: 1rem;

                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                    font-size: 32px;
                    line-height: 40px;
                    margin-bottom: 1.5rem;
                }
            }

            h4 {
                font-family: "Avenir LT W01_95 Black1475556", "Helvetica Neue", Arial, sans-serif;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-transform: uppercase;
                margin-bottom: 0.5rem;

                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                    font-size: 18px;
                    line-height: 25px;
                }
            }

            > .row > .col-md-10 > .row {
                flex-direction: column;

                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                    flex-direction: row;
                    position: relative;
                    left: -2rem;
                    width: calc(100% + 6rem);
                }
            }

            .akebia-cares-coverage,
            .akebia-cares-insurance {
                > div {
                    position: relative;
                    height: 100%;
                    margin: 0 1rem;
                    padding: 1rem 1.5rem 5.5rem;
                    border: 1px solid #EAE9F2;
                    border-radius: 8px;
                    box-shadow: 0 16px 16px 0 rgba(68,68,68,0.3);
                    background-color: rgba(255,255,255,0.89);
                    color: #005072;

                    @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                        margin: 0;
                        padding: 3rem 3rem 7rem;
                    }

                    > a {
                        position: absolute;
                        bottom: 1.5rem;
                        left: 50%;
                        transform: translate(-50%, 0);
                        font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        display: block;
                        padding: 0.75rem;
                        width: calc(100% - 3rem);
                        color: #fff;
                        background-color: #025370;
                        white-space: nowrap;

                        @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                            bottom: 3rem;
                            width: 100%;
                            max-width: 224px;
                        }
                    }
                }
            }

            .akebia-cares-coverage {
                margin-bottom: 2rem;

                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                    margin-bottom: 0;
                }

                > div {
                    font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
                    font-size: 16px;
                    line-height: 24px;

                    @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                        font-size: 20px;
                    }

                    > p {
                        font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
                        margin-bottom: 1rem;

                        @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                            margin-bottom: 3rem;
                        }
                    }

                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;

                        li {
                            position: relative;
                            margin: 0 0 1.5rem 0;
                            padding: 80px 0 0 0;

                            @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                                margin: 0 0 2rem 0;
                                padding: 124px 0 0 0;
                            }

                            &:last-of-type {
                                margin-bottom: 0.5rem;
                            }

                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translate(-50%, 0);
                                display: block;
                                width: 72px;
                                height: 72px;
                                background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/reimbursement-lg.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;

                                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                                    width: 106px;
                                    height: 106px;
                                }
                            }

                            &:nth-of-type(2) {
                                &:after {
                                    background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/pap-lg.svg");
                                }
                            }

                            &:nth-of-type(3) {
                                &:after {
                                    background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/copay-lg.svg");
                                }
                            }
                        }
                    }
                }
            }

            .akebia-cares-insurance {
                > div {
                    h4 {
                        position: relative;
                        padding-left: 30px;
                        text-align: left;

                        @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                            padding-left: 40px;
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: block;
                            width: 21px;
                            height: 24px;
                            background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/shield-teal-lg@2x.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;

                            @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                                top: calc(50% - 2px);
                                transform: translate(0, -50%);
                                width: 29px;
                                height: 33px;
                            }
                        }

                        &:nth-of-type(1) {
                            color: #00B1AC;
                        }

                        &:nth-of-type(2) {
                            color: #005072;

                            &:before {
                                background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/shield-navy-lg@2x.png");
                            }
                        }

                        &:nth-of-type(3) {
                            color: #7A7C7E;

                            &:before {
                                background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/shield-gray-lg@2x.png");
                            }
                        }
                    }

                    ul {
                        font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
                        text-align: left;
                        margin: 0.5rem 0 1rem;

                        li {
                            margin-bottom: 0.5rem;

                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                    }

                    > ul {
                        margin-left: 30px;

                        @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                            margin-left: 40px;
                        }

                        > li {
                            &:before {
                                color: #00B1AC;
                            }

                            > ul {
                                margin: 0.5rem 0;

                                > li {
                                    &:before {
                                        content: "-";
                                        color: #00B1AC;
                                    }
                                }
                            }
                        }
                    }

                    .footnote {
                        margin-bottom: 0.25rem;
                        font-family: "Avenir LT W01_45 Book1475508", "Helvetica Neue", Arial, sans-serif;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: left;
                        color: #4A4A4A;

                        @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                            margin-left: 40px;
                        }

                        a {
                            color: #4A4A4A;
                        }
                    }
                }
            }
        }
    }

    #sign-up {
        text-align: center;

        @media (min-width: $hp-new-breakpoint-tablet-portrait) {
            text-align: left;
            background-image: url("/wp-content/themes/keryx/assets/img/hp-competitive-landing/img-crystal-lg@2x.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right top;
        }

        .row {
            @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                // align-items: center doesn't work in IE11 here
                display: block;
                height: 248px;
            }

            > div {
                padding: 2rem 2.5rem;

                @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                    top: 50%;
                    transform: translate(0, -50%);
                    max-width: calc(50% + 4rem);
                    padding: 0 1rem;
                }

                @media (min-width: 850px) {
                    max-width: 50%;
                }
            }
        }

        .offset-md-2 {
            @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                margin-left: calc((100% - 2rem) / 12);
            }

            @media (min-width: $hp-new-breakpoint-tablet-landscape) {
                margin-left: 16.6667%;
            }
        }

        h2 {
            font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 1.5rem;

            @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                font-size: 32px;
                line-height: 40px;
                color: #FF8500;
                margin-bottom: 1rem;
            }

            span {
                color: #FF8500;
            }
        }

        a {
            font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            display: block;
            padding: 0.75rem;
            width: 100%;
            color: #fff;
            background-color: #FF8500;
            white-space: nowrap;

            @media (min-width: $hp-new-breakpoint-tablet-portrait) {
                max-width: 273px;
            }
        }
    }

    .references-section {
        margin-top: 1rem;

        h2 {
            font-weight: normal;
            color: #C85C14;
        }

        ol {
            list-style-type: none;
            counter-reset: references;
            padding-left: 0;

            li {
                position: relative;
                counter-increment: references;
                padding-left: 1.5rem;

                &:before {
                    content: counter(references) ".";
                    position: absolute;
                    left: 0;
                    font-family: "Avenir LT W01_65 Medium1475532", "Helvetica Neue", Arial, sans-serif;
                }
            }
        }

        #reference-container {
            max-width: none;
        }
    }

  /* Default icon formatting */
  i {
    display: inline-block;
    font-style: normal;
    position: relative;
  }

  /* Additional formatting for arrow icon */
  i.arrow {
    width: 8px;
    height: 8px;
    border-right: 0.1em solid #ff8500;
    border-top: 0.1em solid #ff8500;
    transform: rotate(135deg);
    top: -3px;
    left: 6px;

    &:hover {
      border-right-color: #b35d00;
      border-top-color: #b35d00;
    }
  }
}
