/******************************************************************
Theme Name: FCB Responsive
Author: FCB Health
Author URI: http://www.fcbhealthcare.com 
Version: 1.23
******************************************************************/

/* just a test deployment */
div.warning {
    padding: 0 0 0 50px;
}
.warning span {
    background: url('/wp-content/uploads/warning-icon.png') no-repeat 0 0;
    padding-left: 50px;
    display: block;
    /*color: #FF8500;
    text-transform: uppercase;
    font: 12px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;*/
    margin-bottom: 8px;
    margin-top: 5px;
}
.study-design p {
    margin-bottom: 6px;
    line-height: 18px;
}
.study-design span, .references span, .formulation span {
    font: 14px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif; 
}
@media screen and (max-width:737px){
	 .legal {
		margin: 5px 0 0 0px;
		/*white-space: nowrap;*/
  	 }
	.footer-spacer {
		display: inline-block;
    		margin: 0 1px;
	}
}

@media screen and (max-width: 414px) {
        html,body {overflow-x: hidden;}
	.home-callout {
    		margin-top: 15px;
    		width: 100%;
	}
  	.home-callout img {
    		height: 100%;
    		margin: -68px -40px;
    		width: 24.1em;
	}
}

@media screen and (max-width: 384px) {
	.home-callout {
    		margin-top: 15px;
    		width: 100%;
	}
  	.home-callout img {
    		height: 100%;
    		margin: -68px -38px;
    		width: 22.36em;
	}
}

@media screen and (max-width: 375px) {
	.home-callout {
    		margin-top: 15px;
    		width: 100%;
	}
  	.home-callout img {
    		height: 100%;
    		margin: -68px -37px;
    		width: 21.73em;
	}
}

@media screen and (max-width: 320px) {
	.home-callout {
    		margin-top: 15px;
    		width: 100%;
	}
  	.home-callout img {
    		height: 100%;
    		margin: -68px -32px;
    		width: 18.54em;
	}
}

.page-id-177 .cta-isi-sidebar a span{
    display:none;
}


div#mti_wfs_colophon {
    display: none !important;
}

.resourceBtn {
  width: 243px;
  height: 43px;
  border: 2px solid #c65f1c;
  background: #fff;
  position: relative;
  cursor: pointer;
  left: 200px;
  top: -200px; }
  .resourceBtn span {
    position: absolute;
    color: #c65f1c;
    right: 13px;
    font-family: 'Avenir-Heavy';
    font-size: 21px;
    top: 6px; }
  .resourceBtn img {
    position: absolute;
    left: 12px;
    top: 2px; }

#resourceP2 {
  font-size: 16px !important;
  width: 40% !important;
  position: relative;
  left: 200px;
  top: -200px; 
margin-bottom: 20px;}


#resourceP1 {
  font-size: 19px !important;
  position: relative;
  left: 200px;
  top: -190px; 
margin-bottom: 17px;}

.resourceOverlay{
	margin-top: 30px;
}
@media only screen and (min-width: 737px) {
	.resourceOverlay{
	margin-bottom: -150px;
}
}

.resourceHeader{
	margin-top: 20px;
}

@media only screen and (max-width: 737px) {
  #resourceP1 {
    font-size: 20px !important;
    position: relative;
    left: 0px;
    top: 10px;
    margin-top: 10px !important; }
  #resourceP2 {
    font-size: 16px !important;
    width: 100% !important;
    position: relative;
    left: 0px;
    top: 0px; }
  .resourceBtn {
    width: 243px;
    height: 43px;
    border: 2px solid #c65f1c;
    background: #fff;
    position: relative;
    cursor: pointer;
    left: 0px;
    top: 0px;
    margin-bottom: 20px !important; }
    .resourceBtn span {
      position: absolute;
      color: #c65f1c;
      right: 13px;
      font-family: 'Avenir-Heavy';
      font-size: 21px;
      top: 6px; }
    .resourceBtn img {
      position: absolute;
      left: 12px;
       }
  .resourcesPage .leftContent {
    margin-bottom: 0px !important; } }


.grayTxt{
	color: #8a8a8d;
}

nav li.mobile-item-2 a{
background-color: #00b1ac !important;
	color: #fff !important;
}
.cta-title, .mobile-item-2 a{
	
text-transform: none !important}

.cta-text{
	line-height: 16px !important;
	margin-top: 3px;
	
}

@media only screen and (min-width: 767px) {
.cta-text{

	padding-right: 15px;
}
	
	.orangeColor{
	color: #FF8500;
}
	
}

@media screen and (max-width: 737px){
#hcp nav {
	margin-top: 54px !important;
	display: none;
}
	
	.unmetNeedImg{
		margin-bottom: 80px !important;
	}
	
	#hcp .breadcrumbs{
		display: none;
	}
}

@media screen and (max-width: 586px){
#hcp nav {
	margin-top: 52px !important;
}
}


@media screen and (max-width: 530px){
#hcp nav {
	margin-top: 45px !important;
}
}
@media screen and (max-width: 586px){
#hcp{
overflow-x: hidden;
}
}




.mobileMenu{
width: 100% !important;
	
	display: none;
	position: absolute;
	left: 0px;
	top: 188px;
	z-index: 9999 !important;
}

@media screen and (min-width: 738px){
	.mobileMenu{
	display: none !important;
	}
}

@media screen and (max-width: 640px){
.mobileMenu{
top: 185px;
}
}
	
	@media screen and (max-width: 525px){
.mobileMenu{
top: 182px;
}
}


@media screen and (max-width: 425px){
.mobileMenu{
top: 148px;
}
}

@media screen and (max-width: 414px){
  .mobileMenu {
      top: 150px;
  }
}

@media screen and (max-width: 320px){
  .mobileMenu {
      top: 145px;
  }
}



.mobileNav ul li{
	height: 40px;
	width: 100%;
	
	padding-top: 0px !important;
	padding-bottom: 0px !important;
		margin-top: 0px !important;
	margin-bottom: 0px !important;
	border-bottom: 1px solid #fff;
	cursor: pointer !important;
}

.mobileNav ul li a{
	color: #fff !important;
	font-size: 14px !important;
	line-height: 18px !important;
	font-family: "Avenir LT W01 95 Black" !important;

	height: 100% !important;
	position: relative;
	margin-left: 0px !important;
	padding-left: 10px !important;
	display: block !important;
	text-decoration: none !important;
	padding-top: 11px !important;
}

.orangeLi{
	background: #FF8500 !important;
}

.grayLi{
	background: #dfdfdf !important;
}

.blueLi{
	background: #154c92 !important;
}

.tealLi{
	background: #24a49c !important;
}

#orangeTxt{
	color:  #f86e00 !important;
}

.subNav {
	background: #fff !important;
	border-bottom: 1px solid #f86e00 !important;
}

.subNav #orangeTxt{
	padding-left: 20px !important;
}

.externalLinkButtons {
  background: #fff !important;
  border-bottom: 1px solid #fe7e2d !important; 
}

#externalLinkOrange {
  color: #fe7e2d !important;
}

.hiddenMobile{
	display: none !important;
}

@media screen and (min-width: 737px){
.ulListIsi{
	display: inline-block;

}

.ulListIsi li{
	display: inline-block;
	margin-right: 25px !important;
}
}

.mobileHomeImg{
	display: none;
}

@media screen and (max-width: 737px){
	.mobileHomeImg{
		display: block;
	}

	#patient #home-hand{
		display: none;
	}

	.sidebar-img{
		position: relative;
		top: 20px;
		left: 47%;
		transform: translateX(-50%);
	}

}

@media screen and (max-width: 430px){
	.mobileHomeImg{
		width: 106% !important;
		margin-left: -10px !important;
	}

	

}

#patient #isi h3, #patient #isi p, #patient #isi li{
	font-size: 15px !important;
}