
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin         : 0;
  padding        : 0;
  border         : 0;
  outline        : 0;
  font-size      : 100%;
  vertical-align : baseline;
  background     : transparent;
}

/* Fonts */
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=deba70c4-a3b6-4114-bad1-f411f11ea215");
    @font-face{
        font-family:"Avenir LT W01 55 Roman";

        src:url("/wp-content/themes/keryx/assets/Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
        src:url("/wp-content/themes/keryx/assets/Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"),url("/wp-content/themes/keryx/assets/Fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),url("/wp-content/themes/keryx/assets/Fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"),url("/wp-content/themes/keryx/assets/Fonts/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype"),url("/wp-content/themes/keryx/assets/Fonts/15281d0d-e3c2-46e1-94db-cb681e00bfaa.svg#15281d0d-e3c2-46e1-94db-cb681e00bfaa") format("svg");
    }
    @font-face{
        font-family:"Avenir LT W01 95 Black";
        src:url("/wp-content/themes/keryx/assets/Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix");
        src:url("/wp-content/themes/keryx/assets/Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix") format("eot"),url("/wp-content/themes/keryx/assets/Fonts/c78eb7af-a1c8-4892-974b-52379646fef4.woff2") format("woff2"),url("/wp-content/themes/keryx/assets/Fonts/75b36c58-2a02-4057-a537-09af0832ae46.woff") format("woff"),url("/wp-content/themes/keryx/assets/Fonts/b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf") format("truetype"),url("/wp-content/themes/keryx/assets/Fonts/93603a74-2be0-436c-83e1-68f9ef616eaf.svg#93603a74-2be0-436c-83e1-68f9ef616eaf") format("svg");
    }
    @font-face{
        font-family:"Avenir LT W01 65 Medium";
        src:url("/wp-content/themes/keryx/assets/Fonts/4030caeb-d266-4d36-ac58-a3bb7a5b1bfa.eot?#iefix");
        src:url("/wp-content/themes/keryx/assets/Fonts/4030caeb-d266-4d36-ac58-a3bb7a5b1bfa.eot?#iefix") format("eot"),url("/wp-content/themes/keryx/assets/Fonts/a2477e08-09d9-4d4b-97a9-23a1e22cb44c.woff2") format("woff2"),url("/wp-content/themes/keryx/assets/Fonts/19d12bba-92b1-43ad-9bab-cd36a4195c2a.woff") format("woff"),url("/wp-content/themes/keryx/assets/Fonts/5ba5a010-7470-4d9d-8a49-2920dc1be1f8.ttf") format("truetype"),url("/wp-content/themes/keryx/assets/Fonts/6d4a6a8c-ef50-422f-8456-88d479e0b23d.svg#6d4a6a8c-ef50-422f-8456-88d479e0b23d") format("svg");
    }
    @font-face {
      font-family: 'Avenir-Heavy';
      font-weight: 800;
      src: url("../../Fonts/ida-patient/Avenir-Heavy.eot");
      src: url("../../Fonts/ida-patient/AEH.ttf") format("truetype"), url("../../Fonts/ida-patient/Avenir-Heavy.eot?#iefix") format("embedded-opentype");
    }


    @font-face {
      font-family: 'Avenir-Heavy';
      font-weight: normal;
      src: url("../../Fonts/ida-patient/Avenir-Heavy.eot");
      src: url("../../Fonts/ida-patient/AEH.ttf") format("truetype"), url("../../Fonts/ida-patient/Avenir-Heavy.eot?#iefix") format("embedded-opentype"); }


body {
  line-height : 1;
}

ol, ul {
  list-style : none;
}

blockquote, q {
  quotes : none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content : '';
  content : none;
}

/* remember to define focus styles! */
:focus {
  outline : none;
}

a:focus, a:hover {
  outline         : none;
  text-decoration : none;
  color           : inherit;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration : none;
}

del {
  text-decoration : line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse : collapse;
  border-spacing  : 0;
}

.clear {
  clear   : both;
  margin  : 0;
  padding : 0;
}

.cf:before,
.cf:after {
  content : "";
  display : table;
}

.cf:after {
  clear : both;
}

.hidden {
  display : none;
}

.mobile {
  display : none;
}

.nowrap{
  white-space: nowrap;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Previous Animations
=========================
*/

.animC {
  -webkit-transition       : all 400ms ease;
  -moz-transition          : all 400ms ease;
  -ms-transition           : all 400ms ease;
  transition               : all 400ms ease;
  -webkit-transform-origin : 50% 0%;
  -moz-transform-origin    : 50% 0%;
  -ms-transform-origin     : 50% 0%;
  transform-origin         : 50% 0%;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Styles
=========================
*/

/*
  Dark Grey
  color: #5B6770;

  Blue
  color: #005F9E;

  Orange
  color: #FF8500;

  Font Families
  font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-family: 'Avenir LT W01 65 Medium', 'Helvetica Neue', Arial, sans-serif;
  font-family: 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;

*/

/*
=========================
  Globals
=========================
*/

body {
  font-family            : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  font-size              : 14px;
  line-height            : 19px;
  font-style             : normal;
  font-weight            : normal;
  -webkit-font-smoothing : antialiased;
  font-smoothing         : antialiased;
  color                  : #5B6770; /* dark gray */
  background             : #fafafa url('/wp-content/themes/keryx/assets/img/ida/hcpHomeBackGround.png') no-repeat top center;

}

a {
  text-decoration : none;
  color           : inherit;
}

sub {
  vertical-align : baseline;
  position       : relative;
  top            : 0.1em;
  font-size      : 0.9em;
}

sup {
  vertical-align : baseline;
  position       : relative;
  top            : -0.5em;
  font-size      : 0.6em;
}

.left {
  float : left;
}

.right {
  float : right;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Header
=========================
*/

header {
  width            : 100%;
  height           : 112px;
  background-color : rgba(255, 255, 255, 0.73);
}

#page-gateway header {
  width      : 100%;
  height     : auto; /* 440px */
  background : url(/wp-content/themes/keryx/assets/img/ida/content-white.png) repeat-y top center;
}

#page-gateway .gateway-top.container {
  height : auto;
}

#page-gateway .gateway-bottom.container {
  height   : 360px;
  position : relative;
}

#gateway-button-bg {
  margin-top  : 93px;
  margin-left : 20px;
}

#page-gateway h4 {
  position    : absolute;
  margin-top  : 55px;
  margin-left : 366px;
  font-size   : 17px;
}

a.gateway-callout-1,
a.gateway-callout-2 {
  position : absolute;
  width    : 278px;
  height   : 225px;
  top      : 93px;
  left     : 381px;
  padding  : 45px 25px 25px;
}

a.gateway-callout-2 {
  left : 690px;
}

#page-gateway .main_text {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 20px;
  line-height    : 19px;
  color          : white;
  display        : inline;
  padding-bottom : 10px;
  font-weight    : 700;
}

#page-gateway .sub_text {
  /* font-family    : 'Avenir LT W01 65 Medium', 'Helvetica Neue', Arial, sans-serif; */
  /* font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif; */
  font-family       : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 18px;
  padding-bottom : 10px;
  padding-top    : 6px;
}

#page-gateway .sub_text,
#page-gateway .body_text {
  color   : white;
  display : block;
}

#page-gateway .body_text {
  width : 70%;
}

#logo {
  float       : left;
  width       : 150px;
  height      : auto;
  margin-top  : 18px;
  margin-left : 15px;
}

#page-gateway #logo {
  width       : 240px;
  height      : auto;
  margin-top  : 160px;
  margin-left : 15px;
}

.header-links {
  float        : right;
  color        : #7d7d7d;
  text-align   : right;
  font-size    : 11px;
  margin-top   : 10px;
  margin-right : 15px;
}

.header-links a:hover {
  color           : #7d7d7d;
  text-decoration : underline;
}

.sep {
  padding : 0 5px;
}

.intent {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 11px;
  /* line-height    : 19px; */
  color          : #FF8500;
  text-transform : uppercase;
  text-align     : left;
  font-weight    : bold;
  width          : auto;
  height         : 20px;
  margin-top     : 33px;
  margin-right   : 15px;
  padding        :  4px 0 0 30px;
  background     : url(/wp-content/themes/keryx/assets/img/ida/intent.png) no-repeat;
  float          : right;
}

@media (min-width: 375px) and (max-width: 420px) {
.intent.mobile {
  font-size      : 10px;
}}

@media (min-width: 320px) and (max-width: 374px) {
.intent.mobile {
  font-size      : 8px;
}}

@media (max-width: 319px) {
  .intent.mobile {
    font-size      : 6px;
  }}

#page-gateway .header-links {
  float       : left;
  margin-top  : 10px;
  margin-left : 15px;
}

#page-gateway .intent {
  position   : absolute;
  margin-top : 0;
  float      : left;
  left       : 30px;
  top        : 50px;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Navigation

  -- Desktop
=========================
*/

nav {
  border-top       : 1px solid #dcdcdc;
  border-bottom    : 5px solid #005F9E;
  background-color : rgba(255, 255, 255, 0.73);
  height           : 73px;
}

nav ul {
  text-align : center;
}

nav li {
  position       : relative;
  vertical-align : middle;
  display        : inline-block;
}

nav li a {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 14px;
  text-transform : uppercase;
  background     : url('/wp-content/themes/keryx/assets/img/ida/header-active.svg') no-repeat 0 -100px;
  padding        : 25px 40px 25px;
}

#nav-kpp{
  text-transform: none !important;
}

nav li a:hover {
  /* background      : url('/wp-content/themes/keryx/assets/img/ida/header-active.svg') no-repeat center bottom; */
  color           : #FF8500;
  text-decoration : none;
}

#nav-home.active,
#nav-efficacy.active,
#nav-tolerability-and-safety.active,
#nav-dosing.active,
#nav-moa.active,
#nav-interactive-library.active,
#nav-sign-up.active {
  background      : url('/wp-content/themes/keryx/assets/img/ida/header-active.svg') no-repeat center bottom;
  color           : #FF8500;
  text-decoration : none;
}

.icon-home {
  display : block;
  width   : 25px;
  height  : 25px;
}

a#nav-home {
  padding : 21px 30px;
  display : inline-block;
}

.sub-buttons-container {
    width: 1000px;
    height: 52px;
    margin: 0 auto;
}
.sub-button {
    width: 500px;
    border-top: none;
    border-right: 3px solid #f19336;
    border-bottom: 3px solid #f19336;
    border-left: 3px solid #f19336;
    padding: 0;
    color: #f19336;
    float: left;
    background: url('/wp-content/themes/keryx/assets/img/ida/arrow-orange.png') 430px 15px no-repeat #fff;
    background-size: 25px auto;
    text-align: center;
    font-weight: bold;
}
.sub-button:nth-child(2) {
    width: 500px;
    border-right: 3px solid #f19336;
    border-bottom: 3px solid #f19336;
    border-left: none;
    float: right;
}
.sub-button a {
    display: block;
    text-decoration: none;
    color: #f19336;
    padding: 15px 0;
    cursor: pointer;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  HOME
=========================
*/

#callouts-home {
  background : url('/wp-content/themes/keryx/assets/img/ida/content-white.png') repeat-y top center;
}

#callout-hero {
  background    : url('/wp-content/themes/keryx/assets/img/ida/content-white.png') repeat-y top center;
  padding-left  : 0;
  padding-right : 0;
}

#callout-hero img {
  width : 1000px;
}

#callout-hero iframe {
  width  : 1000px;
  height : 350px;
}

.callout-hero-subtext {
  font-family : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size   : 14px;
  line-height : 16px;
  color       : #005F9E;
}

.callout-hero-header {
  font-family : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size   : 20px;
  line-height : 24px;
  color       : #ff8500;
  padding     : 0px 15px 10px 15px;
}

.callout-hero-intro {
  font-family : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  font-size   : 14px;
  line-height : 16px;
  color       : #ff8500;
  padding     : 0px 15px 10px 15px;
}

.callouts {
  padding-top : 20px;
}

.callout {
  width          : 300px;
  height         : 120px;
  margin-right   : 20px;
  border-top     : 6px solid #ff8500;
  border-bottom  : 1px solid #a6a6a8;
  margin-bottom  : 15px;
  padding-bottom : 10px;
  color          : #5B6770;
  position       : relative;
  padding-left   : 0;
}

.callout:hover {
  color           : #fff;
  background      : #ff8500;
  border-bottom   : 1px solid transparent;
  text-decoration : none;
}

.callout.callout-2 {
  border-top : 6px solid #FFD700;
}

.callout.callout-2:hover {
  background      : #FFD700;
  text-decoration : none;
}

.callout.callout-3 {
  border-top   : 6px solid #5B6770;
  margin-right : 0 !important;
}

.callout.callout-3:hover {
  background      : #5B6770;
  text-decoration : none;
}

.callout span {
  display : block;
}

span.callout-arrow-right.right {
  display       : inline-block;
  width         : 0;
  height        : 0;
  border-top    : 5px solid transparent;
  border-bottom : 5px solid transparent;
  border-left   : 7px solid #5B6770;
  margin-top    : 15px;
  margin-right  : 15px;
}

.callout .main_text {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 20px;
  line-height    : 24px;
  text-transform : uppercase;
  padding        : 9px 0 9px 14px;
  display        : inline-block;
}

.callout .sub_text {
  font-size    : 14px;
  line-height  : 19px;
  padding-left : 16px;
  color        : #5B6770;
}

.callout:hover .sub_text {
  color           : #fff;
  text-decoration : none;
}

.cta-isi-homepage {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 14px;
  text-align     : center;
  width          : 100%;
  margin-top     : 10px;
  padding-bottom : 10px;
}

.cta-isi-homepage a:hover {
  color : #333333;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/

/*
=========================
  ISI
=========================
*/

#isi-indications {
}

#isi-content {
  background    : url('/wp-content/themes/keryx/assets/img/ida/content-white.png') repeat-y top center;
  margin-bottom : 0;
}

#isi {
  padding-top    : 10px;
  padding-bottom : 10px;
}

#isi a, #isi h2 {
  color : #FF8500;
}

#isi h2, #isi h3, #isi strong {
  font-family : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-weight : normal;
  font-style  : normal;
}

.getaway-isi #isi h2, .getaway-isi #isi h3, .getaway-isi #isi strong {
  font-weight : 700;
}

#isi h2, #isi h3 {
  display        : block;
  margin         : 10px 0 4px;
  text-transform : uppercase;
}

#isi h3.isi-first {
  margin-top : 0;
}

#isi p {
  margin-bottom : 5px;
}

#isi a:hover {
  text-decoration : underline;
}

#isi ul li {
  list-style-position : outside;
  padding-left        : 20px;
  font-size           : 14px;
  line-height         : 18px;
  margin-bottom       : 5px;
  background          : url('/wp-content/themes/keryx/assets/img/ida/bullet.png') no-repeat 10px 5px;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Footer
=========================
*/
footer {
  background : url('/wp-content/themes/keryx/assets/img/ida/content.png');
  width      : 100%;
  height     : 120px;
  padding    : 15px 0;
  margin-top : 30px;
}

footer img {
  display : block;
  height  : 40px;
}

.footer-spacer {
  display : inline-block;
  margin  : 0 5px;
}

.footer-links {
  margin-top   : 0;
  padding-left : 100px;
}

.footer-links a {
  color : #FF8500;
}

.footer-links a:hover {
  color           : #FF8500;
  text-decoration : underline;
}

.footer-links li {
  display        : inline-block;
  margin-right   : 8px;
  color          : #FF8500;
  text-transform : uppercase;
}

#menu-footer-links {
  margin-left : 80px;
}

.footer-legal {
  padding-left : 0;
}

#footer-info {
  padding-left  : 0;
  padding-right : 0;

}





.legal {
  margin : 5px 0 0 0;
  text-align: center;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Overwrite Bootstrap CSS
=========================
*/

.container {
  width : 1000px;
}

.nav {
  width  : 100%;
  margin : 0 auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height : 19px;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Page Content
=========================
*/

section.page-content {
  background : url(/wp-content/themes/keryx/assets/img/ida/content-white.png) repeat-y top center;
}

#indication-banner {
  width            : 1000px;
  height           : 24px;
  background-color : #005F9E;
}

#indication-flag-left {
  position    : relative;
  width       : 20px;
  height      : 48px;
  float       : left;
  margin-left : -35px;
  margin-top  : 0;
  display     : block;
}

#indication-flag-right {
  position     : relative;
  width        : 20px;
  height       : 48px;
  float        : right;
  margin-right : -35px;
  margin-top   : 0;
  display      : block;
}

#indication-banner h2 {
  font-family : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size   : 14px;
  font-style  : normal;
  font-weight : normal;
  width       : 100%;
  color       : white;
  margin-left : 16px;
  float       : left;
}

#indication-banner h2 span {
  font-family: 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
}

.interior {
  background : url(/wp-content/themes/keryx/assets/img/ida/sidelines.png) no-repeat 880px 0;
}

.post-titles {
  padding-top   : 0;
  margin-bottom : 15px;
}

.post-titles h2 {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 26px;
  line-height    : 30px;
  color          : #FF8500;
  text-transform : uppercase;
  margin-bottom  : 0;
  margin-top     : 15px;
  display        : block;
}

.copy h2 {
  font-family   : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size     : 20px;
  line-height   : 24px;
  font-weight   : normal;
  font-style    : normal;
  color         : #FF8500;
  display       : block;
  margin-bottom : 20px;
}

.post-titles h2 span {
  font-family    : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 25px;
  line-height    : 24px;
  text-transform : lowercase;
}

.copy h2 span {
  font-family : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  font-size   : 20px;
  line-height : 24px;
}

.copy h4, .copy h3 {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-weight    : normal;
  font-style     : normal;
  color          : #5B6770;
  padding-bottom : 6px;
  border-bottom  : 1px solid #d8d8da;
  margin-bottom  : 10px;
}

.copy h6 {
  font-size   : 14px;
  line-height : 15px;
  margin-top  : 30px;
}

section.copy {
  padding-left  : 0;
  padding-right : 0;
}

section.page-content ul li {
  list-style-position : outside;
  padding-left        : 22px;
  font-size           : 14px;
  margin-bottom       : 5px;
  background          : url(/wp-content/themes/keryx/assets/img/ida/bullet.png) no-repeat 10px 5px;
}

.cta-links {
  margin-top : 15px;
}

.cta {
  width            : 220px;
  background-color : #fff;
  border-bottom    : 1px solid #a6a6a8;
  border-top       : 5px solid #FF8500;
  display          : block;
  margin-bottom    : 35px;
  color            : #5B6770;
}

.cta:hover {
  background-color : #FF8500;
  color            : #fff;
}

.cta-1 {
  border-top : 5px solid #FFD400;
}

.cta-1:hover {
  background-color : #FFD400;
}

.cta-2 {
  border-top : 5px solid #FF8500;
}

.cta-2:hover {
  background-color : #FF8500;
}

.cta-3 {
  border-top : 5px solid #5B6770;
}

.cta-3:hover {
  background : #5B6770;
}

.cta span {
  display : block;
}

.cta-title {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 16px;
  line-height    : 20px;
  text-transform : uppercase;
  padding        : 10px 15px 0;
}

.cta-text {
  font-size   : 13px;
  line-height : 14px;
  padding     : 3px 15px 20px;
}

.cta-isi-sidebar {
  font-family      : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size        : 11px;
  font-style       : normal;
  font-weight      : normal;
  width            : 220px;
  background-color : white;
  margin-left      : 5px;
  margin-top       : -35px;
  padding-top      : 15px;
}

.cta-isi-sidebar a:hover {
  color : #333333;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Tabs
=========================
*/

#tab-wrap img {
  max-width : 100%;
  height    : auto;
}

#page-dosing img {
  max-width : 100%;
  height    : auto;
}

img.dosing-bottle-img {
  float     : left;
  max-width : 46px !important;
}

#page-dosing h3 {
  border-bottom : none;
  padding-top   : 10px;
}

#page-dosing h3 span {
  color : #FF8500;
}

h3#page-dosing-first {
  border-bottom : none;
  padding-top   : 0;
}

.tab-names {
  border-bottom : 2px solid #FF8500;
}

.tab-names a {
  font-family      : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  font-style       : normal;
  font-size        : 12px;
  color            : #7d7d7d;
  display          : inline-block;
  padding          : 8px 18px;
  background-color : #f2f2f2;
}

.tab-names a:hover,
.tab-names a.active {
  background-color : #FF8500;
  color            : #fff;
}

.tab {
  padding          : 15px;
  display          : none;
  background-color : #f2f2f2;
  color            : #444;
  margin-bottom    : 20px;
}

.tab.active {
  display : block;
}

.copy .tab ul li {
  margin-bottom : 4px;
}

#tab-wrap ul li {
  list-style-position : outside;
  padding-left        : 20px;
  font-size           : 14px;
  margin-bottom       : 5px;
  background          : url(/wp-content/themes/keryx/assets/img/ida/bullet.png) no-repeat 10px 5px;
}

.tab h2,
.tab h3 {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 14px;
  line-height    : 19px;
  color          : #5B6770;
  padding-bottom : 10px;
  padding-top    : 5px;
  padding-left   : 5px;
  margin-bottom  : 0;
  border-bottom  : none;
}

.tab h2 {
  font-size      : 20px;
  padding-bottom : 15px;
  padding-top    : 0;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Trial Design section
=========================
*/

#trial-design div.collapse[aria-expanded="false"] {
  display  : block;
  height   : 155px !important;
  overflow : hidden;
}

#trial-design div.collapsing[aria-expanded="false"] {
  height : 155px !important;
}

@media (min-width: 320px) and (max-width: 399px)
{
  #trial-design div.collapse[aria-expanded="false"], #trial-design div.collapsing[aria-expanded="false"] {
    height   : 100% !important;
  }
}

@media (min-width: 400px) and (max-width: 575px)
{
  #trial-design div.collapse[aria-expanded="false"], #trial-design div.collapsing[aria-expanded="false"] {
    height   : 100% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px)
{
  #trial-design div.collapse[aria-expanded="false"], #trial-design div.collapsing[aria-expanded="false"] {
    height   : 100% !important;
  }
}
/* Need to refactor the layout to work without medi queries! */

#trial-design {
  background-color : rgba(255, 133, 0, 0.1);
  overflow         : hidden;
  padding          : 15px 15px 15px;
}

#trial-design img {
  max-width : 100%;
  height    : auto;
}

#trial-design span {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 14px;
  color          : #FF8500;
  text-transform : uppercase;
  display        : block;
  background     : url(/wp-content/themes/keryx/assets/img/ida/icon-trial-design.png) no-repeat 0 0;
  padding-left   : 20px;
  margin-bottom  : 5px;
}

#trial-design ul li {
  list-style-position : outside;
  padding-left        : 20px;
  font-size           : 14px;
  margin-bottom       : 5px;
  background          : url(/wp-content/themes/keryx/assets/img/ida/bullet.png) no-repeat 10px 5px;
}

#trial-design h3 {
  padding-bottom : 5px;
  padding-top    : 5px;
  margin-bottom  : 0;
  border-bottom  : none;
}

#trial-design p {
  padding-bottom : 5px;
}

#trial-design-expanded {
  opacity : 0;
  display : none;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Toggle Button Styles
=========================
*/

#trial-design-toggle {
  cursor          : pointer;
  /*position        : absolute;*/
  width           : 100%;
  display         : flex;
  justify-content : right;
  height          : 27px;
  bottom          : 10px;
  padding         : 10px;
  left            : 0;
}

#trial-design-toggle span {
  margin-left    : auto;
  background     : none;
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 12px;
  text-transform : none;
  color          : #FF8500;
  padding        : 0;
  user-select    : none;
}

.trial-design-arrow {
  background  : url(/wp-content/themes/keryx/assets/img/ida/efficacy/trial-design-arrow.png) no-repeat 0 0;
  width       : 20px;
  height      : 12px;
  margin-left : 20px;
  margin-top  : 3px;
}

#trial-design-toggle span.toggle-on {
  display : block;
}

#trial-design-toggle span.toggle-off {
  display : none;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  MOA Page Interactive
=========================
*/

#moa-interactive.flexcontainer {
  display : flex;
  opacity : 0;
}

.moa-img-list {
  width      : 42%;
  margin-top : 30px;
}

.moa-btn-list {
  width      : 50%;
  margin-top : 30px;
}

.moa-btn1 {
  background : url(/wp-content/themes/keryx/assets/img/ida/moa/moa-btn-1.png) 0 0;
  width      : 334px;
  height     : 57px;
  cursor: pointer;
}

.moa-btn2 {
  background : url(/wp-content/themes/keryx/assets/img/ida/moa/moa-btn-2.png) 0 0;
  width      : 334px;
  height     : 57px;
  cursor: pointer;

}

.moa-btn3 {
  background : url(/wp-content/themes/keryx/assets/img/ida/moa/moa-btn-3.png) 0 0;
  width      : 334px;
  height     : 57px;
  cursor: pointer;

}

.moa-img-list ul li img {
  position : absolute;
  width    : 265px;
  height   : 265px;
  left     : 0;
}

.moa-btn-list p {
  margin-left : 70px;
  margin-top  : -15px;
}

#moa-interactive ul li {
  background    : none;
  margin-bottom : 0;
}

.moa-legend {
  width: 115px;
}

.moa-legend p {
  float: right;
  padding-top: 4px;
  margin-right: 4px;
  font-size: 14px;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Library
=========================
*/

#library-items {
  display        : flex;
  flex-direction : column;
  margin-top     : 30px;
}

.library-item-content {
  margin-top : 40px;
}

#library-items h2,
#library-items h3 {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 20px;
  line-height    : 24px;
  font-weight    : normal;
  font-style     : normal;
  color          : #FF8500;
  padding-bottom : 0;
  border-bottom  : none;
  margin-bottom  : 10px;
}

#library-items h2 {
  font-family : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  font-size   : 19px;
  line-height : 23px;
  color       : #5B6770;
  display     : block;
}

#library-items a {
  margin-top : 10px;
}

.library-item-img1 {
  display          : inline-block;
  width            : 83px;
  height           : 190px;
  margin-right     : 20px;
  background-image : url(/wp-content/themes/keryx/assets/img/ida/library/library-img1.png);
}

.library-item-img2 {
  display          : inline-block;
  width            : 146px;
  height           : 189px;
  margin-right     : 20px;
  background-image : url(/wp-content/themes/keryx/assets/img/ida/library/library-img2.png);
}

.library-item-img3 {
  display          : inline-block;
  width            : 147px;
  height           : 189px;
  margin-right     : 20px;
  background-image : url(/wp-content/themes/keryx/assets/img/ida/library/library-img3.png);
}

.icon-download-pdf {
  display : inline-block;
  width   : 21px;
  height  : 18px;
}

.library-peacock {
  width        : 225px;
  height       : 245px;
  margin-right : 20px;
}

a.download-btn {
  display          : inline-block;
  width            : auto;
  font-family      : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  font-size        : 17px;
  font-weight      : bold;
  text-align       : center;
  text-transform   : uppercase;
  background-color : white;
  border           : 1px solid #005F9E;
  padding          : 6px 14px 7px 0;
}

a.download-btn span {
  float       : left;
  margin-left : 10px;
}

a.download-btn {
  color           : #005F9E;
  text-decoration : none;
}

a.download-btn:hover {
  color            : white;
  background-color : #005F9E;
}

/* added hover state for icon in JS file */
.icon-download-color {
  fill : #005F9E;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  References
=========================
*/

.references {
  background     : url(/wp-content/themes/keryx/assets/img/ida/content-white.png) repeat-y top center;
  padding-bottom : 20px;
}

.references span {
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size      : 14px;
  color          : #FF8500;
  text-transform : uppercase;
  background     : url(/wp-content/themes/keryx/assets/img/ida/icon-reference.png) no-repeat 0 0;
  padding-left   : 20px;
  display        : block;
  margin-bottom  : 5px;
}

.references ol li {
  list-style-type : decimal;
  margin-left     : 20px;
}

/*
=========================
============
=========================
============
=========================
============
=========================
============
=========================
*/
/*
=========================
  Mobile 992 START
=========================
*/

@media screen and (max-width : 992px) {
  .mobile {
    display : block;
  }

  .desktop {
    display : none;
  }

  .left, .right {
    float : none;
  }

  header {
    height        : auto;
    background    : rgba(255, 255, 255, 0.4) none;
    border-bottom : none;
  }

  #page-gateway .intent {
    position : initial;
  }

  #page-gateway #logo {
    width          : 40%;
    height         : auto;
    margin         : 0 auto;
    display        : block;
    padding-top    : 1%;
    padding-bottom : 1%;
  }

  #page-gateway h4 {
    position       : initial;
    text-align     : center;
    margin         : 0 auto;
    width          : 100%;
    font-size      : 17px;
    padding-bottom : 10px;
  }

  #page-gateway .gateway-bottom.container {
    height        : auto;
    position      : relative;
    padding-left  : 0;
    padding-right : 0;
  }

  a.gateway-callout-1,
  a.gateway-callout-2 {
    position      : initial;
    background    : #00518c;
    color         : #fff !important;
    float         : none;
    display       : block;
    padding       : 4.0% 2.5% 2.5%;
    border-bottom : 2px solid #fff;
    text-align    : left;
    width         : 100%;
    height        : auto;
    top           : 0;
    left          : 0;
  }

  a.gateway-callout-2 {
    background : #d06026;
  }

  #page-gateway .body_text {
    display : none;
  }

  #page-gateway .header-links {
    float        : none;
    margin-top   : 0;
    margin-left  : 10px;
    margin-right : 10px;
  }

  #page-gateway .gateway-arrow {
    display      : inline;
    padding-left : 100px;
    margin-top   : 10px;
    float        : right;
  }

  #logo {
    max-width : 260px;
    width     : 132px;
    margin    : 4.5% 0 15px 4.5%;
    float     : none;
  }

  #page-gateway #logo {
    width          : 200px;
    height         : auto;
    margin         : 35px auto 0px;
    padding-bottom : 2.25%;
  }

  .header-links {
    float         : none;
    text-align    : center;
    padding-right : 0;
    margin-top    : 0;
    margin-right  : 0;
  }

  .header-links a {
    background-color : #fff;
    width            : 46.5%;
    display          : inline-block;
    float            : none;
    padding          : 0;
    font-size        : 11px;
    line-height      : 0;
    color            : #5B6770;
    white-space      : nowrap;
  }

  .header-links a.desktop {
    display : none;
  }

  .intent {
    color      : #969696;
    text-align : center;
    margin     : 0;
    width      : 100%;
    height     : auto;
    /* padding    : 1% 2.5%; */
    background : #e9e9e9 none;
  }

  #page-gateway .header-links {
    width : 90%;
  }

  #page-gateway .intent {
    left : 0;
  }

  nav .menu {
    padding-left : 0;
  }

  #mobile-menu {
    background      : url('/wp-content/themes/keryx/assets/img/ida/mobile-menu-close.png');
    background-size : 100% 100%;
    width           : 40px;
    height          : 40px;
    z-index         : 9999;
    margin-right    : 15px;
    margin-top      : 4.5%;
    margin-bottom   : 0;
    float           : right;
  }

  #mobile-menu.open {
    background      : url('/wp-content/themes/keryx/assets/img/ida/mobile-menu-open.png');
    background-size : 100% 100%;
  }

  #navigation {
    position : relative;
  }

  nav {
    position      : absolute;
    top           : 0;
    margin        : 0;
    border-top    : 5px solid #005F9E;
    border-bottom : none;
    z-index       : 9999;
    width         : 100%;
    height        : auto;
    background    : transparent;
    display       : none;
  }

  nav.mobile-open {
    display                  : block;
    -webkit-transition       : all 400ms ease;
    -moz-transition          : all 400ms ease;
    -ms-transition           : all 400ms ease;
    transition               : all 400ms ease;
    -webkit-transform-origin : 50% 0%;
    -moz-transform-origin    : 50% 0%;
    -ms-transform-origin     : 50% 0%;
    transform-origin         : 50% 0%;
  }

  nav li {
    float   : none;
    z-index : 9999;
    display : block;
  }

  nav li a {
    background    : #FF8500;
    color         : #fff !important;
    float         : none;
    display       : block;
    padding       : 2.5%;
    border-bottom : 2px solid #fff;
    text-align    : left;
  }

  nav li a:hover {
    background : #FF8500;
    color      : #5B6770 !important;
  }

  a#nav-home {
    display : none;
  }

  #nav-home.active,
  #nav-efficacy.active,
  #nav-tolerability-and-safety.active,
  #nav-dosing.active,
  #nav-moa.active,
  #nav-interactive-library.active,
  #nav-sign-up.active {
    background : #FF8500;
    color      : #5B6770 !important;
  }

  nav li a#nav-ida {
    background : #C75F1C;
  }

  nav li a#nav-ida:hover {
    color : #dcdcdc !important;
  }

  nav li a#nav-kpp {
    background : #e5e5e5;
    color      : #FF8500 !important;
  }

  nav li a#nav-for-patients {
    background : #e5e5e5;
    color      : #FF8500 !important;
  }

  nav li a#nav-kpp:hover {
    color : #5B6770 !important;
  }

  nav li a#nav-for-patients:hover {
    color : #5B6770 !important;
  }

  #nav-pharm, #nav-benefits {
    background: #fff !important;
    border-bottom: 2px solid #fe7e2d !important;
    color: #fe7e2d !important;
  }

  #callout-hero img {
    display : block;
    width   : 100%;
    margin  : auto;
    float   : none;
  }

  #callout-hero .desktop {
    display : none;
  }

  #callout-hero iframe {
    display : none;
  }

  .callout {
    height        : auto;
    padding       : 2% 0;
    margin        : auto;
    margin-bottom : 20px;
    display       : block;
    width         : 100%;
  }

  .callout-hero-subtext {
    display : inline-block;
  }

  span.callout-arrow-right.right {
    margin : 3px;
  }

  footer {
    height : auto;
  }

  .footer-links {
    margin-top : 10px;
  }

  #menu-footer-links {
    margin-left : 0;
    text-align  : center;
  }

  /* Overwrite Bootstrap */
  .col-md-12.col-centered,
  .col-md-3 {
    padding-left  : 0;
    padding-right : 0;
  }

  .container {
    width : 100%;
  }

  #indication-banner {
    width  : 100%;
    height : 26px;
  }

  #indication-banner h2 {
    text-align  : center;
    position    : relative;
    font-size   : 14px;
    padding-top : 3px;
    margin      : 0;
  }

  #indication-flag-left,
  #indication-flag-right {
    display : none;
  }

  .interior {
    background : none;
  }

  .post-titles {
    margin-bottom : 5px;
  }

  .post-titles h2 {
    font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    font-size      : 19px;
    line-height    : 20px;
    margin-top     : 20px;
    padding-bottom : 15px;
  }

  .post-titles h2 span {
    font-family    : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
    font-size      : 19px;
    line-height    : 20px;
    text-transform : lowercase;
  }

  .copy h2 {
    font-family : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    font-size   : 15px;
    line-height : 17px;
    padding-top : 0;
  }

  .copy h2 span {
    font-family : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
    font-size   : 15px;
    line-height : 17px;
  }

  .cta-links {
    margin-top : 15px;
  }

  .cta {
    width : 100%;
  }

  .cta-text {
    padding   : 5px 15px 15px;
    font-size : 13px;
  }

  .cta-isi-sidebar {
    width      : 100%;
    text-align : center;
  }

  #trial-design img,
  #tab-wrap img,
  #page-dosing img {
    width  : 100%;
    height : auto;
  }

  #moa-interactive.flexcontainer {
    display : flex;
    opacity : 0;
  }

  .moa-holder {
    padding-bottom : 25px;
  }

  img.moa-img1-mobile, img.moa-img2-mobile, img.moa-img3-mobile {
    width      : 125px;
    margin-top : -10px;
  }

  p.moa-txt1, p.moa-txt2, p.moa-txt3 {
    width        : 55%;
    display      : inline-block;
    float        : right;
    border-top   : #5c6871 solid 3px;
    font-size    : 12px;
    line-height  : 15px;
    padding-top  : 10px;
    padding-left : 5px;
  }

  .moa-legend p {
    margin-right: 15px;
    font-size: 12px;
  }

  #library-items {
    margin-top : 10px;
  }

  .library-item-content {
    margin-top : 0;
  }

}

/*
=========================
  Mobile 992 END
=========================
*/
/*
=========================
  Mobile 1024 START
=========================
*/
@media screen and (max-width : 1024px) {
  #indication-flag-left,
  #indication-flag-right {
    display : none;
  }
}

/*
=========================
  Mobile 1024 END
=========================
*/

.rightSide{
 position: relative;
 left: 60px;
 top: 50px;
}

.hyperFlag, .idaFlag{
  position: relative;


}

.hyperFlag{
  margin-top: 7px !important;
  /* margin-left: -3px; */
}

.ida-Hcp, .ida-patient{
  height: 57px;
  width: 189px;
  position: absolute;
  background: #00518a;
  color: #fff;
 cursor: pointer;
 font-size: 12px;
 font-family:"Avenir LT W01 95 Black";
 font-weight: 600;
}

.ida-Hcp{
  top: 19px;
  right: 92px;
  border: 1px solid #fff;
}

.ida-patient{
  bottom: 22px;
  right: 92px;
  border: 1px solid #fff;
}


.hyper-Hcp, .hyper-patient{
  height: 58px;
  width: 189px;
  position: absolute;
  background: #da7232;
  color: #fff !important;
 cursor: pointer;
 font-family:"Avenir LT W01 95 Black";
 font-size: 12px;
 font-weight: 900;

}

.hyper-Hcp{
  top: 19px;
  right: 92px;
  border: 1px solid #fff;
}

.hyper-patient{
  bottom: 22px;
  right: 92px;
  border: 1px solid #fff;
}

.leftIcon{
  position: relative;
  top: 3px;
  left: -5px;
}

.patientTxt{
  position: relative !important;
 top: -4px !important;
}

.arrowIcon{
  position: relative;
  left: 8px;
  top: 2px;
}

.arrowIconIDA{
 position: relative !important;
 margin-left: 8px !important;
 top: -2px !important;
}

.idaText{
  position: absolute;
  top: 43px;
  left: 359px;
  width: 320px;

}

.idaHr{
  margin:7px 0px 13px 0px;
  border-top: 1.5px solid #7faece;

}

.idaTxtHead{
  font-size: 15px;
  color: #00518a;
  font-family:"Avenir LT W01 95 Black";
}

.idaTxtBody{
  font-size: 13px;
  font-family:"Avenir LT W01 55 Roman";
  line-height: 16px;
}

.hyperFlag .idaText{
  position: absolute;
  top: 43px;
  left: 359px;
  width: 320px;

}

.hyperFlag .idaHr{
  margin:7px 0px 13px 0px;
  border-top: 1.5px solid #ecb899;

}

.hyperFlag .idaTxtHead{
  font-size: 15px;
  color: #da7232;
  font-family:"Avenir LT W01 95 Black";
}

.hyperFlag .idaTxtBody{
  font-size: 13px;
  font-family:"Avenir LT W01 55 Roman";
  line-height: 16px;
}

.rightSide{
  opacity: 0;
  transition: opacity .05s ease-in-out;
   -moz-transition: opacity .05s ease-in-out;
   -webkit-transition: opacity .05s ease-in-out;
}



.rightSide .btn:hover{
  color: #fff !important;
}


.rightSide .btn{
  border-radius: 0px !important;
  color: #fff !important;
}



.desktopNav, .footerDesktop {
  display: block; }

.mobileNav, .footerMobile {
  display: none; }

@media only screen and (max-width: 991px) {

  .desktopNav, .footerDesktop {
    display: none; }
  .footerMobile {
    display: block; }
  .mobileNav {
    display: block; }
    }


      .mobileFootUl .borderRightFooter {
        width: 2px;
        height: 15px;
        background: #f6861f;
        position: relative;
        top: 10px; }


        .mobileCopyRight .marginFooter {
          width: 20px; }

          .borderRightFooterDesktop {
            width: 1px;
            height: 15px;
            background: #f6861f;
            position: relative;
            top: 45px; }





            .footerContainer {
              width: 100% !important;
              background: rgba(255, 255, 255, 0.97);
              padding: 0px;
              margin: 0px;
              height: 115px; }
              .footerContainer .innerContainer {
                position: relative;
                overflow: hidden; }
              .footerContainer .footerLinks a {
                position: relative;
                top: 35px;
                font-size: 14px;
                color: #ff9522;
                font-family: 'Avenir-Medium'; }
              .footerContainer .footerText p {
                position: relative;
                top: 25px;
                font-size: 10.5px;
                color: #5a6870;
                font-family: 'Avenir-Medium'; }
              .footerContainer .footerLogo {
                position: absolute;
                right: 0px;
                top: 30px;
                opacity: 0.7; }





            .footerDesktop, html {
              overflow-x: hidden !important; }


@media only screen and (max-width: 1199px) {
.rightSide .btn{
  right: 39px;
}




}

@media only screen and (min-width: 991px) {
  .footerText{
   margin-top: 0px !important;
  }

  .footerLinks{
    margin-top: -5px !important;
  }
}

.footerBg{
  margin-top: 20px !important;
}


.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none;
  box-shadow:none;
}

.ctaSectionMobile{
  display: none;
}

@media only screen and (max-width: 992px) {

  .keyxNav{
    position: absolute;
    left: -32px;
    top: 25px;
  }
  .ctaSectionMobile{
    display: block;
  }


.rightSide{
  display: none;
}

.container{

  min-width: 100% !important;
}

.intent{
  margin-top: 23px !important;
}
}

.boxOne, .boxTwo{
  height: 156px;
  width: 100%;
  position: relative;

}

.chooseTxt{
  width: 100%;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 5px !important;
  font-size: 15px;
  font-family:"Avenir LT W01 95 Black" !important;
}

.boxOne{
  position: relative;
  margin-bottom: 3px;
  border-top: 1px solid black;
}

.ida-HcpMobile, .ida-patientMobile{
  width: 100%;
  position: relative;
  border-radius: 0px;
  height: 40px;
  color: #fff !important;
  background: #00518a;
}



.arrowIconMobile{
  position: absolute;
  right: 30px;
  top:50%;
  transform: translateY(-50%);
}

.buttonOverlay{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.ida-HcpMobile{
  position: relative;
  top: -2px !important;
}


.ida-HcpMobile2, .ida-patientMobile2{
  width: 100%;
  position: relative;
  border-radius: 0px;
  height: 40px;
  color: #fff !important;
  background: #da7232;



}

.ida-HcpMobile2{
  position: relative;
  top: -2px !important;
}

.boxOne p{
  text-align: center;
  width: 100%;
  font-family:"Avenir LT W01 95 Black";
 font-size: 18px;
 line-height: 21px;
 position: relative;
 top: 15px;

  color: #00518a;
}


.boxOne p span{
  font-family:"Avenir LT W01 55 Roman" !important;
}

.boxTwo p{
  text-align: center;
  width: 100%;
  font-family:"Avenir LT W01 95 Black";
 font-size: 18px;
 line-height: 21px;
 position: relative;
 top: 15px;

  color: #da7232;
}

.boxTwo span{
  font-family:"Avenir LT W01 55 Roman";
}

.mobileBtnSpan{
  position: absolute;
  left: 20px;
  top:50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #fff !important;
  font-family:"Avenir LT W01 95 Black" !important;
}

.footerMobile{
  background: #fff;
  opacity: 0.97;
  height: 170px;
  position: relative;
}

.mobileCopyRight{
  position: relative;
  top: 68px;
  width: 190px;
  font-weight: 600;
  font-size: 12px !important;
  line-height: 14px !important;
}

.mobileTopFooter{
  margin-bottom: -20px !important;
}



.mobileFootUl{
  color: #f6861f;
  font-weight: 600;
}

.homeFooterMobile{
  position: absolute;
 left: 50% !important;
 transform: translateX(-50%) !important;
 bottom: 10px;
 width: 325px !important;
}

.lightCopy{
  font-family:"Avenir LT W01 55 Roman" !important;
  font-weight: 100 !important;
}

.footerBg .innerContainer ul li a{
  font-family:"Avenir LT W01 55 Roman" !important
}

.footerText li p{
  font-family:"Avenir LT W01 55 Roman" !important
}



@media screen and (min-width : 991px) {
  .footerDesktop{
    height: 114px !important;
  }

  .footerLinks{
    margin-left: -22px !important;
  }


  .footerText{
    margin-left: -23px !important;

  }


.footerImgLogo{
  width: 125px !important;
  position: absolute;
right: 60px;
margin-top: 33px !important;
}

}
.blueFlag, .orangeFlag{
  margin-left: 50px !important;
}

@media screen and (max-width : 991px) {

.footerImgLogo{
  width: 125px !important;
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
  margin-top: 7px;
}

.mobileFootCode{
}

}

/* IDA */

@media screen and (min-width : 991px) {


#footer-info {
  position: relative;
  left: 45% !important;
  transform: translateX(-50%) !important;
  }

}

#footer-info .idaFooterMenu-Item a{
  text-decoration: none !important;
  font-size: 14px;

}

.idaMenu{
  margin-top: 20px;
}

.idaFooterMenu-Item{
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

.idaMenu .borderRightFooterDesktop{
  position: absolute;
  right: -7px;
  top: 0px;
}

.idaLegal{
  font-size: 10.5px;
}

.idaFooterImg{
  position: relative;
  margin-top: 26px;
  opacity: 0.9;
  left: 130px;
}


@media screen and (max-width : 992px) {

  .desktopBrIDA{
    display: none;
  }
  .mobileRemove{
    display: none;
  }
  .idaFooterImg{
    all: unset !important;
    position: absolute !important;
   top: -90px !important;
    opacity: 0.9;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  .mobileOverlayIDA{
    position: relative;
    margin-top: 50px !important;
  }
  .sub-buttons-container {
    display: none;
  }
}

@media screen and (max-width : 611px) {

  .idaFooterImg{

   top: -110px !important;

  }

}

#nav-patients-blue{
  background: #e6e8e8;
  color: #da7232 !important;
}

#nav-kpp{
  background: #00b1ac !important;


}
#nav-kpp span, #nav-patients-blue a{
color: #fff !important;
}


.isiHeaderLinks{
  position: absolute !important;
  right: 0px !important;
}

#intentIsi{
  position: absolute !important;
  right: 0px !important;
  left: unset !important;
  background: none !important;
  margin-top: -20px !important;
}

.isiSafety{
  padding-top: 60px;
}

#Isilogo{
  position: relative;
  top: 40px;
  left: 20px;
}

@media screen and (max-width : 991px) {

  #Isilogo{
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 70px;
  }
}

.idahcpError .interior{
  background: none;
}

.idahcpErrorBtn{
  font-family    : 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
}

.idahcpErrorh3{
  font-family    : 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
}

@media screen and (max-width : 441px) {
  .idahcpErrorBtn{
    width: 350px !important;
    font-size: 19px !important;
  }

  .idahcpErrorh3{
margin-top: -10px !important;
  }

}


/* Safari 10.1+ */
@media screen and (max-width : 991px) {
@media not all and (min-resolution:.001dpcm) { @media {

  .auryxiaDefault .gtm-footer {

font-size: 12px;

  }
}}

.mobileCopyRight{
  width:215px !important;
}

}


/* added to fix homepage */
/*.nav>li>a {*/
/*  position: relative;*/
/*  display: block;*/
/*  padding: 10px 15px;*/
/*}*/

/*.nav>li>a:focus, .nav>li>a:hover {*/
/*  text-decoration: none;*/
/*  background-color: #eee;*/
/*}*/

@media screen and (min-width: 993px) {
  #logo{
    width: 180px !important;
    margin-left: 75px !important;
  }

  .idaFlag, .hyperFlag {
    min-height: 153px;
  }
}

#mti_wfs_colophon {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .asn-container {
    padding: 0;
  }
}

.asn-banner {
  margin-top: 35px;
  margin-bottom: 25px;
  background-color: #E6E6E6;
  background : url(/wp-content/themes/keryx/assets/img/ida/asn-banner-bg-sm.jpg);
  background-size: contain;
  text-align: center;
  padding: 18px 40px 25px;
}

@media screen and (min-width: 768px) {
  .asn-banner {
    background : url(/wp-content/themes/keryx/assets/img/ida/asn-banner-bg-lg.jpg);
    background-size: contain;
  }
}

@media screen and (min-width: 768px) {
  .asn-banner {
    padding: 18px;
  }
}

.asn-banner h2 {
  color: #6D6D6D;
  font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size: 19px;
  line-height: 1.35;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .asn-banner h2 {
    margin-bottom: 0;
  }
}



.asn-banner h2 span {
  display: block;
}

@media screen and (min-width: 768px) {
  .asn-banner h2 span {
    display: inline-block;
  }
}

.asn-banner .asn-cta {
  font-family: "Avenir-Heavy", "Helvetica Neue", Arial, sans-serif;
  color: #FF8500;
  font-size: 16px;
  text-decoration: underline;
}
