<section class='container'>
        <div class="col-md-12 col-centered">
            <div id="isi">
                <section id='isi-indications'>
                    <h2>Indications</h2>
                    <p> AURYXIA<sup>®</sup>&nbsp;(ferric citrate) is indicated for:</p>
                    <ul>
                            <li style="margin-left: -10px;">The control of serum phosphorus levels in adult patients with chronic kidney disease on dialysis</li>

                        <li style="margin-left: -10px;">The treatment of iron deficiency anemia in adult patients with chronic kidney disease not on dialysis</li>
                    </ul>
                </section>
                <div id='isi-start'></div>
                <h2>Important Safety Information</h2>
                <h3 class="isi-first">CONTRAINDICATION</h3>
                <p> AURYXIA<sup>®</sup> (ferric citrate) is contraindicated in patients with iron overload syndromes, e.g., hemochromatosis</p>
                <h3>WARNINGS AND PRECAUTIONS</h3>
                <ul>
                    <li style="margin-left: -10px;"><strong>Iron Overload:</strong> Increases in serum ferritin and transferrin saturation (TSAT) were observed in clinical trials with AURYXIA in patients with chronic kidney disease (CKD) on dialysis treated for hyperphosphatemia, which
                        may lead to excessive elevations in iron stores. Assess iron parameters prior to initiating AURYXIA and monitor while on therapy. Patients receiving concomitant intravenous (IV) iron may require a reduction in dose or discontinuation
                        of IV iron therapy</li>
                    <li style="margin-left: -10px;"><strong>Risk of Overdosage in Children Due to Accidental Ingestion:</strong> Accidental ingestion and resulting overdose of iron-containing products is a leading cause of fatal poisoning in children under 6 years of age. Advise patients
                        of the risks to children and to keep AURYXIA out of the reach of children</li>
                </ul>
                <h3>ADVERSE REACTIONS</h3>
                <p>The most common adverse reactions reported with AURYXIA in clinical trials were:</p>
                <ul>
                        <li style="margin-left: 10px;"><span style="text-decoration: underline;">Hyperphosphatemia CKD on Dialysis</span>: Diarrhea (21%), discolored feces (19%), nausea (11%), constipation (8%), vomiting (7%) and cough (6%)</li>
                    <li style="margin-left: 10px;"><span style="text-decoration: underline;">Iron Deficiency Anemia in CKD Not on Dialysis</span>: Discolored feces (22%), diarrhea (21%), constipation (18%), nausea (10%), abdominal pain (5%) and hyperkalemia (5%)</li>
                </ul>
                <h3>SPECIFIC POPULATIONS</h3>
                <ul>
                    <li style="margin-left: -10px;"><strong>Pregnancy and Lactation:</strong> There are no available data on AURYXIA use in pregnant women to inform a drug-associated risk of major birth defects and miscarriage. However, an overdose of iron in pregnant women may carry a
                        risk for spontaneous abortion, gestational diabetes and fetal malformation. Data from rat studies have shown the transfer of iron into milk, hence, there is a possibility of infant exposure when AURYXIA is administered to a nursing woman
                    </li>
                </ul>
                <p>To report suspected adverse reactions, contact Akebia Therapeutics, Inc. at <a href="tel:1-844-445-3799" data-element="default" data-category="ISI" data-action="Click to Call" data-label="Phone Call">1-844-445-3799</a></p>
                <p><strong>Please see full <a href="/wp-content/uploads/Auryxia_PI_Keryx.pdf" target="_blank" data-element="default" data-category="ISI" data-action="Click" data-label="Full PI">Prescribing Information</a></strong></p>
            </div>
        </div>
    </section>
