<div id='indication-flag-left' >
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="50" viewBox="0 0 20 50">
    <polyline points="0 24 20 24 20 50" fill="#69c"/>
    <rect width="20" height="24" fill="#005F9E"/>
  </svg>
</div>
<div id='indication-flag-right' >
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="50" viewBox="0 0 20 50">
    <rect width="20" height="24" fill="#005F9E"/>
    <polyline points="20 24 0 24 0 50" fill="#69c"/>
  </svg>
</div>
<h2>Iron Deficiency Anemia <span>CKD Not On Dialysis</span></h2>