<nav>
    <div id="menu" class="nav">
        <ul>
            <li>
                <a href="/iron-deficiency-anemia" id='nav-home' alt='Home' data-element="default" data-category="Header" data-action="Click" data-label="Home">
                    <span class="icon-home">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19.65" viewBox="0 0 18 19.65">
              <path class="icon-home-fill" d="M18.7,22H6.3c-.2,0-.3-.1-.3-.2V12.4a.2151.2151,0,0,1,.2-.2h.7a.2151.2151,0,0,1,.2.2v8.3a.2151.2151,0,0,0,.2.2H17.5a.2151.2151,0,0,0,.2-.2V12.4a.2151.2151,0,0,1,.2-.2h.7a.2151.2151,0,0,1,.2.2v9.4C19,21.9,18.9,22,18.7,22Z" transform="translate(-3.55 -2.65)"/>
              <path class="icon-home-fill" d="M18.7,22.3H6.3a.4724.4724,0,0,1-.5-.5V12.4a.4724.4724,0,0,1,.5-.5H7a.4724.4724,0,0,1,.5.5v8.2H17.6V12.4a.4724.4724,0,0,1,.5-.5h.7a.4724.4724,0,0,1,.5.5v9.4A.56.56,0,0,1,18.7,22.3ZM6.3,21.7H18.6V12.4h-.5v8.2a.4724.4724,0,0,1-.5.5H7.4a.4724.4724,0,0,1-.5-.5V12.4H6.3Z" transform="translate(-3.55 -2.65)"/>
              <path class="icon-home-fill" d="M21.1,11.5l-.4.5a.1875.1875,0,0,1-.3,0c-.8-.7-1.6-1.5-2.3-2.2-.1-.1-.1-.3-.2-.4V6.1a.2151.2151,0,0,0-.2-.2h-1a.2151.2151,0,0,0-.2.2V7.6c0,.2-.2.3-.4.2C15,6.7,13.9,5.7,12.8,4.7a.1875.1875,0,0,0-.3,0c-1,1-6.6,6.3-7.7,7.3a.1875.1875,0,0,1-.3,0L4,11.5a.1875.1875,0,0,1,0-.3c2.8-2.7,5.6-5.4,8.5-8.1a.1875.1875,0,0,1,.3,0c.7.7,1.4,1.3,2.1,2a.271.271,0,0,0,.4-.2.2151.2151,0,0,1,.2-.2h3.4a.2151.2151,0,0,1,.2.2V8.8a.7581.7581,0,0,0,.2.4c.6.6,1.3,1.2,1.9,1.9A.6012.6012,0,0,1,21.1,11.5Z" transform="translate(-3.55 -2.65)"/>
              <path class="icon-home-fill" d="M20.5,12.3a.6012.6012,0,0,1-.4-.1l-.4-.4c-.6-.6-1.3-1.2-1.9-1.8a.7347.7347,0,0,1-.2-.6V6.2h-.9V7.7a.55.55,0,0,1-.3.5.6613.6613,0,0,1-.6-.1L12.6,5,5,12.3c-.1.1-.2.2-.4.1a.7581.7581,0,0,1-.4-.2l-.5-.5a.6083.6083,0,0,1,0-.8l8.5-8.1a.4833.4833,0,0,1,.7,0l2,1.9a.6644.6644,0,0,1,.5-.4h3.4a.4724.4724,0,0,1,.5.5v4c0,.1,0,.2.1.2.5.5,1.1,1,1.6,1.5l.4.3a.6048.6048,0,0,1,0,.8l-.5.5A.3992.3992,0,0,1,20.5,12.3ZM16.6,5.5h1a.4724.4724,0,0,1,.5.5V9.3c0,.1,0,.2.1.2.6.6,1.3,1.2,1.9,1.8l.4.4.4-.4-.3-.3c-.5-.5-1.1-1-1.6-1.5a.8643.8643,0,0,1-.3-.6V5H15.5c0,.2-.1.3-.3.4a.6613.6613,0,0,1-.6-.1l-2.1-2-8.4,8,.4.4,7.6-7.3a.4833.4833,0,0,1,.7,0l3.2,3V6.1A.6452.6452,0,0,1,16.6,5.5Z" transform="translate(-3.55 -2.65)"/>
            </svg>
          </span>
                </a>
            </li>
            <li>
                <a href="/iron-deficiency-anemia/efficacy" id='nav-efficacy' alt='Efficacy' data-element="default" data-category="Header" data-action="Click" data-label="Efficacy">
                    <span>Efficacy</span>
                </a>
            </li>
            <li>
                <a href="/iron-deficiency-anemia/tolerability-and-safety" id='nav-tolerability-and-safety' alt='Safety' data-element="default" data-category="Header" data-action="Click" data-label="Safety">
                    <span>Safety</span>
                </a>
            </li>
            <li>
                <a href="/iron-deficiency-anemia/dosing" id='nav-dosing' alt='Dosing' data-element="default" data-category="Header" data-action="Click" data-label="Dosing">
                    <span>Dosing</span>
                </a>
            </li>
            <li>
                <a href="/iron-deficiency-anemia/moa" id='nav-moa' alt='MOA' data-element="default" data-category="Header" data-action="Click" data-label="MOA">
                    <span>MOA</span>
                </a>
            </li>
            <li>
                <a href="/iron-deficiency-anemia/interactive-library" id='nav-interactive-library' alt='Library' data-element="default" data-category="Header" data-action="Click" data-label="Library">
                    <span>Library</span>
                </a>
            </li>
            <li>
                <a href="/iron-deficiency-anemia/patient" id='nav-patients-blue' class='mobile' data-element="default" data-category="Header" data-action="Click" data-label="Keryx Patient Plus">
                    <span>FOR PATIENTS</span>
                </a>
            </li>
            <li>
                <a href="/akebiacares/" id='nav-kpp' class='mobile' data-element="default" data-category="Header" data-action="Click" data-label="Keryx Patient Plus">
                    <span>AkebiaCares</span>
                </a>
            </li>
            <li>
                <a href="/hyperphosphatemia" id='nav-ida' class='mobile' data-element="default" data-category="Header" data-action="Click" data-label="Hyperphosphatemia">
                    <span>HYPERPHOSPHATEMIA</span>
                </a>
            </li>
            <li>
                <a href="http://www.auryxiarxlocator.com" target="_blank" id='nav-pharm' class='mobile' data-element="default" data-category="Header" data-action="Click" data-label="Pharmacy Locator">
                    <span>SPECIALTY PHARMACY LOCATOR</span>
                </a>
            </li>
            <li>
                <a href="https://akebiarxcoverage.caremetx.com/" target="_blank" id='nav-benefits' class='mobile' data-element="default" data-category="Header" data-action="Click" data-label="Benefits Portal">
                    <span>PRESCRIPTION BENEFITS PORTAL</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
