// global
.page-template-template-akebiacares {
  .menu-item-has-children > a:hover {
    @include media('<769px') {
      background: #00b1ac !important;
    }
  }

  .nobreak {
    white-space: nowrap;
  }
}


// Akebia Cares Homepage
.page-id-4019 {

  @include media('<769px') {
    .callout-1:hover {
      color: #fff !important;
      background: #005072 !important;
      border-bottom: 1px solid transparent;
    }
    .callout-2:hover {
      color: #fff !important;
      background: #00B1AC !important;
      border-bottom: 1px solid transparent;
    }
    .callout-3:hover {
      color: #fff !important;
      background: #747679 !important;
      border-bottom: 1px solid transparent;
    }
  }
}
// patient information
.page-id-4027 {
  .nobreak {
    color: #005072;
  }
}

// patient coverage
.page-id-4025 {
  @include media('<769px') {
    .cf .tablet-text {
      width: 90%;
      @include media('<670px') {
        width: 85%;
      }
      @include media('<500px') {
        width: 80%;
      }
    }
  }
}
