﻿@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=deba70c4-a3b6-4114-bad1-f411f11ea215");
@font-face{
  font-family:"Avenir LT W01 55 Roman";

  src:url("/wp-content/themes/keryx/assets/Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
  src:url("/wp-content/themes/keryx/assets/Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"),url("/wp-content/themes/keryx/assets/Fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),url("/wp-content/themes/keryx/assets/Fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"),url("/wp-content/themes/keryx/assets/Fonts/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype"),url("/wp-content/themes/keryx/assets/Fonts/15281d0d-e3c2-46e1-94db-cb681e00bfaa.svg#15281d0d-e3c2-46e1-94db-cb681e00bfaa") format("svg");
}
@font-face{
  font-family:"Avenir LT W01 95 Black";
  src:url("/wp-content/themes/keryx/assets/Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix");
  src:url("/wp-content/themes/keryx/assets/Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix") format("eot"),url("/wp-content/themes/keryx/assets/Fonts/c78eb7af-a1c8-4892-974b-52379646fef4.woff2") format("woff2"),url("/wp-content/themes/keryx/assets/Fonts/75b36c58-2a02-4057-a537-09af0832ae46.woff") format("woff"),url("/wp-content/themes/keryx/assets/Fonts/b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf") format("truetype"),url("/wp-content/themes/keryx/assets/Fonts/93603a74-2be0-436c-83e1-68f9ef616eaf.svg#93603a74-2be0-436c-83e1-68f9ef616eaf") format("svg");
}
@font-face{
  font-family:"Avenir LT W01 65 Medium";
  src:url("/wp-content/themes/keryx/assets/Fonts/4030caeb-d266-4d36-ac58-a3bb7a5b1bfa.eot?#iefix");
  src:url("/wp-content/themes/keryx/assets/Fonts/4030caeb-d266-4d36-ac58-a3bb7a5b1bfa.eot?#iefix") format("eot"),url("/wp-content/themes/keryx/assets/Fonts/a2477e08-09d9-4d4b-97a9-23a1e22cb44c.woff2") format("woff2"),url("/wp-content/themes/keryx/assets/Fonts/19d12bba-92b1-43ad-9bab-cd36a4195c2a.woff") format("woff"),url("/wp-content/themes/keryx/assets/Fonts/5ba5a010-7470-4d9d-8a49-2920dc1be1f8.ttf") format("truetype"),url("/wp-content/themes/keryx/assets/Fonts/6d4a6a8c-ef50-422f-8456-88d479e0b23d.svg#6d4a6a8c-ef50-422f-8456-88d479e0b23d") format("svg");
}
@font-face {
  font-family: 'Avenir-Heavy';
  font-weight: 800;
  src: url("../../assets/Fonts/ida-patient/Avenir-Heavy.eot");
  src: url("../../assets/Fonts/ida-patient/AEH.ttf") format("truetype"), url("../../Fonts/ida-patient/Avenir-Heavy.eot?#iefix") format("embedded-opentype");
}


@font-face {
  font-family: 'Avenir-Heavy';
  font-weight: normal;
  src: url("../../assets/Fonts/ida-patient/Avenir-Heavy.eot");
  src: url("../../assets/Fonts/ida-patient/AEH.ttf") format("truetype"), url("../../Fonts/ida-patient/Avenir-Heavy.eot?#iefix") format("embedded-opentype"); }



form {
    label {
        @extend %no-select;
    }

    input:not([type="checkbox"]),
    select {
        outline: none;
        border: none;

        &:focus,
        &:active {
            outline: none;
        }
    }

    select {
        background-color: transparent;
        background-image: url("../../keryx/assets/img/chevron-down-solid.svg");
        background-repeat: no-repeat;
        background-size: 1rem auto;
        background-position: calc(100% - 10px) center;
        -webkit-appearance: none;
    }

    section {
        & > div {
            padding-top: 0;

            .instructions {
                //margin-bottom: 4rem;
            }

            .form-field {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                position: relative;
                margin-bottom: 3rem;

                &:last-of-type {
                    margin-bottom: 0px;
                }

                label {
                    display: block;
                    flex-basis: 100%;
                    margin-bottom: 1rem;
                }

                & > div:first-of-type {
                    padding: 1rem;
                    border: solid 1px rgba($color-text, 0.5);

                    &.focus {
                        padding: calc(1rem - 1px);
                        border: solid 2px rgba($color-text, 0.75);
                    }

                    input,
                    select {
                        color: $color-text;
                        width: 100%;
                        padding: 0px;
                        border: none;

                        &:disabled {
                            background-color: transparent;
                        }
                    }
                }
            }

            .form-field.error {
                label {
                    //color: red;
                }

                & > div:first-of-type {
                    border-color: red;
                }
            }

            .checkbox-field {
                @extend %no-select;
                display: flex;
                justify-content: space-between;
                position: relative;
                margin-bottom: 3rem;

                &:last-of-type {
                    margin-bottom: 0px;
                }

                & > div:first-of-type {
                    flex-basis: 100%;
                    display: flex;

                    & > input {
                        align-self: center;
                    }

                    & > label {
                        flex-basis: 100%;
                        padding-left: 1rem;
                    }
                }
            }

            .checkbox-field.error {
                label {
                    //color: red;
                }

                & > div:first-of-type {
                    border-color: red;
                }
            }
        }

        &#form-buttons {
            & > div {
                .instructions {
                    margin-bottom: 3rem;
                }
            }
        }

        .form-field {
            >div.error {
                width: 100%;

                @include media(">=medium") {
                    width: 37%;
                }
            }
        }

        .form-field,
        .checkbox-field,
        .form-error-container {
            &.disabled {
                opacity: 0.6;
            }

            .error {
                flex-basis: 100%;
                position: relative;
                top: 10px;
                padding-left: 5rem;
                color: red;
                display: none;
                font-size: 14px;
                line-height: 16px;
                padding-top: 0.5rem;

                @include media(">=small") {
                    padding-top: 0.5rem;
                    margin-bottom: 0px;
                    width: 50%;
                    /*@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                       flex-basis: calc(60% - 12rem);
                    }*/
                }

                @include media(">=large") {
                    position: absolute;
                    left: 103%;
                    top: 38px;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: -5px;
                    left: 0px;
                    display: block;
                    width: 30px;
                    height: 30px;
                    //background-image: url("/Images/error-indicator.svg");
                    background-repeat: no-repeat;
                    background-size: contain;

                    @include media(">=medium") {
                        top: 0px;
                    }
                }
            }
        }
    }
}
.checkbox-field label:before {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #DFDFDF;
  background: #FFF;
  content: " ";
}

input[type=checkbox]:checked + label:after {
  position: absolute;
  top: 9px;
  left: 4px;
  width: 8px;
  height: 5px;
  content: " ";
  transform: rotate(-45deg);
  border-bottom: 2px solid #808080;
  border-left: 2px solid #808080;
}

.form-container {
  color: #4a4a4a;
  padding-top: 32px;
  background-color: #fff;
  padding-bottom: 32px;
  @include media('<993px') {
    padding-left: 0;
  }

  form {
    max-width: 528px;
  }
}

#form-step-sign-up {
  h2 {
    color: #FF8500;
    font-size: 33px;
    line-height: 38px;
    font-weight: bold;
  }

  .latest-info {
    font-size: 20px;
    line-height: 24px;
    padding-top: 24px;
    font-family: "Avenir LT W01_65 Medium1475532";
  }

  .required-field-note {
    font-size: 16px;
    line-height: 24px;
    padding-top: 16px;
    //font-weight: bold;
    font-family: "Avenir LT W01_65 Medium1475532";
  }

  .form-field {
    margin-top: 24px;
    margin-bottom: 0;
    max-width: 416px;

    &.error {
      > div:first-of-type {
        border: red 1px solid;
      }
    }

    > div {
      width: 100%;
      padding: 0;
      border: none;
    }
    input {
      width: 100%;
      padding: 10px;
      border: #DFDFDF 1px solid;
    }
  }

  .form-field label {
    color: #FF8500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: 'Avenir LT W01_95 Black1475556';
  }

  #npi-help {
    margin-top: 24px;

    p:nth-of-type(1) {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
    }

    p:nth-of-type(2) {
      font-family: 'Avenir LT W01_45 Book1475508';
      font-size: 12px;
      line-height: 16px;
      max-width: 416px;
    }

    #npi-lookup-button {
      color: #FF8500;
      cursor: pointer;
    }

    .checkbox-field {
      margin-top: 16px;
      input {
        margin: 0;
      }
    }

    .checkbox-field label {
      font-size: 16px;
      line-height: 24px;
    }
  }

  #form-buttons {
    .instructions {
      font-size: 12px;
      line-height: 16px;
      margin-top: 24px;
      max-width: 416px;
      margin-bottom: 0;
      p {
        font-family: 'Avenir LT W01_45 Book1475508';
      }
    }

    input {
      width: 180px;
      height: 48px;
      background-color: #005F9E;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;

      &.hp {
        background-color: #FF8500;
      }
    }
  }
}

// custom styles for the form pages
#sign-up.page-template-template-ida,
#thank-you.page-template-template-ida,
#error.page-template-template-ida{
  background: #fafafa url("../../keryx/assets/img/bg/hcp.png") no-repeat top center;
  @include media('>992px') {
    #logo {
      margin-left: 0 !important;
      width: 152px !important;
      margin-top: 24px;
    }
    #menu ul {
      margin-left: -75px;
    }
    .header-links.desktop {
      margin-top: 22px;
    }
    .intent.desktop {
      margin-top: 22px;
      font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
      color: #ff8500;
      padding-top: 0;
      font-size: .75rem;
    }
  }

  .intent.mobile {
    font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: #8A8B99;
    padding-left: 0;
  }

  .header-links a{
    font-family: "Avenir LT W01_45 Book1475508", "Helvetica Neue", Arial, sans-serif;
    color: #4A4A4A;
    font-size: .75rem;
    margin: 15px 0;
  }

  .sep {
    @include media('<993px') {
      font-size: 15px;
    }
    color: #4A4A4A;
  }

  .form-container {
    @include media('<993px') {
      padding-left: 12px;
    }
  }

  li a.active {
    @include media('>992px'){
      background: url("../../keryx/assets/img/hp-moa/Triangle-blue.svg") no-repeat center bottom;
    }

  }

  .header-links.mobile {
    @include media('<993px') {
      a:nth-of-type(1) {
        text-align: right;
      }
      a:nth-of-type(2) {
        text-align: left;
      }
    }
  }

  .intent.mobile {
    @include media('<993px') {
      margin-top: 0 !important;
    }
  }

  #mobile-menu {
    @include media('<993px') {
      background: url("../../keryx/assets/img/hp-moa/mobile-menu.png");
      background-size: contain;
      width: 40px;
      height: 40px;
    }
  }

  #indication-banner {
    display: none;
  }

  #indication-flag-left, #indication-flag-right {
    display: none;
  }

  #sign-up-indication-banner {
    .sign-up-banner.ida {
      background-color: #005F9E;
      color: #fff;
      font-size: 22px;
      line-height: 65px;

      @include media('<993px') {
        font-size: 14px;
        line-height: 32px;
        text-align: center !important;
      }


      .container-fluid {
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  footer {
    background-color: #fafafa !important;
    margin-bottom: -20px;
    @include media('>993px') {
      #footer-info {
        position: static;
        transform: none !important;
      }
      #menu-footer-links {
        margin-left: 0;
        li:first-of-type {
          padding-left: 0;
        }
        li a {
          font-size: 16px;
          line-height: 24px;
        }

        .borderRightFooterDesktop {
          top: 4px;
        }
      }
      .legal {
        text-align: left;
        font-size: 16px;
        line-height: 24px;
      }
    }

    @include media('<993px') {
      padding: 0 0 20px 0;
      margin: 0 0 -20px 0;

      #footer-info {
        border-top: 1px solid #EBE9F6;
      }

      .mobileOverlayIDA {
        margin-top: 0 !important;
        ul {
          border-bottom: 1px solid #EBE9F6;

        }
      }

      .footer-legal img {
        position: static !important;
        transform: none !important;
      }

      #menu-footer-links {
        margin-top: 16px;
        .borderRightFooterDesktop {
          display: none;
        }
        li {
          display: block;
          text-align: left;
          padding: 0 0 8px 0;
          &:last-of-type {
            padding-bottom: 16px;
          }

        }
        li a {
          font-size: 16px;
          line-height: 24px;
          font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
          //font-weight: 400;
          margin-left: 8px;
        }
      }

      .legal {
        text-align: left;
        margin: 16px 0;
        font-size: 16px;
        line-height: 24px;
        padding-left: 8px;
      }

      .footer-legal {
        padding-left: 8px;
      }
    }

  }

  #thank-you-container, #error-container {
    padding-top: 24px;
    padding-bottom: 8px;
    background-color: #fff;
    .header {
      max-width: 560px;
      font-size: 33px;
      line-height: 38px;
      color: #FF8500;
      font-weight: bold;
    }
    .body-copy {
      margin-top: 16px;
      max-width: 560px;
      font-size: 20px;
      line-height: 24px;
      font-family: 'Avenir LT W01_65 Medium1475532';
    }
  }

  //#error-container {
  //  min-height: calc(100vh - 400px);
  //  @include media('<993px') {
  //    min-height: calc(100vh - 480px);
  //  }
  //}
  #error-container > div {
    min-height: calc(100vh - 422px);
    @include media('<993px') {
      min-height: calc(100vh - 500px);
    }
  }

  #callouts-home {
    padding-bottom: 40px;
    a.callout {
      border-bottom: none;
    }
    @include media('>992px') {
      a.callout {
        height: 130px;
      }
    }
    .sub_text {
      font-size: 16px;
      //font-weight: bold;
      font-family: 'Avenir LT W01_65 Medium1475532';
    }
  }
  #isi-content {
    font-size: 16px;
    line-height: 24px;
    ul li {
      font-size: 16px;
      line-height: 24px;
    }
    h2, h3, p, li {
      margin-bottom: 8px;
    }
  }
  .references li {
    font-size: 16px;
  }
}

#sign-up.page-template-template-new-signup-hp-page,
#thank-you.page-template-template-new-signup-hp-page,
#error.page-template-template-new-signup-hp-page{
  background: #fafafa url("../../keryx/assets/img/bg/hcp.png") no-repeat top center;
  .form-field label {
    font-weight: 700;
  }

  .checkbox-field label {
    font-weight: 700;
    margin-bottom: 0;
  }

  #important-safety-information {
    padding: 0;
  }
  #isi-container {
    max-width: 960px !important;
    background: #fff;
    padding-left: 32px;
    padding-bottom: 16px;
    padding-right: 32px;
    flex: none;
    @include media('<993px') {
      padding-left: 16px;
    }
  }
  //.desktop-nav nav.navbar .nav-item .nav-link {
  //  white-space: nowrap;
  //  @include media('<993px') {
  //    padding: 1.5rem 2rem;
  //  }
  //}

  #inner-thank-you-container {
    max-width: 960px !important;
    background: #fff;
    padding-left: 32px;
    //padding-bottom: 16px;
    padding-right: 32px;
    flex: none;
    @include media('<993px') {
      padding-left: 16px;
    }
  }

  #inner-cta-container {
    max-width: 960px !important;
    background: #fff;
    padding-left: 16px;
    //padding-bottom: 16px;
    padding-right: 56px;
    flex: none;
    @include media('<993px') {
      padding-right: 16px;
      .callouts {
        padding: 0;
      }
    }
  }

  .form-container {
    max-width: 960px;
  }

  #desktop-footer {
    border-top: none;
  }

  #footer-container {
    margin-bottom: 12px;
  }

  @include media('<993px') {
    .container-fluid {
      padding: 0;
    }
  }
  #npi-lookup-modal .instructions p {
    margin-bottom: 0;
  }

  .navbar-toggler-icon {
    width: 40px;
    height: 40px;
  }

  footer {
    background-color: #fff;
  }

  #thank-you-container, #error-container {
    //padding-top: 24px;
    //padding-bottom: 8px;
    //background-color: #fff;
    .header {
      max-width: 560px;
      font-size: 33px;
      line-height: 38px;
      color: #FF8500;
      font-weight: bold;
    }
    .body-copy {
      margin-top: 16px;
      max-width: 560px;
      font-size: 20px;
      line-height: 24px;
      p {
        font-family: 'Avenir LT W01_65 Medium1475532';
      }
    }
  }

  .callouts {
    width: 100%;
    display: flex;
    @include media('<993px') {
      display: block;
    }

    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 16px;

    .callout {
      width: 250px;
      height: 130px;
      margin-right: 20px;
      border-top: 6px solid #ff8500;
      //border-bottom: 1px solid #a6a6a8;
      margin-bottom: 15px;
      padding-bottom: 10px;
      color: #5B6770;
      position: relative;
      padding-left: 0;

      float: left;
      @include media('<993px') {
        height: auto;
        padding: 2% 0;
        //margin: auto;
        margin-bottom: 20px;
        max-width: 960px;
        display: block;
        width: 100%;
        float: none;
      }

      span {
        display: block;
      }
      .main_text {
        font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        padding: 9px 0 9px 14px;
        display: inline-block;
        font-weight: bold;
      }
      .sub_text {
        font-size: 16px;
        line-height: 19px;
        padding-left: 16px;
        color: #4a4a4a;
        //font-weight: bold;
        font-family: 'Avenir LT W01_65 Medium1475532';
      }

      &.callout-1 {
        &:hover {
          background-color: #FF8500;
          text-decoration: none;
          color: #fff;
          span {
            color: #fff;
          }
        }
      }

      &.callout-2 {
        border-top: 6px solid #FFD700;
        &:hover {
          background-color: #FFD700;
          text-decoration: none;
          color: #fff;
          span {
            color: #fff;
          }
        }
      }
      &.callout-3 {
        border-top: 6px solid #5B6770;
        margin-right: 0 !important;
        &:hover {
          background-color: #5B6770;
          text-decoration: none;
          color: #fff;
          span {
            color: #fff;
          }
        }
      }
    }

  }
  #cta-container {
    padding: 0;
  }
  #thank-you-container, #error-container {
    padding: 0;
    #inner-thank-you-container {
      .header {
        margin: 24px 0 16px 0;
      }
      .body-copy {
        margin-bottom: 24px;
      }
    }

  }

  #error-container #inner-thank-you-container {
    min-height: calc(100vh - 420px);
    @include media('<993px') {
      min-height: calc(100vh - 480px);
    }
  }


  #reference-container {
    padding-left: 32px;
    max-width: 960px;
    background-color: #fff;
    flex: none;
    @include media('<993px') {
      padding-left: 16px;
    }
  }

  footer {
    margin-bottom: -24px;
  }

  #warning-container {
    margin-left: -24px;
    font-family: 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  }

  #indication-banner {
    font-family: 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  }

  #nav-container {
    margin-left: -24px;
  }

  .latest-info {
    padding-top: 8px;
  }
  .required-field-note {
    padding-top: 0;
  }

  .instructions a{
    color: #4A4A4A;;
  }

  @include media('>992px') {
    #desktop-footer {
      margin-left: 16px;
    }
  }
  .important-safety-information-section{
    .callouts {
      .callout{
        .main_text {
          font-size: 19.4px;
        }
      }
    }
  }

}

#error.page-template-template-new-signup-hp-page,
#error.page-template-template-ida{
  footer {
    @include media('>993px') {
      margin-top: 20px;
    }
  }
}

// outside of the other constraints so it can apply to the MOA page as well
.desktop-nav nav.navbar .nav-item .nav-link {
  white-space: nowrap;
  @include media('<993px') {
    padding: 1.5rem 1.75rem;
  }
}
