.isi {
    padding-top: 1rem;

    * {
        font-family: "Avenir LT W01_45 Book1475508", "Helvetica Neue", Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #2A2A32;
    }
    
    h2,
    h3,
    strong {
        font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
        font-weight: normal;
    }

    h2 {
        &:last-of-type {
            font-family: "Avenir LT W01_95 Black1475556", "Helvetica Neue", Arial, sans-serif;
            color: #C85C14;
        }
    }

    ul.custom-bullet {
        @include media(">=small") {
            margin-bottom: 1.25rem;
        }

        li {
            margin-bottom: 1rem;

            &:before {
                color: #C85C14;
            }
        }
    }

    strong {
        a {
            font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
            color: #C85C14;
        }
    }

    .d-no-bottom-margin {
        @include media(">=small") {
            margin-bottom: 0;
        }
    }
}
