﻿.cl-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000,0.5);
    z-index: 9100;
    -webkit-tap-highlight-color: transparent;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.cl-modal-template {
    display: none;
}

.cl-modal {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100% - 2rem);
    min-width: 280px;
    max-width: 600px;
    max-height: calc(100% - 2rem);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%) translateZ(0);
    color: $color-text;
    background-color: rgba(255,255,255,1);
    box-shadow: rgba(0,0,0,0.5) 0 2px 25px;
    overflow: hidden;
    z-index: 9100;

    @include media(">=small") {
        width: calc(100% - 4rem);
        max-height: calc(100% - 4rem);
    }

    * {
        box-sizing: border-box;
    }

    .cl-modal-close-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        span {
            position: absolute;
            top: calc(3rem - 2px);
            left: 1rem;
            width: 4rem;
            height: 4px;
            border-radius: 2px;
            //background-color: $color-blue-1;

            &:nth-of-type(1) {
                transform: rotate(45deg);
            }

            &:nth-of-type(2) {
                transform: rotate(-45deg);
            }
        }
    }

    .cl-modal-content {
        position: relative;
        margin: 5rem 0 0 0;
        -webkit-overflow-scrolling: touch;

        .cl-modal-template {
            display: block;

            section {
                margin: 0;
            }
        }
    }
}
