﻿main > form section > div #npi-help {
    p {
        margin-bottom: 1rem;

        &:first-of-type {
            @include media('>=small') {
                white-space: nowrap;
            }
        }
    }

    .footnote {
        margin: 2rem 0;
    }

    .checkbox-field {
        > div:first-of-type {
            @include media('>=small') {
                flex-basis: 100%;
                margin-left: 0;
            }
        }
    }
}

#npi-lookup-button {
    @extend %no-select;
    color: hotpink;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }
}

.cl-modal.npi-lookup {
    width: calc(100% - 3rem);

    @include media('>=small') {
        width: calc(100% - 4rem);
        max-width: 1000px;
    }
    .cl-modal-content {
      margin: 40px 0 0 0;
    }

    .cl-modal-close-button {
        width: 48px;
        height: 48px;
        span {
            top: 22px;
            left: 8px;
            width: 32px;
            background-color: $color-text;
        }
    }
}

#npi-lookup-modal {

    section {
        margin-bottom: 4rem;
        padding: 0;

        &:nth-of-type(1) {
          margin-bottom: 0;
        }


        .instructions {
          max-width: 528px;
          p:nth-of-type(1) {
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;
          }
          p:nth-of-type(2) {
            font-size: 16px;
            line-height: 24px;
            padding: 16px 0;
            //font-weight: bold;
            font-family: "Avenir LT W01_65 Medium1475532";
          }
        }

        & > div {
            padding: 0 2rem;

            @include media(">=small") {
                padding: 0 4rem;
                width: auto;
                max-width: none;
            }

            .form-field {
                & > div:first-of-type {
                    @include media(">=small") {
                        //flex-basis: calc(50% - 2rem);
                    }
                  padding: 0;
                  border: #DFDFDF 1px solid;
                  margin-bottom: 0;
                  width: 100%;

                }
              max-width: 416px;
              //&.state {
              //  max-width: 225px;
              //}
              &.error {
                > div:first-of-type {
                  border: red 1px solid;
                }
              }

                margin-bottom: 1.5rem;
                .cta-primary {
                  width: 180px;
                  height: 48px;
                  background-color: #005F9E;
                  color: #fff;
                  font-size: 16px;
                  line-height: 24px;
                  font-weight: bold;
                  margin-top: 8px;

                  &.hp {
                    background-color: #FF8500;
                  }
                }

                .error {
                    padding-left: 0;
                    top: 0;
                    @include media(">=small") {
                      padding-left: 5rem;
                        top: 38px;
                        position: absolute;
                        //flex-basis: calc(50% - 2rem);
                        left: 85%;
                        padding-top: 0;
                        white-space: nowrap;
                    }

                    &:before {
                        top: -5px;
                    }
                }

              label {
                color: #FF8500;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
                font-family: 'Avenir LT W01_95 Black1475556';
              }

              input, select {
                width: 100%;
                padding: 10px;
                //border: #DFDFDF 1px solid;
              }
            }

            select {
                flex-basis: calc(50% - 2rem);
            }
        }

    }

    #npi-lookup-results,
    #npi-lookup-no-results {
      > div {
        h2 {
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;
        }
        p {
          margin-top: 8px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    #npi-lookup-no-results {
        display: none;
    }

    #npi-lookup-results {
        display: none;

        table {
            width: 100%;
            margin-top: 2rem;
            border-collapse: collapse;

            thead {
                display: none;

                @include media(">=small") {
                    display: table-header-group;
                }

                th {
                    text-align: left;
                    padding-right: 3rem;
                    padding-bottom: 8px;
                    white-space: nowrap;

                    @include media(">=small") {
                        &:nth-of-type(1) {
                        }

                        &:nth-of-type(2) {
                        }

                        &:nth-of-type(3) {
                        }

                        &:nth-of-type(4) {
                        }

                        &:nth-of-type(5) {
                        }

                        &:nth-of-type(6) {
                            padding-right: 0px;
                        }
                    }
                }
            }

            tbody {
                tr {
                    display: block;
                    margin-bottom: 16px;

                    @include media(">=small") {
                        display: table-row;
                        margin-bottom: 0px;
                    }

                    td {
                        display: block;

                        @include media(">=small") {
                            display: table-cell;
                            padding-right: 3rem;
                            padding-bottom: 8px;
                        }

                        &:last-of-type {
                            cursor: pointer;
                            font-weight: bold;
                            color: #FF8500;

                            &:hover {
                                text-decoration: underline;
                            }

                            @include media(">=small") {
                                padding-right: 0px;
                                white-space: nowrap;
                            }
                        }
                    }

                    td[colspan="5"] {
                        font-size: 16px;
                        line-height: 20px;
                        white-space: normal;
                        padding-top: 3rem;
                        cursor: default;
                        color: $color-text;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    &:last-of-type {
                        margin-bottom: 0px;

                        td {
                            @include media(">=small") {
                                padding-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}
