.psp {
    position: relative;
    background-color: white;
    min-width: 320px;
    
    .psp-bar {
        @extend %no-select;
        position: relative;
        background-color: #FFA300;

        .psp-bar-content {
            justify-content: space-between;
            padding: 0.75rem 0;
            
            @include media(">=small") {
                padding: 0.5rem 0;
            }
        }
    
        * {
            font-family: "Avenir LT W01_85 Heavy1475544", "Helvetica Neue", Arial, sans-serif;
            font-size: 12px;
            line-height: 16px;
            color: #2A2A32;
            
            @include media(">=small") {
                font-size: 18px;
                line-height: 25px;
            }
        }

        p {
            text-transform: uppercase;
            margin: 0;
            padding: 0;

            span {
                text-transform: none;
            }
        }

        .psp-bar-controls {
            position: relative;
            right: -0.5rem;
            display: flex;
            white-space: nowrap;
            //margin-left: 2rem;
            display: flex;
            visibility: hidden;
            pointer-events: none;

            svg {
                position: absolute;
                top: calc(50% - 5px);
                right: 0px;
                width: 16px;
                height: 10px;
            }

            .psp-bar-collapse-button,
            .psp-bar-show-more-button {
                position: relative;
                height: 100%;
                padding: 0 0.5rem;
                display: flex;
                align-items: center;

                span {
                    position: relative;
                    display: none;

                    @include media(">=small") {
                        padding-right: 1.5rem;
                    }
                }

                svg {
                    position: relative;
                    top: auto;
                    right: auto;
                    transform: none;
                }
            }

            .psp-bar-collapse-button {
                svg {
                    top: 1px;
                    transform: rotate(180deg);
                    opacity: 0.7;
                }
            }

            .psp-bar-show-more-button {
                span {
                    &:nth-of-type(1) {
                        @include media(">=small") {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    .isi {
        overflow: hidden;
    }
    
    &.sticky {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        visibility: hidden;
        pointer-events: none;
        box-shadow: 0 -3px 9px 0 rgba(0,0,0,0.36);
        z-index: 8999;
        
        .psp-bar {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            
            .psp-bar-controls {
                display: block;
            }
        }

        &.visible {
            visibility: visible;
            pointer-events: all;
            
            .psp-bar {
                .psp-bar-controls {
                    display: flex;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }

        &.open {
            z-index: 9000;
    
            .isi {
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
            }
        }

        &.open:not(.closing) {
            .psp-bar {
                .psp-bar-controls {
                    .psp-bar-collapse-button {
                        display: none;
                    }

                    .psp-bar-show-more-button {
                        span {
                            &:nth-of-type(1) {
                                @include media(">=small") {
                                    display: none;
                                }
                            }

                            &:nth-of-type(2) {
                                @include media(">=small") {
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    svg {
                        top: 1px;
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &.collapsed {
            .psp-bar {
                .psp-bar-controls {
                    .psp-bar-collapse-button {
                        display: none;
                    }
                }
            }
        }
    }

    // This arrangement makes the changes in the bar happen immediately when users click
    // "show more" as well as when they click "show less" - otherwise, when closing the
    // changes would jump into effect when the PSP bar reaches the end of the closing
    // animation, which looks a little jarring
    &.sticky.open:not(.closing) {
        .psp-bar {
            .psp-bar-controls {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
