// Media query sizes
$breakpoints: (
// After this we're in tablet mode
"small": 768px,
// After this we're in the smallish
// desktop mode
"medium": 960px,
// After this we're in the largeish desktop mode
"large": 1200px,
// After this the content hits its 1344px
// max-width
"large-with-margins": 1920px );

// Colors
$color-text: #5c5858;

// Easings
//$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
//$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

// Misc.
%no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
