/* New grid for banner */


.grid.top-banner {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: -1px;
}

.banner-bg {
    background: url(/wp-content/uploads/banner.png);
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-bg-mobile {
    background-color:#c65f1c;
    height:30px;
    margin-top:10px;
}

.banner-text{
   color:#fff;
   text-align: left;
}

/* Nav color changes */
nav{
	border-bottom: 5px solid #c65f1c;
}
nav li .sub-menu li a:hover, nav li.current-menu-item a {
    color: #F6861F;
}
nav li a:hover, nav li.current-menu-parent > a, nav li.current-menu-item > a {
    background: url(/wp-content/uploads/header-active-patient-2.png) no-repeat center bottom;
    color: #FF8500;
}
nav li .sub-menu li a {
    background: rgba(255, 255, 255, 0.9) !important;
    border-bottom: 1px solid #c75f15 !important;
}
#menu-item-50 a {
    width:160px;
}



@media screen and (max-width: 737px){
nav li a:hover, nav li.current-page-ancestor a, nav li.current-menu-item a {
    background-image: none;
    background-color: #FF8500 !important;
}
.header-links-hcp a {
    background-color: #fff;
    width: 46.5%;
    display: inline-block;
    float: none;
    padding: 0;
    font-size: 11px;
    line-height: 0;
    color: #5B6770;
    white-space: nowrap;
    text-align:center;
}
.header-links-hcp  {
    text-align:center;
}
.banner-text{
   text-align: center !important;
   padding: 5px !important;
}
.intent-mobile {
    color: #969696;
    text-align: center;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 1% 0 1% 0;
    background: #e9e9e9 none;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    margin-top: 10px;
}
#mobile-menu {
    top: 65px;
}
#hcp nav {
    top: 133px !important;
}
li.mobile-copy.mobile-item-3 a{
        background-color: #145FA1 !important;
    color: #fff !important;
}

}
