/*
=========================
  Reset
=========================
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
    margin: 0px;
    padding: 0px;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.nt {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    line-height: 0px;
    font-size: 0px;
}

.nom {
    margin-right: 0px !important;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.mobile {
    display: none;
}


/*
=========================

  COLORS:
  BLACK   #575757
  GRAY    #5B6770
  Orange  #FF8500


  FONT STACK:
  font-family:'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  font-family:'Avenir LT W01 65 Medium', 'Helvetica Neue', Arial, sans-serif;
  font-family:'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;

=========================
*/


/*
=========================
  Global
=========================
*/

/* Fonts */
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=deba70c4-a3b6-4114-bad1-f411f11ea215");
    @font-face{
        font-family:"Avenir LT W01 55 Roman";
        src:url("../Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
        src:url("../Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"),url("../Fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),url("../Fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"),url("../Fonts/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype"),url("../Fonts/15281d0d-e3c2-46e1-94db-cb681e00bfaa.svg#15281d0d-e3c2-46e1-94db-cb681e00bfaa") format("svg");
    }
    @font-face{
        font-family:"Avenir LT W01 95 Black";
        src:url("../Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix");
        src:url("../Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix") format("eot"),url("../Fonts/c78eb7af-a1c8-4892-974b-52379646fef4.woff2") format("woff2"),url("../Fonts/75b36c58-2a02-4057-a537-09af0832ae46.woff") format("woff"),url("../Fonts/b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf") format("truetype"),url("../Fonts/93603a74-2be0-436c-83e1-68f9ef616eaf.svg#93603a74-2be0-436c-83e1-68f9ef616eaf") format("svg");
    }
    @font-face{
        font-family:"Avenir LT W01 65 Medium";
        src:url("../Fonts/4030caeb-d266-4d36-ac58-a3bb7a5b1bfa.eot?#iefix");
        src:url("../Fonts/4030caeb-d266-4d36-ac58-a3bb7a5b1bfa.eot?#iefix") format("eot"),url("../Fonts/a2477e08-09d9-4d4b-97a9-23a1e22cb44c.woff2") format("woff2"),url("../Fonts/19d12bba-92b1-43ad-9bab-cd36a4195c2a.woff") format("woff"),url("../Fonts/5ba5a010-7470-4d9d-8a49-2920dc1be1f8.ttf") format("truetype"),url("../Fonts/6d4a6a8c-ef50-422f-8456-88d479e0b23d.svg#6d4a6a8c-ef50-422f-8456-88d479e0b23d") format("svg");
    }

body {
    font: 14px/19px 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #575757;
    background: #fafafa url('../img/bg/hcp.png') no-repeat top center;
}

a {
    text-decoration: none;
    color: inherit;
}

.animC {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.animO {
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.mobile {
    display: none;
}

sub {
    vertical-align: baseline;
    position: relative;
    top: 0.3em;
    font-size: 0.8em;
}

sup {
    vertical-align: super;
    position: relative;
    font-size: 0.6em;
    line-height: 0px;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.nowrap {
    white-space: nowrap;
}

sup.hanging {
    float: left;
    margin-bottom: 5px;
}


/*
=========================
  Grids
=========================
*/

.grid {
    width: 1000px;
    margin: auto;
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

.grid-2 {
    width: 140px;
}

.grid-3 {
    width: 220px;
}

.grid-4 {
    width: 300px;
}

.grid-5 {
    width: 380px;
}

.grid-6 {
    width: 460px;
}

.grid-7 {
    width: 540px;
}

.grid-8 {
    width: 960px;
}

.grid-9 {
    width: 670px;
}

.grid-10 {
    width: 780px;
}

.grid-11 {
    width: 860px;
}

.grid-12 {
    width: 940px;
    margin: auto;
}

.content {
    width: 100%;
    background: url('../img/bg/content.png') repeat-y top center;
    margin-bottom: 20px
}

.page-id-76 .content {
    background: url('../img/bg/content-white.png') repeat-y top center;
}

.page-id-76 .content-1 {
    display: none;
}

#dev-grid {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url('../img/grid.png') repeat-y top center;
    z-index: 9990;
    display: none;
}

.btn-grid {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #FF8500;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 9999;
}

.post-edit-link {
    display: block;
    font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    color: #fff;
    padding: 5px 8px 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FF8500;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.post-edit-link:hover {
    background-color: #5B6770;
}


/*
=========================
  Header
=========================
*/

header {
    width: 100%;
    height: 112px;
    background-color: rgba(255, 255, 255, 0.73);
}

.ie8 header {
    background: rgb(255, 255, 255);
    background: transparent\9;
    background: rgba(255, 255, 255, 0.73);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#baFFFFFF, endColorstr=#baFFFFFF);
    zoom: 1;
}

#logo {
    float: left;
    width: 152px;
    margin-top: 18px;
    margin-left: 30px;
}

.header-links {
    float: right;
    color: #7d7d7d;
    text-align: right;
    font-size: 11px;
    margin-top: 10px;
    padding-right: 30px;
}

.header-links a:hover {
    text-decoration: underline;
}

.sep {
    display: inline-block;
    padding: 0 5px;
}

.intent {
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    font: 11.5px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    margin-top: -16px;
    width: 352px;
    /* 382 */
    padding: 4px 30px 0 0;
    height: 20px;
    /* 26 */
    background: url('../img/hcp/intent.png') no-repeat;
    font-size: 11px;
    color: #FF8500;
    float: right;
}

#assistance .intent,
#patient .intent {
    margin-top: 18px;
    margin-bottom: -46px;
    background-image: none;
}


/*
=========================
  Navigation
=========================
*/

nav {
    border-top: 1px solid #dcdcdc;
    border-bottom: 5px solid #FF8300;
    background-color: rgba(255, 255, 255, 0.73);
    height: 67px;
}

.ie8 nav {
    background: rgb(255, 255, 255);
    background: transparent\9;
    background: rgba(255, 255, 255, 0.73);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#baFFFFFF, endColorstr=#baFFFFFF);
    zoom: 1;
}

.ie8 nav:nth-child(n) {
    filter: none;
}

nav li {
    position: relative;
    float: left;
}

nav li a {
    font: 14px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    color: #5B6770;
    padding-bottom: 22px;
    background: url('../img/hcp/header-active.png') no-repeat 0 -100px;
    float: left;
    text-transform: uppercase;
    padding: 25px 42px 25px;
}

nav li#menu-item-209 a {
    text-transform: none;
}

nav li a:hover,
nav li.current-page-ancestor a,
nav li.current-menu-item a {
    /* background: url('../img/hcp/header-active.png') no-repeat center bottom; */
    color: #FF8500;
}

.menu-item-261:hover, .menu-item-264:hover{
    background: url('../img/hcp/header-active.png') no-repeat center bottom;
}

nav li.current-menu-item ul a,
nav li.current-page-ancestor ul a {
    color: #5B6770;
}

nav li ul li.current-menu-item a {
    color: #FF8500 !important;
}

nav .menu,
nav .menu {
    padding-left: 0px;
}

.sub-menu {
    position: absolute;
    top: 72px;
    z-index: 9999;
    display: none;
}

nav li .sub-menu li a {
    display: block;
    float: none;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 42px;
    min-width: 66px;
}

.ie8 nav li .sub-menu li a {
    background: rgb(255, 255, 255);
    background: transparent\9;
    background: rgba(255, 255, 255, 0.8);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#ccFFFFFF, endColorstr=#ccFFFFFF);
    zoom: 1;
}

.ie8 nav li .sub-menu li a:nth-child(n) {
    filter: none;
}

nav li .sub-menu li a:hover,
nav li.current-menu-item a {
    color: #FF8500;
}

#patient nav li.current-menu-item a,
#assistance nav li.current-menu-item a {
    color: #5B6770;
}

.sub-buttons-container {
    width: 1000px;
    height: 52px;
    margin: 0 auto;
}
.sub-button {
    width: 495px;
    border-top: none;
    border-right: 3px solid #f19336;
    border-bottom: 3px solid #f19336;
    border-left: 3px solid #f19336;
    padding: 0;
    color: #f19336;
    float: left;
    background: url('../img/arrow-orange.png') 430px 15px no-repeat #fff;
    background-size: 25px auto;
    text-align: center;
    font-weight: bold;
}
.sub-button:nth-child(2) {
    width: 496px;
    border-right: 3px solid #f19336;
    border-bottom: 3px solid #f19336;
    border-left: none;
    float: right;
}
.sub-button a {
    display: block;
    text-decoration: none;
    color: #f19336;
    padding: 15px 0;
    cursor: pointer;
}

/* Hack to get Guidelines and Administration lined up*/

li#menu-item-212 a,
li#menu-item-213 a {
    text-align: left;
}

li#menu-item-212 a {
    padding-left: 40px;
}

li#menu-item-213 a {
    padding-right: 78px;
}

#vimeo_vid {
    width: 700px;
    height: 394px;
}

.portal-wrap #vimeo_vid {
    width: 660px;
    height: 371px;
}

/*
=========================
  Home
=========================
*/

.hcp-home-bg {
    background: url('../img/hcp/home-campaign-hcp.png') no-repeat;
}

#home-hand {
    float: left;
    width: 510px;
    margin-left: -30px;
}

#hcp #home-hand {
    margin-left: -27px;
}

.home-info {
    width: 440px;
}

.home-campaign {
    margin-bottom: -18px;
    position: relative;
    z-index: 100;
}

.campaign-tagline {
    /* font: 16px/20px 'Avenir LT W01 65 Medium', 'Helvetica Neue', Arial, sans-serif; */
    /* font: 16px/20px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif; */
    font-family: 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
    color: #5B6770;
    padding: 26px 0 14px;
}

.campaign-text {
    font-size: 24px;
    line-height: 30px;
    color: #8a8a8d;
    font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    text-transform: none;
}

.page-id-76 .campaign-text {
    font-size: 22px;
}

.page-id-76 .campaign-text .bullet {
    /* list-style:initial; */
    margin-left: 1em;
    /* image bullet */
    background: url('../img/bullet.png') no-repeat 0px 11px;
    margin-left: 0.5em;
    padding-left: 0.8em;
}

.campaign-text small {
    /* font-family: 'Avenir LT W01 65 Medium', 'Helvetica Neue', Arial, sans-serif; */
    font-family: 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
}

.page-id-76 .p1 {
    color: #FF8500;
}

.home-callout {
    width: 400px;
    /* height: 360px; */
    /* background: url('/wp-content/uploads/home_callout.png' ) no-repeat 10px 10px; */
    margin-top: 15px;
}

.home-callout img {
    width: 400px;
    height: 100%;
    margin: -79px 85px;
}

.home-callout-text {
    font: 16px/20px 'Avenir LT W01 65 Medium', 'Helvetica Neue', Arial, sans-serif;
    color: #FFFFFF;
    padding: 0 25px 0 90px;
    margin: -70px 0 0 10px;
    width: 350px;
}

.callouts {
    padding-top: 18px;
    margin-left: -8px;
}

.callout {
    height: 120px;
    margin-right: 20px;
    border-top: 6px solid #ff8500;
    border-bottom: 1px solid #a6a6a8;
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: #5B6770;
    position: relative;
}

.callout:hover {
    color: #fff;
    background: #ff8500;
    border-bottom: 1px solid transparent;
}

.callout.callout-2 {
    border-top: 6px solid #FFD700;
}

.callout.callout-2:hover {
    background: #FFD700;
}

.callout.callout-3 {
    border-top: 6px solid #5B6770;
}

.callout.callout-3:hover {
    background: #5B6770;
}

.callout span {
    display: block;
}

.callout .main_text {
    font: 20px/24px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    padding: 9px 0 9px 14px;
    text-transform: uppercase;
}

.callout .sub_text {
    font-size: 14px;
    line-height: 19px;
    padding-left: 16px;
    color: #5B6770;
}

.callout.hover .sub_text {
    color: #fff;
}

.campaign-bottom {
    color: #444;
}

.callout span.callout-top {
    display: none;
}

.callout .square {
    display: none;
}

.campaign-btm {
    border-bottom: 1px solid #a6a6a8;
    position: relative;
}

.campaign-line {
    width: 6px;
    height: 100%;
    position: absolute;
    background-color: #ff8500;
}

.cmp-wrap {
    padding-left: 15px;
    padding-bottom: 10px;
}

.campaign-btm strong {
    font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    background-color: #FF8500;
    font-size: 16px;
    margin: 5px 0;
    display: inline-block;
}

.campaign-btm strong {
    background-color: #fff;
    color: #7D7D7D;
}

.campaign-btm.right.grid-8.cf {
    float: left;
}

/*
=========================
  ISI
=========================
*/

#isi {
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-id-76 #isi,
.page-id-13 #isi {
    padding-top: 0;
    padding-bottom: 10px;
}

#patient #isi {
    padding-top: 30px;
}

.page-id-1095 #isi,
.page-id-1097 #isi,
.page-id-1100 #isi,
.page-id-1574 #isi,
.page-id-1707 #isi,
.page-id-1710 #isi,
.page-id-1712 #isi {
    padding-top: 0px;
    /*  margin-top: -20px; */
}

#isi a,
#isi h2 {
    color: #FF8500;
}

#isi h2,
#isi h3,
isi strong {
    font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

#isi h2,
#isi h3 {
    display: block;
    margin: 10px 0 4px;
    text-transform: uppercase;
}

#isi h3.isi-first {
    margin-top: 0px;
}

#isi p {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
}

#isi a:hover {
    text-decoration: underline;
}

#isi ul li {
    list-style-position: outside;
    padding-left: 10px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
    background: url('../img/bullet.png') no-repeat 0 5px;
}

#isi ul li.indented {
    padding-left: 25px;
    background: url('../img/bullet.png') no-repeat 15px 5px;
}

#patient #isi ul li {
    margin-bottom: 6px;
}

.page-id-31 .copy p,
.page-id-234 .copy p,
.page-id-317 .copy p {
    margin-bottom: 5px;
}

.page-id-31 .copy h2,
.page-id-31 .copy h3,
.page-id-234 .copy h2,
.page-id-234 .copy h3,
.page-id-317 .copy h2,
.page-id-317 .copy h3 {
    display: block;
    margin: 10px 0 4px;
}

#patient #isi h3 {
    text-transform: none;
}

.isi-page-only {
    display: none;
}

.page-id-31 .isi-page-only,
.page-id-317 .isi-page-only,
.page-id-234 .isi-page-only {
    display: inline-block;
}


/*
=========================
  Footer
=========================
*/

footer {
    background: url('../img/bg/content.png');
    width: 100%;
    padding: 25px 0;
    line-height: 20px;
}

/*footer img {
    display: block;
}*/

.footer-spacer {
    display: inline-block;
    margin: 0 5px;
}

.footer-links li {
    display: inline-block;
    margin-right: 8px;
    color: #FF8500;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}

.footer-links a:hover {
    text-decoration: underline;
}

.akebia-footer-logo {
    text-align: right;
}

.borderRightFooterDesktop {
    width: 1px;
    height: 15px;
    background: #f6861f;
    position: absolute;
    right: -7px;
    top: 2px;
}

/*
=========================
  Single Page
=========================
*/

.interior {
    background: url('../img/hcp/sidelines.png') no-repeat 880px 0;
}

.post-titles {
    margin-bottom: 8px;
}

.post-titles h2,
.post-titles h3 {
    display: block;
    font-style: normal;
    font-weight: normal;
}

.post-titles h2 {
    font: 24px/30px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    color: #FF8500;
    text-transform: none;
    margin-bottom: 4px;
    margin-top: 40px;
}

.post-titles h3 {
    font: 20px/24px 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
}

.copy img {
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
    margin-top: 8px;
    height: auto;
}
.copy img.desktop {
    display: block;
}
.copy img.mobile {
    display: none;
}
.copy a {
    color: #FF8500;
    text-decoration: none;
}

.copy a:hover {
    text-decoration: underline;
}

.copy ul {
    margin-top: 5px;
}

.copy ul li {
    list-style-position: outside;
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
    background: url('../img/bullet.png') no-repeat 2px 5px;
}

.copy ul li li {
    background: url('../img/sub-bullet.png') no-repeat 2px 7px;
}

.study-design,
.formulation {
    font-size: 14px;
    line-height: 18px;
    color: #5B6770;
}

.formulation {
    font-size: 14px;
    line-height: 18px;
}

.page-id-76 .formulation,
.page-id-13 .formulation,
.page-id-11 .formulation {
    margin: -20px 0 -15px;
}

.study-design p {
    margin-bottom: 6px;
}

.study-design span,
.formulation span {
    background: url('../img/study-design.png') no-repeat 0 0;
    padding-left: 20px;
    display: block;
    color: #FF8500;
    text-transform: uppercase;
    font: 12px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 5px;
}

.references span{
    background: url('../img/reference-icon.png') no-repeat 0 0;
    padding-left: 20px;
    display: block;
    color: #FF8500;
    text-transform: uppercase;
    font: 12px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 5px;
}

.formulation span {
    background: url('../img/formulation.png') no-repeat 0 0;
    font-size: 14px;
}

.references {
    padding-bottom: 10px;
}

.references ol li {
    list-style-type: decimal;
    margin-left: 20px;
}

.copy h2 {
    font: 20px/24px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #FF8500;
    display: block;
    margin-bottom: 10px;
}

.copy .library-card h2 {
    font: 20px/24px 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
}

.copy h2 span {
    color: #575757;
}

.copy h4,
.copy h3 {
    color: #5B6770;
    font-weight: normal;
    font-style: normal;
    font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    padding-bottom: 6px;
    border-bottom: 1px solid #d8d8da;
    margin-bottom: 10px;
}

.copy h3 {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

.copy h6 {
    font-size: 10px;
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
}


/*
.copy p{
  margin-bottom: -4px;
}
*/


/*
=========================
  Single Page Elements
=========================
*/

.breadcrumbs {
    display: none;
}

.cta-links {
    margin-top: 15px;
}

.cta {
    width: 220px;
    background-color: #fff;
    border-bottom: 1px solid #a6a6a8;
    border-top: 5px solid #FF8500;
    display: block;
    margin-bottom: 35px;
    color: #8a8a8d;
}

.cta:hover {
    background-color: #FF8500;
    color: #fff;
}

.page-id-338 .cta.cta-1 {
    cursor: default !important;
}

.cta-1 {
    border-top: 5px solid #FFD400;
}

.cta-1:hover {
    background-color: #FFD400;
}

.cta-2 {
    border-top: 5px solid #FF8500;
}

.cta-2:hover {
    background-color: #FF8500;
}

.cta-3 {
    border-top: 5px solid #5B6770;
}

.cta-3:hover {
    background: #5B6770;
}

.cta span {
    display: block;
}

.cta-title {
    font: 16px/20px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    padding: 5px 20px 0;
    text-transform: uppercase;
}

.cta-text {
    padding: 0 20px 10px;
    font-size: 13px;
}
.cta-text .footnote {
    font-size: 10px;
    margin: 5px 0 0 0;
}

.portal-spacer {
    width: 100%;
    height: 50px;
}

.portal-wrap {
    background-color: #efefef;
    padding: 20px;
    min-height: 376px;
}

.portal-menu {
    width: 220px;
    background-color: #fff;
    border-bottom: 5px solid #FF8500;
    border-top: 5px solid #FF8500;
    display: block;
    margin-bottom: 35px;
    color: #5B6770;
}

.portal-menu a {
    display: block;
    padding: 10px 0 10px 20px;
    font: 16px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
}

.portal-menu a:hover,
.portal-menu .current-menu-item a {
    color: #fff;
    background: #FF8500 url('../img/portal-nav.png') no-repeat center left;
}

.portal-page .cta {
    line-height: 16px;
}


/*
=========================
  Tabs
=========================
*/

.tab-names {
    border-bottom: 2px solid #FF8500;
}

.tab-names a {
    display: inline-block;
    font-size: 12px;
    font-family: 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    padding: 8px;
    color: #7d7d7d;
    background-color: #f2f2f2;
    border-right: 2px solid #fff;
}

.tab-names a:hover,
.tab-names a.active {
    background-color: #FF8500;
    color: #fff;
}

.tab {
    padding: 15px;
    display: none;
    background-color: #f2f2f2;
    color: #444;
    margin-bottom: 20px;
}

.tab.active {
    display: block;
}

.tab h2,
.tab h3 {
    font-weight: none;
    font-style: none;
    color: #FF8500;
    font: 20px/24px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 5px;
}

.copy .tab ul li {
    margin-bottom: 4px;
}


/*
=========================
  Charts
=========================
*/

.chart-row {
    display: table;
    height: 115px;
    margin-bottom: 20px;
}

.chart-row img {
    float: left;
    margin: 0 20px 0 0;
    width: 115px;
    max-width: 115px;
}

.chart-right {
    display: table-cell;
    vertical-align: middle;
}

.chart-right h5 {
    font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #FF8500;
    text-transform: uppercase;
    display: block;
    margin-bottom: 2px;
}

.page-id-39 #chart-wrap {
	height: 415px;
    padding-left: 250px;
    background: url('../img/charts/human.png') no-repeat top left;
}


/*
=========================
  Overlay
=========================
*/

#supplynote {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  display: none;
}

a#note-close {
 display: block;
 position: absolute;
 right: 5px;
 top: 5px;
 cursor: pointer;
 margin: 0;
 text-decoration: none;
 font-size: 12px;
 color: transparent;
 background-image: url("../img/bg/close-modal.png");
 height: 26px;
 width: 26px;
}

.modal {
 width: 817px;
 height: 450px;
 position: relative;
 margin: 25% auto 0;
 background: white;
 box-sizing: border-box;
 overflow: hidden;
}

.modal-hero img {
  position: absolute;
  width: 492px;
  height: 427px;

  left: -33px;
  top: 0;
}

.modal-logo img {
 position: absolute;
 width: 216px;
 height: 88px;

 left: 506px;
 top: 332px;
}

.modal-controls a, .btn-site {
  display: inline-block;
  text-align: center;
  font: 16px 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
  border: 2px solid #FF8500;
  padding: 10px 0;
  width: 95px;
  margin-top: 10px;
}

.modal-msg {
  display: inline-block;
  margin-left: 410px;
  margin-top: 105px;
}

.modal-controls {
  margin-top: 40px;
}

.modal-msg .left {
    width: 270px;
}

.modal-msg .right {
    width: 400px;
}

.modal-msg .right .btn-yes {
  width: auto;
  margin: -10px auto;
  padding: 8px 20px;
}


div.modal-controls.bot>a.btn-medi-yes.animC:hover {
    color: #fff;
}

a#close-modal {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    border: 1px #333 solid;
    padding: 0 5px;
    margin: 0;
    text-decoration: none;
    font-size: 12px;
    color: #333;
}

.btn-site {
    width: auto;
    padding: 10px 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.modal-controls a:hover,
.btn-site:hover {
    background-color: #FF8500;
    color: #fff;
}

.modal-controls a.btn-grey {
    color: #5B6770;
    border: 2px solid #5B6770;
}

.modal-controls a.btn-grey:hover {
    background-color: #5B6770;
    color: #fff;
}

.coupon-denied {
    display: none;
}

.medicare-notice h4 {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    color: #FF8500;
    text-transform: uppercase;
}

.medicare-notice span.tm {
    font-weight: normal;
}

.medicare-notice span.ferr {
    font-size: 26px;
    line-height: 32px;
    font-weight: normal;
    text-transform: none;
}

.medicare-notice p {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}

.medicare-notice .modal-controls.bot {
    float: right;
    margin: 30px 20px 0 0;
}

.medicare-notice .modal-controls.top .btn-medi-yes {
    width: 200px;
    margin-top: 20px;
    color: #FF8500;
}

.medicare-notice .modal-controls.top .btn-medi-yes:hover {
    margin-top: 20px;
    background-color: #FF8500;
    color: #fff;
}

.medicare-notice .modal-controls.bot .btn-medi-yes {
    width: 185px;
    color: #FF8500;
}


/* ===============
  INTERACTIVE LIBRARY
*/ ===============

.library-card-title h4 {
    font-family: "Avenir LT W01 95 Black", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #ff8500;
    text-transform: capitalize;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.cta-isi-sidebar{
    font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    width: auto;
    /*height: 30px;*/
    background-color: white;
    margin-top: -35px;
    padding-top: 15px;
}

.cta-isi-homepage {
    font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.page-id-31 .indication{
    display:none !important;
}

.page-id-177 .cta-links{
    margin-top: -80px;
}

.augmented-1-25 {
    font-size: calc(1em + 1em * 0.25);
}

.augmented-1-5 {
    font-size: calc(1em + 1em * 0.5);
}

.augmented-1-49 {
    font-size: calc(1em + 1em * 0.49);
}

.augmented-1-75 {
    font-size: calc(1em + 1em * 0.75);
}

.augmented-2 {
    font-size: calc(2em);
}

.decrease-0-85 {
    font-size: calc(0.85em);
}

.decrease-0-75 {
    font-size: calc(0.75em);
}

.decrease-0-5 {
    font-size: calc(0.5em);
}

.decrease-0-25 {
    font-size: calc(0.25em);
}

#hcp > div.grid.cf.hcp-home-bg > div > div > div > div.camp-wrap > div.campaign-text > p {
    padding-top:10px;
    line-height: 20px;
}

div.tab-patient-coverage > div.tab-names.cf > a:nth-child(1).active {
    background-color: #C75F1C;
}

div.tab-patient-coverage > div.tab-names.cf > a:nth-child(2).active {
    background-color: #004D92;
}

div.tab-patient-coverage > div.tab-names.cf > a:nth-child(1):hover {
    background-color: #C75F1C;
}

div.tab-patient-coverage > div.tab-names.cf > a:nth-child(2):hover {
      background-color: #004D92;
  }

.no-bold {
    font-family: "Avenir LT W01 55 Roman", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
}
.brand-orange{
    color:#FF8500 !important;
}

img.size-75w {
    width: 75%;
    height: auto;
    margin: auto;
}

img.size-50w {
    width: 50%;
    height: auto;
    margin: auto;
}
.copy img.warning {
    margin-right: 8px;
}
.supCorrection {
    display: none;
}
.footnote {
    text-indent: -5px;
}
@media screen and (max-width: 737px) {
    .page-id-177 .cta-links{
        margin-top: 0;
    }
    .page-id-39 #chart-wrap {
        height: 250px;
    }
}

#menu-item-3777{
    border-bottom: 2px solid #d06024;

}
