/* Mobile */
@media screen and (max-width:737px){

  .hcp-home-bg{
    background: transparent;
  }

  .mobile{
    display: block;
  }
  
  .desktop, .post-edit-link, .btn-grid{
    display: none;
  }
  
  .copy img.mobile {
      display: block;
  }
  .copy img.desktop {
      display: none;
  }

  .sub-menu,
  .page-id-7 .sub-menu,
  .sub-menu{
    display: none;
  }
  
  
  .sub-menu{
    display: none !important;
  }
  
  .grid{
    width: 100%;
    padding: 0;
  }
  
  .grid-1, .grid-2, .grid-3, .grid-4, 
  .grid-5, .grid-6, .grid-7, .grid-8, 
  .grid-9, .grid-10, .grid-11, .grid-12{
    width: 95%;
    padding: 2.5%;
  }
  
  .left, .right{
    float: none;
  }
  
  /* Header */
  
  header,
  #patient header,
  #assistance header{
    height: auto;
    background-image: none;
    background-color: rgba(255,255,255,0.4);
    border-bottom: none;
  }
  
  #patient header{
    background-color: rgba(255,255,255,0.9);
  }
  
  
  #logo{
    max-width: 132px;
    width: 132px;
    margin: 2.5% 0 0 2.5%;
    float: none;
  }
  
  .intent{
    float: none;
    width: 95%;
    height: auto;
    padding: 1% 2.5%;
    background-position: 0 -10px;
    background-image: none;
    text-align: center;
    background: -webkit-linear-gradient(45deg, rgba(249,160,32,1) 0%, rgba(255,221,76,1) 100%); /* safari5.1+,chrome10+ */
    margin: 0px;
  }
  
  .intent{
    color: #fff;
  }
  
  .header-links{
    float: none;
    text-align: center;
    background-color: #F99D1C;
    padding-right: 0px;
    margin-top: 0px;
  }
  
  .header-links a{
    background-color: #fff;
    width: 49.5%;
    display: block;
    float: left;
    padding: 2% 0;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 14px;
  }
  
  .header-links a.pi-link{
    float: right;
  }
  
  .header-links a.desktop{
    display: none;
  }
  
  nav .menu{
    padding-left: 0px;
  }
  .sub-buttons-container {
    display: none;
  }
  /* Home */
  
  .home-campaign,
  .campaign-tagline{
    padding: 0px;
    font-size: 14px;
    line-height: 18px;
  }
  
  .campaign-text br,
  .campaign-tagline br,
  .campaign-small br{
    display: none;
  }
  
  .home-campaign{
    height: auto;
    padding-bottom: 5%;
  }
  
  .campaign-tagline{
    padding: 2.5% 0;
  }
  
  .campaign-text,
  .page-id-76 .campaign-text{
    font-size: 18px;
    line-height: 24px;
  }
  
  .campaign-small{
    padding-top: 10px;
  }
  
  .callouts{
    padding-top: 0;
    margin-left: 0;
  }
  
  .callout{
    background: #fff;
  }
  
  .callout,
  #patient .callout,
  #assistance .callout{
    height: auto;
    padding: 2% 0;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    width: 100%;
  }
  
  .page-id-76 .callout.nom{
    margin: auto auto 20px auto !important;
  }
  
  .callout .main_text{
    padding: 0 2.5%;
  }
  
  .callout .sub_text{
    padding: 0 2.5%;
  }
  
  .callout .square{
    display: none;
  }
  
  #home-hand, 
  #assistance #home-hand{
    display: block;
    width: 75%;
    margin: auto;
    float: none;
  }
  
  #patient #home-hand{
    display: block;
    width: 100%;
    margin: auto;
    float: none;
  }


  .home-info,
  #patient .home-info,
  #assistance .home-info{
    width: 100%;
  }
  
  /* ISI */
  
  #isi, #patient #isi{
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }
  
  /* Footer */
  
  footer{
    padding: 10px 0;
    line-height: 20px;
    font-size: 12px;
  }
  
  footer img.grid-2{
    width: 140px;
    /*height: 33px;*/
    margin: auto;
  }

  .footer-links li {
    font-size: 14px;
  }

  .akebia-footer-logo {
    text-align: center;
  }
  
  .callout-top{
    background-image: none;
    background-color: #FFD400;
    margin-bottom: 10px;
  }
  
  .callout-2 .callout-top{
    background-color: #F99D1C;
  }
  
  .callout-3 .callout-top{
    background-color: #cfcecf;
  }
  
  .callout:hover, .callout:visited{
    background-color: #fff !important;
    color: #5B6770 !important;
  }
  
  
  /* Single Page */
  .interior{
    background: none;
  }
  
  .post-titles h2{
    margin-top: 10px;
  }
  
  #patient .post-titles img, #assistance .post-titles img{
    display: none;
  }
  
  #patient .post-titles, #assistance .post-titles{
    padding: 2.5%;
    height: auto;
    margin: 0px;
  }
  
  #patient .post-titles h2, #assistance .post-titles h2{
    padding: 0;
    margin: 0;
    float: none;
  }
  
  .cta, .portal-menu{
    width: 100%;
  }
  
  .cta-top{
    background: #F99D1C;
  }
  
  .cta-1 .cta-top{
    background: #FFD400;
  }
  
  .breadcrumbs{
    width: 100%;
    margin: auto;
    padding: 0;
   
    display: block;
  }
  
  .breadcrumbs a{
    border-left: 5px solid #F99D1C;
    display: block;
    padding: 1.75% 2.5% 1.5%;
    width: 90%;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #575757;
    font-family: 'Avenir LT W01 65 Medium', 'Helvetica Neue', Arial, sans-serif;
  }
  
  .breadcrumbs .current_page_item a{
    color: #F99D1C;
  }
  
  .post-titles{
    margin-bottom: 5px;
  }
  
  .campaign-btm{
    width: 95%;
    padding: 2.5%;
    padding-left: 0px;
  }
  
  .campaign-btm strong{
    margin-left: 0px;
  }
  
  .campaign-line{
    height: 95%;
  }
  
  .page-id-76 .campaign-btm strong{
    padding: 0px
  }
  
  .sub-menu,
  .page-id-7 .sub-menu,
  .sub-menu{
    display: none;
  }
  
  /* Patients */
  
  
  .page-id-11 .content,
  #patient.page-id-11 .content{
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
  }
  
  #patient .legal,
  #patient .footer-links{
    margin: 0px;
  }
  
  #patient .post-titles{
    padding: 2.5%;
    margin: 2% 0;
  }
  
  #patient .post-titles img{
    display: none;
  }
  
  #patient .post-titles h2{
    float: none;
    margin: 0px;
  }
  
  #patient .post-titles{
    height: auto;
  }
  
  #assistance .campaign-text{
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
    background-image: none;
  }
  
  #assistance .camp-wrap{
    width: auto;
    height: auto;
    margin: 0;
    padding: 2%;
  }
  
  #assistance .campaign-text br{
    display: block;
  }
  
  #assistance .campaign-tagline{
    padding: 2px 0;
  }
  
  .page-id-13 .home-campaign{
    padding-top: 0px;
    margin-top: 10px;
  }
  
  #assist-logo{
    display: none;
  }
  
  
  /* FAQs */
  
  .faq-controls{
    padding-left: 35px;
  }
  
  .faq{
    padding-left: 34px;
  }
  
  .faq-question{
    font-size: 14px;
    line-height: 20px;
  }
  
  .faq-answer{
    font-size: 12px;
    line-height: 16px;
  }
  
  
  
  .tab{
    padding: 2.5%;
  }
  
  
  /* Modal */

  .modal {
    width: 375px;
    height: 581px;
    position: relative;
    margin: 25% auto 0;
    background: white;
    box-sizing: border-box;
   }

   .modal-hero img {
    position: absolute;
    width: 361px;
    height: 316px;

    left: 5px;
    top: 242px;
   }

   .modal-logo img {
    position: absolute;
    width: 146px;
    height: 59px;

    left: 142px;
    top: 254px;
   }
   
   .modal-controls a {
    font: 14px 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
   }
 
   .modal-msg {
    display: inline-block;
    margin-left: 40px;
    margin-top: 105px;
  }

  .modal-controls {
    margin-top: 35px;
  }

  .modal-msg .left {
      width: 270px;
  }

  .modal-msg .right {
      width: 335px;
  }

  .modal-msg .right .btn-yes {
    width: auto;
    margin: -10px auto;
    padding: 8px 20px;
  }
  
  .page-id-39 #chart-wrap{
    padding-left: 0px;
    background: none;
  }
  
  .chart-row{
    height: 75px;
  }
  
  .chart-row img{
    width:75px;
    max-width: 75px;
  }
  
  .chart-row br{
    display: none;
  }
  
  
  
  /* Navigation */
  
  #mobile-menu{
    background: url('../img/mobile-menu.png?v=2');
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 9999;
    top: 25px;
    right: 2.5%;
  }
  
  #mobile-menu.open{
    opacity: 0.8;
  }
  
  nav, #patient nav, #assistance nav{
    margin: 0;
    border: none;  
    position: absolute;
    top: 65px;
    z-index: 9999;
    width: 100%;
    display: none;
    height: auto;
    background: transparent;
  }
  
  #patient nav, #assistance nav{
    width: 95%;
  }
  
  nav.mobile-open, #patient nav.mobile-open, #assistance nav.mobile-open{
    display: block;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  
  nav li{
    float: none;
    z-index: 9999;
  }
  
  nav .grid-12{
    padding: 0 2.5%;
  }
  
  nav li a, nav li a,
  #assistance nav li:last-child a,
  #assistance nav li a{
    background: #FF8500;
    color: #fff !important;
    float: none;
    display: block;
    padding: 2.5%;
    border-bottom: 2px solid #fff;
  }
  
  #patient nav li.current-menu-item a,
  #assistance nav li.current-menu-item a,
  #patient nav li.current-page-ancestor a,
  #assistance nav li.current-page-ancestor a{
    background: #FF8500;
    color: #fff !important;
  }
  
  nav li a:hover, nav li a:hover, nav li.current-page-ancestor a, nav li.current-menu-item a,
  nav li .sub-menu li a:hover,
  #patient nav li:last-child a:hover, #patient nav li.current-menu-item:last-child a,
  #assistance nav li:last-child a:hover, #assistance nav li.current-menu-item:last-child a{
    background: #FF8500;
    color: #fff;
  }
  
  nav li a:hover,#patient nav li a:hover, #assistance nav li a:hover{
    color: inherit !important;
  }
  
  .sub-menu{
    display: block;
    position: relative;
    top: 0px;
  }
  
  nav li .sub-menu li a,
  #patient nav li .sub-menu li a, #patient nav li .sub-menu li:last-child a,
  #assistance nav li .sub-menu li a, #assistance nav li .sub-menu li:last-child a,
  li#menu-item-212 a{
    padding: 2.5% 2.5% 2.5% 10%;
    background: #FF8500;
  }
  
  
  nav li.mobile-copy a,
  #assistance nav li.mobile-copy a{
    background-color: #e5e5e5 !important;
    color: #FF8500 !important;
  }
  
  
  #patient .intent,
  #assistance .intent{
    margin-top: 0px;
    background-color: #FF8500;
    color: #fff;
  }
  
  .breadcrumbs{
    margin-top: 10px;
  }
  
  .page-id-333 .breadcrumbs{ display: none;}
  
}

@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 767px) 
  and (orientation : landscape) { /* STYLES GO HERE */

  .isi-page-only{
    font-size: 20px;
  }

  #patient.page-id-11 .content{
    background-repeat: none;
  }
  
  #isi ul li{
    background: url('../img/bullet.png') no-repeat 10px 12px;
  }
  
  .copy ul li{
    background: url('../img/bullet.png') no-repeat 2px 12px;
  }
  
  .formulation span{
    font-size: 18px;
    background: url('../img/formulation.png') no-repeat 0 4px;
  }

}

@media screen and (min-width:375px) and (max-width: 413px) {
  .supCorrection {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  br.mobile {
      display: none;
  }
}