body#patient {
  background: #f2f2f2 url("../img/patients/bg.png") no-repeat top center;
}

#patient .content {
  background: url("../img/bg/content-white.png") repeat-y top center;
}

#patient .interior,
#assistance .interior {
  background: url("../img/bg/sidelines-patient.png") no-repeat 860px 0;
}

/* Header */

#patient header,
#assistance header {
  background-color: rgba(255, 255, 255, 0.9);
  height: 130px;
  border-bottom: 5px solid #d06024;
}

#patient nav,
#assistance nav {
  border: 0px;
  height: auto;
  background-color: transparent;
  margin-top: 34px;
}

#patient nav li a,
#assistance nav li a {
  color: #5b6770;
}

#patient nav li a:hover,
#assistance nav li a:hover {
  color: #d06024 !important;
}

#patient nav li#menu-item-266 a {
  text-transform: none;
}

#patient nav li:last-child a,
#assistance nav li:last-child a {
  padding-right: 0px;
}

#patient nav li:last-child a:hover,
#patient nav li.current-menu-item:last-child a {
  background: url("../img/hcp/header-active.png") no-repeat 50px bottom;
}

#assistance nav li:last-child a:hover,
#assistance nav li.current-menu-item:last-child a {
  background: url("../img/hcp/header-active.png") no-repeat 36px bottom;
}

#patient nav li .sub-menu li a,
#patient nav li .sub-menu li:last-child a {
  background: rgba(255, 255, 255, 0.8);
  min-width: 175px;
  padding: 10px 42px;
}


#menu-item-262, #menu-item-3523{
  border-bottom: 2px solid #d06024;
}

#patient nav li.current-page-ancestor a,
#patient nav li.current-menu-item a,
#assistance nav li.current-page-ancestor a,
#assistance nav li.current-menu-item a {
  background: url("../img/hcp/header-active.png") no-repeat center bottom;
  color: #d06024;
}

#patient nav li.current-menu-item ul a,
#patient nav li.current-page-ancestor ul a,
#assistance nav li.current-menu-item ul a,
#assistance nav li.current-page-ancestor ul a {
  color: #5b6770;
}

#patient nav li ul li.current-menu-item a,
#assistance nav li ul li.current-menu-item a {
  color: #ff8500 !important;
}

/* Home Page */

#patient.page-id-11 .content {
  margin-top: 0px;
  /* padding-top: 55px; */
  /* background: url("../img/bg/HP_Patient_Header2.jpg") repeat-y top center; */
}

#patient #home-hand {
  width: 100%;
}

/* #patient #home-hand,
#assistance #home-hand {
  width: 437px;
  margin-left: -8px;
  margin-top: 1px;
} */

#patient .home-info,
#assistance .home-info {
  width: 480px;
}

.legal {
  margin: 5px 0 0 40px;
}

.footer-links {
  margin-top: 0;
  text-align: center;
}

#patient .footer-links,
#assistance .footer-links {
  margin-top: 0;
}

#patient .callout {
  height: 118px;
}

#patient .post-titles,
#assistance .post-titles {
  background: #f0f0f0;
  padding: 28px 0 27px;
  margin: 54px 0 45px;
  position: relative;
  height: 30px;
}

#assistance .post-titles {
  margin: 45px 0 45px 50px;
}

#patient .post-titles img,
#assistance .post-titles img {
  float: left;
  margin: -55px -20px 0 0;
}

#assistance .post-titles img {
  margin: -56px -18px 0 -48px;
}

#patient .post-titles h2,
#assistance .post-titles h2 {
  margin: 0px;
  float: left;
}

#patient .post-titles h3,
#patient .post-titles h4 {
  display: none;
}

#patient .campaign-text,
#assistance .campaign-text {
  color: #ff8500;
}

/* Patient Assistance */

body#assistance {
  background: url("../img/bg/assist.png");
}

#assist-lines {
  background: url("../img/bg/assist-lines.png") no-repeat top center;
}

#assistance nav li a {
  padding: 25px 20px 24px;
}

#assistance nav li .sub-menu li a,
#assistance nav li .sub-menu li:last-child a {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  min-width: 200px;
}

.page-id-13 .home-campaign {
  margin-top: 20px;
  padding-top: 45px;
}

#assistance .callout {
  height: 134px;
}

#assistance .campaign-line {
  display: none;
}

#assistance .campaign-btm {
  border-bottom: 0px;
  background: url("../img/plus.png") no-repeat top left;
}

#assistance .cmp-wrap {
  padding: 15px 25px;
}

/*
#assistance .campaign-text{
  background: url('../img/campaign-text.png');
  width: 506px;
  padding-left: 28px;
  height: 66px;
  padding-top: 5px;
  margin: 0 0 0 -28px;
}
*/

#assistance .camp-wrap {
  background: url("../img/campaign-text.png");
  width: 510px;
  padding-left: 25px;
  height: 134px;
  margin: 0px 0 0 -23px;
}

#assistance .campaign-tagline {
  padding: 10px 0 10px;
}

#assist-logo {
  background: url("../img/assist-logo.png");
  position: absolute;
  width: 71px;
  height: 71px;
  right: 10px;
  top: 7px;
}

#assistance .post-titles h2 {
  color: #5b6770;
}

#assist-home-logo {
  display: none;
  width: 79px;
  height: 79px;
  background: url("../img/assist-home-logo.png");
  margin-top: 15px;
}

#assistance #assist-home-logo {
  display: block;
}

/*
=========================
  FAQs
=========================
*/

.faq-controls {
  padding-left: 80px;
}

.faq-controls a {
  float: left;
  font-family: "Avenir LT W01 95 Black", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  color: #ff8500;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 6px;
  border: 1px solid #e5e5e5;
}

.faq-controls a.active,
.faq-controls a:hover {
  color: #fff;
  background-color: #ff8500;
}

.faq {
  position: relative;
  padding: 20px 0 20px 80px;
  border-bottom: 1px solid #e5e5e5;
  color: #7d7d7d;
  cursor: pointer;
}

.faq a {
  color: #ff8500;
}

.faq .icon {
  width: 25px;
  height: 25px;
  background: url("../img/faqs.png") no-repeat 0 0;
  position: absolute;
  left: 0px;
}

.faq.open .icon {
  background: url("../img/faqs.png") no-repeat 0 -90px;
}

.faq-question {
  display: block;
  font: 20px/24px "Avenir LT W01 55 Roman", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
}

.faq-answer {
  margin-top: 5px;
  color: #444;
  font-size: 14px;
  line-height: 18px;
  display: none;
}

#patient .callout .square {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ff8500;
  display: block;
  bottom: -8px;
  right: 0px;
}

#patient .callout.callout-2 .square {
  background-color: #ffd700;
}

#patient .callout.callout-3 .square {
  background-color: #7d7d7d;
}

#patient .callout.hover .square {
  display: none;
}

.ie8 #patient .sub-menu li a {
  width: 140px;
  min-width: 140px;
  background-image: none;
}

.ie8 #assistance .sub-menu li a {
  width: 160px;
  min-width: 160px;
  background-image: none;
}

#assistance .campaign-btm strong {
  margin-bottom: 0px;
}

/* Label Updates */

.page-id-11 .callouts {
  padding-top: 50px;
}

#menu-hcp-menu {
  /*padding-left: 80px;*/
}
li#menu-item-3273,
li#menu-item-2606 {
  background: url(/wp-content/uploads/Home_Icon-1.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50% 50%;
  text-indent: -9999px;
  width: 85px;
}

li#menu-item-3273.current-menu-item,
li#menu-item-2606.current-menu-item {
  background: url(/wp-content/uploads/homeicon_orange.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50% 50%;
  text-indent: -9999px;
  width: 85px;
}

#patient .cta-isi-sidebar a span {
  display: none;
}

#patient .grid.top-banner {
  display: none !important;
}
.copy a:hover {
  text-decoration: none !important;
}

@media screen and (max-width: 737px) {
  li#menu-item-2606 {
    text-indent: 0px !important;
    width: 100%;
  }

  .header-links-patient a {
    background-color: #fff;
    width: 46.5%;
    display: inline-block;
    float: none;
    padding: 0;
    font-size: 11px;
    line-height: 0;
    color: #5b6770;
    white-space: nowrap;
    text-align: center;
  }
  .header-links-patient {
    text-align: center;
  }
  .intent-mobile {
    text-align: center;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 1% 0 1% 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    margin-top: 10px;
    background-color: #ff8500;
    color: #fff;
  }
  #mobile-menu {
    top: 80px !important;
  }
  #patient nav {
    top: 153px !important;
  }
}

/* Support Program Page */
.list-dls-patient {
  position: relative;
  --alt-color: #44c6c2;
}
h3.no-style {
  text-transform: none !important;
}
img.patient-support-img {
  position: absolute;
}

img.patient-support-img {
  position: absolute;
  top: 7px;
}

p.patient-img-text {
  position: relative;
  top: 25px;
  font-size: 19px;
  color: #0d3556;
  /* font-family: "Avenir-Black" !important; */
  font-family: "Avenir LT W01 95 Black", "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 33px !important;
}
p.patient-img-subtext {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  color: #5b6971;
  font-family: "Avenir LT W01 95 Black", "Helvetica Neue", Arial, sans-serif;
  margin-bottom: .6rem !important;
}

.patient-supp-list {
  padding-left: 70px;
}

.list-dls-patient ul li{
  font: 20px/24px "Avenir LT W01 55 Roman", "Helvetica Neue", Arial, sans-serif;
}

/*  NOTE: give all the appropriate p tags the patient-question class to affect this change!!!*/
p.patient-question {
  color: #44c6c2;
  font-size: 16px;
  font-family: "Avenir LT W01 95 Black", "Helvetica Neue", Arial, sans-serif;

  margin-bottom: .7rem !important;
}

.list-dls-patient li {
  margin-left: 9px;
  font-size: 16px !important;
  color: #5a6870;
  font-family: "Avenir Heavy", "Helvetica Neue", Arial, sans-serif;

  margin-bottom: .5rem !important;
}

a.irr-patient-link.popup {
  color: #44c6c2;
  text-decoration: none !important;
  font-family: "Avenir LT W01 95 Black", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

.resourceOverlay #resourceP2{
  font-family: "Avenir Heavy", "Helvetica Neue", Arial, sans-serif;
  line-height: 20px !important;

}

div#patient-support-warning {
  margin-top: 2rem;
}

div#patient-support-warning p {
  font-family: "Avenir LT W01 55 Roman", "Helvetica Neue", Arial, sans-serif;
  font-size: 11px !important;
  line-height: 18px !important;

}

div#patient-support-warning p.first-warning {
  font-family: "Avenir LT W01 95 Black", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px !important;
  line-height: 19px !important;
}

.mobilePatientImg{
  display: none !important;
}
@media (max-width: 737px) {

  .desktopPateintChartImg{
    display: none !important;
  }
  .mobilePatientImg{
    display: block !important;
  }
  p.patient-img-text {
    margin-left: 70px;

  }

  p.patient-img-subtext {
    margin-top: 70px;
    margin-left: 0px;
  }

  .patient-supp-list {
    padding-left: 0px;
  }
}


.underlineTxt{
  text-decoration: underline !important;
}
.bannerNewPatient{

  display: none !important;
}

.footerAdjust ul li{
  border-right: 1px solid #ff8500;
  padding-right: 12px;
}


@media screen and (min-width: 737px) {
.footerAdjust{
 position: relative;
 left: 48% !important;
 transform: translateX(-50%) !important;
}

.patientFooterLogo{
  width:120px !important;
  margin-left: 110px;
  margin-top: 7px;
}

/* .contentMargin{
  margin-top: 30px;
} */


}

.bannerNewPatient{
  display: block !important;
  position: relative;
  margin-bottom: -40px;
}
.bannerImgPatient{
  position: relative;
  left: 50% !important;
  transform: translateX(-50%) !important;

}


.bannerImgPatientHidden, #hcp .bannerNewPatient, .page-template-page-patients-home .bannerNewPatient{

  display: none !important;
}

.pateintBannerTxt{
  color: #fff !important;
  position: relative;
  top: -53px !important;

}

/* #patient .post-titles, #assistance .post-titles {
  background: #c85f1d !important;


}
*/
#patient .post-titles h2 {
  color: #c85c14 !important;
}

#patient .breadcrumbs{
  display: none !important;
}

#patient nav.mobile-open{
  display: none !important;
}


.mobileMenuPatient{
  width: 100% !important;
    border-top: 10px solid #c85c14;
    display: none;
    position: absolute;
    left: 0px;
    top: 188px;
    z-index: 9999 !important;
  }


@media screen and (min-width: 738px){
	.mobileMenuPatient{
	display: none !important;
  }

  #patient header, #assistance header {
    background-color: rgba(255, 255, 255, 0.95);
    height: 160px;

}

#patient .menu-patient-navigation-container{
  position: relative;
  margin-left: -140px;
  bottom: -31px !important;

}

}

@media screen and (max-width: 704px){
.mobileMenuPatient{
top: 185px;
}
}

	@media screen and (max-width: 683px){
.mobileMenuPatient{
top: 182px;
}
}


@media screen and (max-width: 662px){
.mobileMenuPatient{
top: 178px;
}
}

@media screen and (max-width: 626px){
  .mobileMenuPatient{
  top: 175px;
  }
  }

  @media screen and (max-width: 577px){
    .mobileMenuPatient{
    top: 168px;
    }
    }

    @media screen and (max-width: 577px){
      .mobileMenuPatient{
      top: 166px;
      }
      }

    @media screen and (max-width: 489px){
      .mobileMenuPatient{
      top: 160px;
      }
      }

      @media screen and (max-width: 408px){
        .mobileMenuPatient{
        top: 155px;
        }
        }


@media screen and (max-width: 737px){
.pateintBannerTxt{
  color: #fff !important;
  position: relative;
  top: -68px !important;
  width: 100% !important;
  text-align: center !important;
  margin-left: -12px;

}

#patient{
  overflow-x: hidden;
}

.bannerNewPatient{

  margin-bottom: -75px;
}


}

@media screen and (max-width: 625px){
  .pateintBannerTxt{
    top: -65px !important;
   }
  }


  @media screen and (max-width: 523px){
    .pateintBannerTxt{
      top: -63px !important;
     }
    }

    @media screen and (max-width: 435px){
      .pateintBannerTxt{
        top: -61px !important;
       }
      }


#grayLiText{
  color:rgb(255, 133, 0) !important;
}

.newMobileImg{
  background: unset !important;
  background: url(/wp-content/uploads/menuClosePatient3.png) !important;
  width: 39px !important;
  height: 39px !important;


}

@media screen and (max-width: 737px){
.patientFooterLogo{
  all: unset !important;
  width:120px !important;
  position: relative !important;
  left: 50% !important;
  transform: translateX(-50%) !important;

}
}

.cursorHide{
  background: unset !important;
  background: none !important;
}

#patient .post-titles h2{
  text-transform: uppercase !important;
}

#patient #home-hand {
  width: 1000px;
  background: url(/wp-content/uploads/HP_Patient_Header2.jpg) !important;
}

.mobileBrHcp{
  display: none;
}


@media screen and (min-width: 737px){
  #patient #home-hand {
    margin-bottom: -50px;
  }

  .mobileBrHcp{
    display: block;
  }
}

.supportH3Header{
  margin-left: 140px;
  margin-top: -3px;
}

.supportH2Header{
  margin-left: 140px;
}

@media screen and (max-width: 501px){
.supportH3Header{
  margin-left: 0px !important;
  margin-top: 25px !important;
}

.supportH2Header{
position: relative;
    top: 8px;
}

}

@media screen and (max-width: 383px){


  .supportH3Header{
    margin-left: 0px !important;
    margin-top: 10px !important;
  }

  .supportH2Header{

        top: 0px;
    }



  }


  #patientMedWatchLink{
    color: #575757 !important;
    text-decoration: underline !important;
  }

  #patient .footer-links li{
    padding-left: 0px !important;
  }

  .liTxt{
    position: relative;
    top: -2px;
  }


  #patient .legal{
    font-size: 12px !important;
  }

.impSafetyLink-patient{
  /* color: #c85c14 !important; */
  background: #fff !important;
  position: relative !important;
top: -20px;
  left: 8px;
  padding: 5px 0px;
  font-family: "Avenir LT W01 55 Roman", "Helvetica Neue", Arial, sans-serif !important;

  font-size: 11px;
  color: #575757;
  width: 248px !important;
}

.impSafetyLink-patient a, .impSafetyLink-patientFAQ a, .impSafetyLink-patientHome a{
  text-decoration: underline !important;
  /* color:rgb(255, 133, 0) !important; */
  font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif !important;
}

.impSafetyLink-patientFAQ{
  background: #fff !important;
  position: relative !important;
top: -320px;
  left: -10px;
  padding: 5px 0px;
  z-index: 99999;
  font-family: "Avenir LT W01 55 Roman", "Helvetica Neue", Arial, sans-serif !important;

  font-size: 12px;
  color: #575757;
  width: 270px !important;

}

.impSafetyLink-patientHome{
  font-family: "Avenir LT W01 55 Roman", "Helvetica Neue", Arial, sans-serif !important;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #575757;
  margin-left: -8px;
  margin-top: 20px;
}



  .page-template-patientspage-faqs-php .sidebar-img{
    padding-top: 20px !important;
  }

  @media screen and (max-width: 737px){
    .impSafetyLink-patient, .impSafetyLink-patientFAQ{
      left: 50% !important;
      transform: translateX(-50%);
    }
  }



  .mobileMidBox{
    /* background: red; */
    width: 450px;
    position: relative;
    margin: 0 auto !important;
    top: 10px;
  }

  /* .assistance-icon{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  } */

  .assistance-p1{
    position: relative;
    font-weight: bolder;
    font-size: 13px;
    color: #005070;
    margin-top: -60px;
  font-family: "Avenir LT W01 95 Black", "Helvetica Neue", Arial, sans-serif;

    margin-left: 70px;
  }

  .assistance-p2{
    position: relative;
  font-family: "Avenir LT W01 55 Roman", "Helvetica Neue", Arial, sans-serif !important;

    font-size: 15px;
    color: #5b6770;


    margin-left: 70px;
  }

  .centerBox {
    position: relative;
    margin-left: 55px;

}

  .centerBox .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  font-family: "Avenir LT W01 55 Roman", "Helvetica Neue", Arial, sans-serif !important;

}

.centerBox .navBorder {
  height: 17px;
  border-right: 1.5px solid #00b1ac;
}

.centerBox .nav-link.disabled {
  color: #6c757d;
}

.centerBox .nav-link {
  display: block;
  padding: 0rem 1rem;
}


@media screen and (max-width: 737px){

  #patient #isi h3, #patient #isi p, #patient #isi li {

    line-height: 20px !important;
  }



  .assistance-icon{
    position: relative;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
.mobileMidBox{
width: 100% !important;
}

.assistance-p1,  .assistance-p2,  .centerBox{
margin-left: 0px !important;
}

.assistance-p1{
  margin-top: 5px;
  width: 100% !important;
  text-align: center;
}

.assistance-p2{
  font-size: 13px;
  width: 100% !important;
  text-align: center;
}

.centerBox .nav-link {
  display: block;
  padding: 0rem .6rem;
}

.centerBox{
  position: relative;
  width: 340px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

}

@media screen and (min-width: 737px){
#patient .post-titles h2 {

  left: -155px;
  position: relative;
}


.page-id-3878 .post-titles h2{
  left: -10px !important;
}

.page-id-3250 .post-titles h2{
  left: -125px !important;
}

}

