.faqBody{


    .bgImgFaq{
        position: absolute;
        top: 0px;
        z-index: -1;
        margin-left: 0px;
        height: 3500px !important;
        overflow: hidden;
        min-width: 1300px !important;
    }

     .contentInner{
         padding-bottom: 50px;
        
     }

     .outerContainer{
         padding-bottom: 30px;
         overflow-y: hidden;
       
     }
    
     
   

}



.expandBtn, .collapseBtn{
    height: 42px;
    width: 122px;
    background: #fff;
    color: #ff9522;
    border: 2px solid #cdd1d4;
    border-radius: 0px;
    font-size: 13px;
    font-family: 'Avenir-Black';
}



.collapseBtn{
    margin-left: 10px;
}





.accordionSection{
    padding-top: 30px;

    .minusIcon{
        display: none;
    }

    ul{
        list-style: none;
    }
    
    .inner{
        display: none;
    }

    .accordion{
        padding-left: 0px !important;
    }

    .accordionWrapper{
        border-bottom: 2px solid #cdd1d4;
    }

    .toggle {
      width: 100% !important;
    height: 70px !important;
    background: #fff !important;
    
    cursor: pointer;

        p{
            position: relative;
            top: 20px;
            left: 60px;
            font-size: 20px;
            color: #5a6870;
            font-family: 'Avenir-Medium';
            pointer-events: none;
        }

        img{
            position: relative;
            top: -35px;
            left: 5px;
        }

       
    }
               
        
    }


    .inner{
        padding-top: 0px;
        margin-left: 20px;

        .innerP1{
            font-family: 'Avenir-Roman';
            color: #5a6870;
            font-size: 15px;
            margin-top: -5px;
        }

        a{
            color: #5a6870;
        }

        a:hover{
            text-decoration: none;
        }

        .ulBlock{
            list-style: disc outside none; 
            margin-top: -6px !important;
             padding-left: 1em;
            padding-bottom: 20px !important;
             margin-left: 25px;
         
                     
             li {
                 padding-left: 1em;
                 color: #ff9522;
                
         
                 span{
                    position: relative;
                    left: -19px !important;
                 font-family: 'Avenir-Roman';
                 color: #5a6870;
                 font-size: 15px;
               
                 }
             }
        }
    }

    @media only screen and (min-width: 767px) {

    .expandBtn:hover, .collapseBtn:hover{
        background: #ff9522 !important;
        color: #fff !important;
        border: 2px solid #ff9522;
        cursor: pointer !important;
    }
}


    .strongText{
        font-family: 'Avenir-Heavy' !important;
    }


    

    @media only screen and (max-width: 991px) {
    .faqP1{
        width: 92% !important;
        line-height: 23px;
    }

    .toggle{
        padding-top: 5px !important;

        img{
            top: -30px !important;
        }
    }

}


@media only screen and (max-width: 767px) {
    .faqP1{
        width: 82% !important;
    }

}

@media only screen and (max-width: 774px) {
    .toggle7 .faqP1{
       top: 12px !important;

       
    }

    .accordionSection .toggle7{
        height: 80px !important;
    }


    .toggle7 img{
        top: -50px !important;
    }
}


@media only screen and (max-width: 767px) {
    .toggle1 .faqP1, .toggle6 .faqP1, .toggle9 .faqP1{
       top: 12px !important;

       
    }


  

    .accordionSection .toggle1, .accordionSection .toggle6, .accordionSection .toggle9{
        height: 80px !important;
    }


    .toggle1 img, .toggle6 img, .toggle9 img{
        top: -50px !important;
    }
}


@media only screen and (max-width: 621px) {
    .toggle4 .faqP1{
       top: 12px !important;

       
    }

    .accordionSection .toggle4{
        height: 80px !important;
    }


    .toggle4 img{
        top: -50px !important;
    }
}



@media only screen and (max-width: 414px) {
    .toggle7 .faqP1{
       top: 12px !important;

       
    }

    .accordionSection .toggle7{
        height: 101px !important;
    }


    .toggle7 img{
        top: -65px !important;
    }
}


@media only screen and (max-width: 477px) {
    .toggle1 .faqP1{
       top: 12px !important;

       
    }

    .accordionSection .toggle1{
        height: 101px !important;
    }


    .toggle1 img{
        top: -65px !important;
    }
}

@media only screen and (max-width: 394px) {
    .toggle9 .faqP1{
       top: 12px !important;

       
    }

    .accordionSection .toggle9{
        height: 101px !important;
    }


    .toggle9 img{
        top: -65px !important;
    }
}

@media only screen and (max-width: 433px) {
    .toggle6 .faqP1{
       top: 12px !important;

       
    }

    .accordionSection .toggle6{
        height: 101px !important;
    }


    .toggle6 img{
        top: -65px !important;
    }
}


@media only screen and (max-width: 392px) {
    .toggle5 .faqP1{
       top: 12px !important;

       
    }

    .accordionSection .toggle5{
        height: 80px !important;
    }


    .toggle5 img{
        top: -50px !important;
    }
}

@media only screen and (max-width: 387px) {
    .toggle3 .faqP1{
       top: 12px !important;

       
    }

    .accordionSection .toggle3{
        height: 80px !important;
    }


    .toggle3 img{
        top: -50px !important;
    }
}

@media only screen and (max-width: 372px) {
    .toggle10 .faqP1{
       top: 12px !important;

       
    }

    .accordionSection .toggle10{
        height: 80px !important;
    }


    .toggle10 img{
        top: -50px !important;
    }
}

@media only screen and (max-width: 362px) {
    .toggle8 .faqP1{
       top: 12px !important;

       
    }

    .accordionSection .toggle8{
        height: 80px !important;
    }


    .toggle8 img{
        top: -50px !important;
    }
}


.ulBlock-Left{
    margin-left: 3px !important;
}

// @media only screen and (max-width: 470px) {
//     .toggle3 .faqP1{
//         top: 12px !important;
 
        
//      }
 
//      .accordionSection .toggle3{
//          height: 80px !important;
//      }
 
 
//      .toggle3 img{
//          top: -50px !important;
//      }

// }

@media only screen and (max-width: 545px) {
    
    .ulBlock li{
        line-height: 23px !important;
    }
}