.boxContainers{
    margin-left: -5px !important;
    margin-top: 7px;

    .box{
        width: 100%;
        position: relative;
        height: 117px;
        cursor: pointer !important;

            .p1{
                color: #5b6770;
                font-size: 20px;
                position: relative;
                font-family: 'Avenir-Black';
                top: 10px;
                line-height: 22px;
                
                
            }
       
            .p2{
                color: #5b6770;
                font-size: 14px;
                position: relative;
                font-family: 'Avenir-Roman';
                line-height: 15px !important;
                
            }
    }
    
    .boxOne{
        border-top: 7px solid #ff8500;
        border-bottom: 3px solid #d0d0d1;
        cursor: pointer !important;
        transition: background-color 0.2s ease-in;
       

    }

    .boxOne:hover{
        background: #ff8500;
        border-bottom: 3px solid #ff8500;
        p{
            color: #fff;
        }
    }
    
    .boxTwo{
        border-top: 7px solid #ffd700;
        border-bottom: 3px solid #d0d0d1;
        transition: background-color 0.2s ease-in;
        cursor: pointer !important;
        margin: 0px 20px;
    }
    .boxTwo:hover{
        background: #ffd700;
        border-bottom: 3px solid #ffd700;
        
        p{
            color: #fff;
        }
    }
    
    
    .boxThree{
        border-top: 7px solid #5b6770;
        border-bottom: 3px solid #d0d0d1;
        transition: background-color 0.2s ease-in;
        cursor: pointer !important;
    }
    .boxThree:hover{
        background: #5b6770;
        border-bottom: 3px solid #5b6770;
        p{
            color: #fff;
        }
    }
    

}


.midBox{
    width: 100%;
    height: 120px;
    
    margin-top: 15px;
    position: relative;

        img{
            position: absolute;
            left: 5px;
        }

            .textBox{
                position: absolute;
                left: 85px;
                top: 5px;
                width: 100% !important;
                .assistance-p1{
                    color: #005070;
                    font-size: 13px !important;
                    font-family: 'Avenir-Black';
        
                }

                .assistance-p2{
                    color:#5b6770;
                    font-size: 15px;
                    font-family: 'Avenir-Medium';
                    position: relative;
                    top: -15px;
                }

                .rowP{
                    color: #5b6770;
                    font-size: 15px;
                    font-family: 'Avenir-Medium';
                


                        a{
                            color: #5b6770;
                            text-decoration: none !important;
                        }


                        
                }

                .rowPMiddle{
                    margin: 0px -100px !important;
                }

                .centerRow{
                    position: relative;
                    left: -55px;
                    top: -30px;
                }

                .AM{
                    font-size: 11px !important;
                }

                .verticalLine{
                    width: 2px;
                    height: 17px;
                    background: #003055;
                   left: 185px;
                    position: absolute;
                    top: 3px;
                }

                .verticalLineTwo{
                    width: 2px;
                    height: 17px;
                    background: #003055;
                   left: 330px;
                    position: absolute;
                    top: 3px;
                }

                .isiTxt{
                    color: #5b6770;
                    font-size: 15px;

                        a{
                         color: #5b6770;
                            text-decoration: underline;
                        }
                }

            }

       
}

.headerImg{
    width: 110% !important;
}




.backdropContainer{
   position: absolute;
    height: 2350px;
    width: 100%;
 overflow: hidden;
 padding-left: 0px !important;
 margin-left: 0px !important;

 .bgImgFaq{
    top: -200px;
 }

}

.homePage{
    overflow-x: hidden !important;
}


@media only screen and (max-width: 1315px) {
.backdropContainer{
    min-width: 100% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

}


@media only screen and (max-width: 991px) {
.boxContainers{
    margin-top: 10px !important;

        .p1{
            font-size: 18px !important;
        }
}


    .midBox{
        .verticalLine{
            left: 170px !important;
        }

        .verticalLineTwo{
            left: 300px !important;
        }
    }


}

@media only screen and (max-width: 767px) {

  


.boxTwo{
    margin: 0px !important;
    margin-bottom: 10px !important;
    height: 80px !important;
}

.box{
    margin-bottom: 10px;
}

.boxOne{
    height: 100px !important;
}

.boxThree{
    height: 123px !important;
}

.p1{
    font-size: 20px !important;
}
}


.homePage .backdropContainer{
    height: 2180px;
}

.isiPage .backdropContainer{
    height:1540px;
}

.errorPage .backdropContainer{
    top: 150px;
    height: 600px !important;
    pointer-events: none;
}
.resourcesPage .bgImgFaq{
    top: -150px !important;
}
.resourcesPage .backdropContainer{
    top: 150px;
    height: 1900px !important;
    pointer-events: none;
}

.homeImgContainer{
    width: 100% !important;
    height: 110% !important;
    
    position: relative !important;

        p{
            position: absolute;
            right: 99px;
            bottom: 45px;
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            font-family: 'Avenir-Roman';
        }
}

.indexDesktopbg991{
    display: none !important;
}

@media only screen and (max-width: 991px) {
    .homeImgContainer p, .indexDesktopBg{
        display: none !important;
    }

    .indexDesktopbg991{
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .indexDesktopbg991{
        display: none !important;
    }
}

.patientTextHome{
    color: #fff;
    font-size: 10px;
    position: absolute;
    left: 440px;
    bottom: 10px;
}

@media only screen and (max-width: 991px) {
    .patientTextHome{
        
        left: 42%;
       
    }
}

.patientTextHome-mobile{
    display: none;
}

@media only screen and (max-width: 767px) {
    .patientTextHome-mobile{
        display: block;
        color: #fff;
        font-size: 12px;
        position: absolute;
        right: 10px;
        top: 27%;
       
    }
}


    @media screen and (min-width:767px) and (max-width:781px){
        .boxOne .p1, .boxThree .p1, .boxTwo .p1{
            font-size: 17px !important;
         }
     }

     .homeIsiSee{
         margin-left: 25px;
     }