.desktopNav{
    background: #fff;
}

.outerNav{
    height: 102px !important;
    border-bottom: 1px solid #dcdcdc;
}

.innerNavTop{
    height: 102px;
   
    position: relative;

        .headerLogo{
            position: absolute;
            left: 30px;
            top: 13px;
        }

            .topNavRight{
                    a{
                        font-size: 11px;
                        margin-right: -10px !important;
                        color: #7d7d7d;
                        font-weight: 600 !important;
                    }

                        .borderRight{
                            height: 11px;
                            width: 1px;
                            background: #7d7d7d;
                            position: relative;
                            top: 10px;
                            left: 5px !important;
                        }
            }


                    .navItemDisabled{

                        a{
                            color: #ff9522;
                            font-family: 'Avenir-Black';
                            font-size: 11px;
                            position: relative;
                            right: -10px;
                            top: 10px;
                        }
                    }
            
}

.outerNavTwo{
    height: 70px;
    border-bottom: 4px solid #004d92;
}

.innerNavMain{
    height: 70px;
    

        a{
            font-size: 14px;
            font-family: 'Avenir-Black';
            color: #5c6871;
            margin-left: 30px;
            margin-top: 15px;

                img{
                    transform: scale(1.1);
                    margin-top: -3px !important;
                }
        }
}


// .innerNavMain a:hover{
//     color: #ff9522;


// }



.nav-triangle{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #004d92 transparent;
position: relative;
left: 48px;
top: 3px;
display: none;
}


.nav-triangle2{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #004d92 transparent;
    position: relative;
    left: 80px;
    top: 4px;
    display: none;
}

.nav-triangle3{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #004d92 transparent;
    position: relative;
    left: 80px;
    top: 4px;
    display: none;
}

.nav-triangle4{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #004d92 transparent;
    position: relative;
    left: 110px;
    top: 4px;
    display: none;
}

.nav-triangle5{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #004d92 transparent;
    position: relative;
    left: 53px;
    top: 4px;
    display: none;
}

.nav-triangle6{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #004d92 transparent;
    position: relative;
    left: 75px;
    top: 4px;
    display: none;
}

.resourcesPage .resourceLink{
    a{
        color: #ff9522 !important;
       }
    
        .nav-triangle6{
            display: block !important;
        }
}

.faq-Body .faqLink{
   a{
    color: #ff9522 !important;
   }

    .nav-triangle5{
        display: block !important;
    }
}

.homePage .homeLink{
    .nav-triangle{
        display: block !important;
    }
}


// .homeLink:hover{
//     .nav-triangle{
//         display: block !important;
//     } 

    
// }

.resourceLink:hover{
    // .nav-triangle6{
    //     display: block !important;
    // } 

    a{
        color: #ff9522;
    }
}

// .diseaseLink:hover{
//     .nav-triangle2{
//             display: block !important;
//         }
// }


.auryxiaLink:hover{
    .nav-triangle3{
        display: block !important;
    }
}

// .supportLink:hover{
//     .nav-triangle4{
//         display: block !important;
//     }
// }

// .faqLink:hover{

//   .nav-triangle5{
//     display: block !important;
//   }
// }

.diseasePage {

.nav-triangle2{
    display: block;
}

.diseaseLink a{
    color: #ff9522 !important;
}


}

.AuryxiaPage{
    .auryxiaLink a, #auryxiaNav{
        color: #ff9522 !important;
    }

    .nav-triangle3{
        display: block !important;
    }

    .submenu3 a{
        color: #ff9522 !important;
    }
    
}

.takingAuryxiaPage{
    .auryxiaLink a, .submenu1 a{
        color: #ff9522 !important;
    }

    .nav-triangle3{
        display: block !important;
    }
}

.talkingDoctorPage{
    .auryxiaLink a, .submenu2 a{
        color: #ff9522 !important;
    }

    .nav-triangle3{
        display: block !important;
    }
}

.supportPage{

    .supportLink a{
        color: #ff9522 !important;
    }

    .nav-triangle4{
        display: block;
    }
}

.navOuterContainer{
    position: relative !important;
   
}

.submenu { 
    background: rgba(255, 255, 255, 0.85);
  border: 1px solid #024d91;

	position: absolute; 
	top: 68px;
	list-style-type: none;
	padding: 0;
/* 	visibility: hidden; */

left:518px;
	height: 0px;
	overflow: hidden;
	cursor: pointer;
    transition: height 0.25s ease-in;
    z-index: 999999999999 !important;
    width: 220px;
    padding:0px 3px !important;
}
.submenu-item {
   
	padding: 4px 2px!important;
    text-align: center;
    cursor: pointer !important;
   
    
        a{
        margin: 0 auto !important;
            font-size: 13px;
            width: 100% !important;
            font-family: 'Avenir-Black';
    padding: 0px !important;
    text-decoration: none !important;
color: #5c6871 !important;

        }

        
}

.submenu2{
    border-top: 2px solid #5d85a3 !important;
}

.submenu3{
    border-bottom: 2px solid #5d85a3 !important;
}


.has-submenu{
    
    padding-bottom: 20px !important;
}

.innerNavMain{
    overflow-y: hidden;
}

.submenu-item a:hover{
    color: #ff9522 !important;
}


//Mobile NAV

.desktopNav, .footerDesktop{
    display: block;
}


.mobileNav, .footerMobile{
    display: none;
}


@media only screen and (max-width: 991px) {

    // .isiContainer{
    //     padding-right: 5px !important;
    // }

    .row {
        margin: 0px !important;
    }

    .contentInner, .leftContent{
        padding: 0px !important;
        margin: 0px !important;
        min-width: 100% !important;
    }

    .contentInner{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .container, .container-fluid{
        padding: 0px !important;
        margin: 0px !important;
        min-width: 100% !important;
    }

    html, body{
        min-width: 100% !important;
        padding: 0px !important;
        margin: 0px !important;
    }

    .outerContainer{
        overflow-x: hidden !important;
    }

    .bgImgFaq{
        display: none;
    }
    .desktopNav, .footerDesktop{
        display: none;
    }

    .footerMobile{
        display: block;
    }
    
    .mobileNav{
        display: block;

        .navbar{
            padding: .5rem 1.4rem 1.5rem 1rem !important;
            background: #fff !important;
            margin-top: -2px;
            border-bottom: 6px solid #004d92;
            height: 95px;
            border-radius: 0px !important;
        }



 
    }
}


.topNavMobile{
    a{
        color: #7d7d7d;
        font-size: 13px;
        font-family: 'Avenir-Roman';
    }

    .borderTopNavMobile{
        width: 1px;
        height: 15px;
        background: #7d7d7d;
        position: relative;
        top: 10px;
    }
}


.bannerResidents{
    background: #f6861f;
    width: 100%;
    height: 30px;
    
    
        p{
            text-align: center;
            color: #fff;
            font-size: 14px;
            font-family: 'Avenir-Roman';
            padding-top: 3px;
        }
}




button{
    outline: none !important;
}

input,
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
label:focus,
button,
button:active,
button:focus, 
button:hover,
.btn,
.btn:active, 
.btn:focus, 
.btn:hover{   
    outline:none !important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
 }

  /* CSS IE 11 */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .btn:focus,.btn:active {
        outline: none !important;
        box-shadow: none !important;
     }

     input,
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
label:focus,
button,
button:active,
button:focus, 
button:hover,
.btn,
.btn:active, 
.btn:focus, 
.btn:hover{   
    outline:none !important;
    box-shadow: none !important; 
}

button:focus, button:focus {
    outline: 0px solid transparent;
  }
  .no-focus button, .no-focus button {
    outline: none;
  } 
    }

    button:focus, button:focus {
        outline: 0px solid transparent !important;
      }
      .no-focus button, .no-focus button {
        outline: none !important;
      } 




.navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu-Icon.png);
    background-size: contain;
    margin: 5px -12px 3px 0;
    width: 60px;
    height: 60px;
    z-index: 0 !important;
    border: 2px solid #f7941d;
   
}

.navbar-toggler{
    height: 80px;
    margin-top: -10px;
   border: 0px;
    z-index: 3366;
}
// .navbar-toggler.menu-expanded .navbar-toggler-icon {
//     background-image: url(../images/plus-icon.png);
//     background-size: contain;
//     z-index: 99 !important;
 
// }



.mobileNavInner {
    min-width: 100% !important;
    padding: 0px !important;
    background: #f6861f !important;
    margin-top: 16px;
   margin-left: -16px !important;
   margin-right: -22px !important;
  

    ul{
         min-width: 100% !important;
    padding: 0px !important;
    }

    li{
        padding-left: 15px !important;
      height: 37px;
      border-bottom: 1px solid #fff;
        min-width: 100% !important;

            a{
                color: #fff !important;;
                font-size: 14px;
                font-family: 'Avenir-Black';
                padding-top: 12px;
            }
    }

    .dropdownTaking{
        background: #fff !important;
        border-bottom: 1px solid #f6861f;

            a{
                color: #f6861f !important;
            }
    }

    .heatlhCareLi{
        background: #5a6870;
    }

    .akebiaLi{
        background: #00B1AC;
        border-bottom: 1px solid #004d92;
    }

}


.navBtn{
   background: transparent !important;
   border: 0px !important;
}

.mobileFootUl{
   a{
        color: #f6861f;
    font-size: 14px !important;
    font-family: 'Avenir-Roman';
    }


    .borderRightFooter{
        width: 2px;
        height: 15px;
        background: #f6861f;
        position: relative;
        top: 10px;
    }

 
}




.mobileCopyRight{
   
    margin-left: 12px !important;
p{
    font-size: 11px !important;
    font-family: 'Avenir-Roman';
    color: #4d4d4d !important;
    letter-spacing: .2px;
    
}

.marginFooter{
    width: 20px;
}

}


@media only screen and (max-width: 380px) {
.topNavMobile .nav-link{
    padding: .2rem .5rem !important;
}

.topNavMobile .borderTopNavMobile{
    top: 5px !important;
}
}

@media only screen and (max-width: 374px) {
    .topNavMobile .nav-link{
        padding: .2rem .3rem !important;
    }
    
    .topNavMobile .borderTopNavMobile{
        top: 5px !important;
    }
    }


@media only screen and (max-width: 1299px) {
.submenu { 
  
left:517px;
}
}

@media only screen and (max-width: 1280px) {
    .submenu { 
      
    left:519px;
    }
    }


    @media only screen and (max-width: 1260px) {
        .submenu { 
          
            left:500px;
        }
        }


        @media only screen and (max-width: 1230px) {
            .submenu { 
              
                left:490px;
            }
            }

            @media only screen and (max-width: 1200px) {
                .submenu { 
                  
                left:476px;
                }
                }

                @media only screen and (max-width: 1185px) {
                    .submenu { 
                      
                    left:464px;
                    }
                    }


                @media only screen and (max-width: 1170px) {
                    .submenu { 
                      
                    left:450px;
                    }
                    }

                    @media only screen and (max-width: 1140px) {
                        .submenu { 
                          
                            left:440px;
                        }
                        }


                    @media only screen and (max-width: 1120px) {
                        .submenu { 
                          
                            left:430px;
                        }
                        }


                        @media only screen and (max-width: 1100px) {
                            .submenu { 
                              
                                left:420px;
                            
                            }
                            }


                            @media only screen and (max-width: 1075px) {
                                .submenu { 
                                  
                                    left:410px;
                                
                                }
                                }
    

                                @media only screen and (max-width: 1045px) {
                                    .submenu { 
                                      
                                        left:400px;
                                    
                                    }
                                    }


                                    @media only screen and (max-width: 1030px) {
                                        .submenu { 
                                          
                                            left:390px;
                                       
                                        }
                                        }


                                        @media only screen and (max-width: 1025px) {
                                            .submenu { 
                                              
                                                left:375px;
                                            
                                            }
                                            }
    

                                        @media only screen and (max-width: 1012px) {
                                            .submenu { 

                                                left:370px;
                                              
                                           
                                            }
                                            }

                                            @media only screen and (max-width: 1000px) {
                                                .submenu { 
                                                  
                                                    left:464px;
                                               
                                                }
                                                }
                
            
        
             

                .dropdownTaking a{
                    padding-left: 20px !important;
                }



                .borderRightFooterDesktop{
                    width: 1px;
                    height: 15px;
                    background: #f6861f;
                    position: relative;
                    top: 45px;
                }


@media only screen and (max-width: 1044px) {

.topNavRightBottom{
    position: absolute !important;
  right: 0px !important;
  top: 0px !important;
  overflow: hidden !important;
}

.navOuterContainer{
    overflow: hidden !important;
}
.submenu{
    position: relative;
    z-index: 9999999999 !important;
    display: block !important;
}

.topNavRight{
    padding-right: 20px !important;
}

.navItemResidents{
    padding-right: 20px !important;
}
                }


.navItemResidents{
    pointer-events: none;
}
.contentInner{
    min-width: 100% !important;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .bgImgFaq{
        display: none !important;
    }

    .outerContainer{
        padding-right: 0px !important;
      
    }
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .outerContainer{
            overflow-x: hidden !important;
          
        }

        .topNavRightBottom{
            position: absolute !important;
          right: 150px !important;
          top: 0px !important;
          overflow: hidden !important;
        }
        
        .navOuterContainer{
            overflow: hidden !important;
        }
        .submenu{
            position: relative;
            z-index: 9999999999 !important;
            display: block !important;
        }
     }



         /* Safari 10.1+ (alternate method) */

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

   .mobileNav .navbar{
    padding: .65rem 1.4rem .65rem 1rem !important;
      
    }
}}



.hyperphosphatemiaLi{
    background: #C75F1C;
}

.homeIconOrange{
    display: none;
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    .headerLogo { 

       width: 140px;
      

    }
}}