@font-face {
    font-family: 'Avenir-Roman';
    font-weight: Regular;
    src: url("/iron-deficiency-anemia/patient/fonts/Avenir-Roman-webfont.eot");
    src: url("/iron-deficiency-anemia/patient/fonts/Avenir-Roman.otf") format("opentype"), url("/iron-deficiency-anemia/patient/fonts/Avenir-Roman-webfont.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: 'Avenir-Medium';
    font-weight: 900;
    src: url("/iron-deficiency-anemia/patient/fonts/Avenir-Medium-webfont.eot");
    src: url("/iron-deficiency-anemia/patient/fonts/Avenir_65_Medium.ttf") format("opentype"), url("/iron-deficiency-anemia/patient/fonts/Avenir-Medium-webfont.eot?#iefix") format("embedded-opentype");
}

// @font-face {
//     font-family: 'Avenir-Light';
//     font-weight: 100;
//     src: url("/iron-deficiency-anemia/patient/fonts/Avenir-Oblique-webfont.eot");
//     src: url("/iron-deficiency-anemia/patient/fonts/Avenir-LT-Std-55-Roman_5173.ttf") format("opentype"), url("/iron-deficiency-anemia/patient/fonts/Avenir-Oblique-webfont.eot?#iefix") format("embedded-opentype");
// }

@font-face {
    font-family: 'Avenir-Light';
    src: url("/iron-deficiency-anemia/patient/fonts/avenir-light-webfont.woff2") format("woff2"),
             url("/iron-deficiency-anemia/patient/fonts/avenir-light.woff") format("woff");
}

@font-face {
    font-family: 'Avenir-Heavy';
    font-weight: Heavy;
    src: url("/iron-deficiency-anemia/patient/fonts/Avenir-Heavy.eot");
    src: url("/iron-deficiency-anemia/patient/fonts/AEH.ttf") format("truetype"), url("/iron-deficiency-anemia/patient/fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype");

}

@font-face {
    font-family: 'Avenir-Black';
    font-weight: normal;
    src: url("/iron-deficiency-anemia/patient/fonts/Avenir-Black-webfont.eot");
    src: url("/iron-deficiency-anemia/patient/fonts/Avenir_95_Black.ttf") format("truetype"), url("/iron-deficiency-anemia/patient/fonts/Avenir-Black-webfont.eot?#iefix") format("embedded-opentype");

}

.refBold{
    font-family: 'Avenir-Black';
}

  
body{
    padding: 0px;
    margin-top: 0px;
    font-family: 'Avenir-Roman';
    max-width: 100% !important;
    
}

.outerContainer{
     min-width: 1300px !important;
    
}

.innerContainer{
    max-width: 1020px !important;
    overflow-x: hidden;
    padding: 0px;
    

}


@media only screen and (max-width: 1314px) {

    .outerContainer{
        // min-width: 98.6vw !important
        min-width: 100vw !important;
     
    }
    
        .container-fluid{
            padding: 0px !important;
            margin: 0px !important;
        }
    
  }

  @media only screen and (max-width: 1015px) {
    .outerContainer{
        padding: 0px !important;
        margin: 0px !important;
     
    }
    .innerContainer{
        max-width: 100% !important;
        
    }

  }

  .bannerStripe{
    width: 1060px !important;
    height: 26px;
    background: #004d92;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

       p{
           padding-top: 2px;
           margin-left: 50px;
           color: #fff;
           font-size: 14px;
           font-family: 'Avenir-Heavy';

               span{
                   font-family: 'Avenir-Light';
               }
       }

       .left-triangle{
           width: 0;
           height: 0;
           border-style: solid;
           border-width: 0 20px 20px 0;
           border-color: transparent #7faece transparent transparent;
           position: absolute;
           top:26px;
       }

       .right-triangle{
           width: 0;
           height: 0;
           border-style: solid;
           border-width: 20px 20px 0 0;
           border-color: #7faece transparent transparent transparent;
           position: absolute;
           right: 0;
           top: 26px;
       }
}

.headerImg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.HeaderTxt{
    font-size: 28px;
    color: #ff9522;
    font-family: 'Avenir-Black';
}

.contentInner{
    padding-left: 35px;
    padding-right: 25px;
    background: white;
    min-width: 100%;
   
    padding-top: 10px;
}


.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}



.isiContainer{
    padding-right: 20px;
    padding-top: 20px;

    .p1ISI{
        color:  #ff9522;
        font-family: 'Avenir-Heavy';
        font-size: 16px;
    }
    
    .p2{
        font-family: 'Avenir-Roman';
        color: #5a6870;
        font-size: 15px;
        margin-top: -5px;
    }

    .p3{
        font-family: 'Avenir-Heavy';
        color: #5a6870;
        font-size: 15px;
        margin-top: -5px;
    }

.ulBlock {
    list-style: disc outside none; 
   margin-top: -6px !important;
    padding-left: 1em;
   
    margin-left: 5px;

            
    li {
        padding-left: 1em;
        color: #ff9522;
        margin-right: -20px !important;

        span{
           position: relative;
           left: -19px !important;
        font-family: 'Avenir-Roman';
        color: #5a6870;
        font-size: 15px;
      
        }
    }
}

    .inlineUl {
        margin-top: -7px;
    margin-left: -65px !important;

    
    li{
        display: inline;
        margin-left: 30px;

         .bulletPoint{
            color: #ff9522;
            margin-right: 7px;
         }

         span{
            color: #5a6870;
            font-size: 15px;
         }
    }

}

a{
    color: #5a6870;

}

a:hover{
    text-decoration: none;
}
   
.orangeLink{
    color: #ff9522;
    font-family: 'Avenir-Heavy';
}
}

// .innerBody{
//     background: blue !important;
//     padding-bottom: 500px;
//     overflow-y:hidden !important;
// }


.footerContainer{

   
    width: 100% !important;
   background: rgba( 255, 255, 255, .97);
    
    padding: 0px;
    margin: 0px;
    height: 115px;

    .innerContainer{
        position: relative;
        overflow: hidden;
    }

        .footerLinks{
            
            a{
                position: relative;
                top: 35px;
            font-size: 14px;
            color: #ff9522;
            font-family: 'Avenir-Medium';
            }
        }


        .footerText{
            p{
                position: relative;
                top: 25px;
            font-size: 10.5px;
            color: #5a6870;
            font-family: 'Avenir-Medium';
            }
        }

        .footerLogo{
            position: absolute;
            right: 30px;
            top: 30px;
            opacity: 0.7;
        }
}



.layoutBody{


    .bgImgFaq{
        position: absolute;
        top: 0px;
        z-index: -1;
        // margin-left: -15px;
        margin-left: 0px;
        height: 3500px !important;
        overflow: hidden;
        min-width: 1300px !important;
    }

     .contentInner{
         padding-bottom: 50px;
        
     }

     .outerContainer{
         padding-bottom: 30px;
         overflow-y: hidden;
       
     }
    
     
   

}

.rightContent{
    position: relative;
}


.rightBoxOne{
    width: 220px;
    height: 95px;
    background: #fff;
    border-top: 7px solid #ffd700;
    border-bottom: 2px solid #a6a6a8;
    transition: background-color 0.2s ease-in;
    position: relative;
    z-index: 1;

}

.rightBoxOne:hover{
    background: #ffd700;
    border-bottom: 2px solid #ffd700;

    p{
        color: #fff;
    }
}

.rightBoxTwo{
margin-top: 30px;
   width: 220px;
    height: 120px;
    background: #fff;
    border-top: 7px solid #ff8500;;
    border-bottom: 2px solid #a6a6a8;
    transition: background-color 0.25s ease-in;
    position: relative;
    z-index: 1;


}

.rightBoxTwo:hover{
    background: #ff8500;
    border-bottom: 2px solid #ff8500;

    p{
        color: #fff;
    }
}

.right-vertical-line{
    height: 293px;
    width: 2px;
    background: #dadadb;
    position: absolute;
    right: 50px;
    top: -25px;
    z-index: 0;
}


.leftContent{
    width: 100%;
    padding-top: 20px;
}
  

.rightContent{
    width: 100%;
    margin-top: 15px;
   
}

.rightP1{
    color: #5b6770;
    font-size: 16px !important;
     font-family: 'Avenir-Black'; 
     position: relative;
     top: 10px;
     left: 10px;
     line-height: 18px;
}


.rightP2{
color:#5b6770;
font-size: 14px;
font-family: 'Avenir-Medium';
position: relative;
left: 10px;
line-height: 18px;
}

.rightIsi{
color: #5b6770;
font-size: 12px;
font-family: 'Avenir-Black';
width: 100% !important;
position: relative;
top: 50px;


    a{
        color: #5b6770;
        text-decoration: underline !important;
    }
}


.headerImg, .headerImg-Resources{
    display: block;
}

.bannerMobile{
    display: none;
}



@media only screen and (max-width: 940px) {
    .headerImg, .headerImg-Resources{
    
    width: 100% !important;
    }
}



@media only screen and (max-width: 600px) {
    .headerImg, .headerImg-Resources{
        display: none;
    }
    
    .bannerMobile{
        display: block;
        width: 100%;
    }
}


.desktopBr{
    display: block;
}

.hiddenBrDesktop{
    display: none;
}



@media only screen and (max-width: 991px) {

    .hiddenBrDesktop{
        display: block;
    }

  

    .desktopBr{
        display: none;
    }
    

.bannerStripe{
    position: relative !important;

    p{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0px !important;
        padding-top: 0px !important;
       
      
    }


}

.rightContent{
    min-width: 100% !important;
    padding: 0px !important;
    .right-vertical-line{
        display: none;
    }
}

.rightBoxOne, .rightBoxTwo{
    width: 100% !important;
}


}


@media only screen and (max-width: 600px) {
.diseaseP1{
    width: 90% !important;
    font-size: 20px !important;
}

.header-diseaseP1{
    width: 100% !important;
}



}

.footerDesktop, html{
    overflow-x: hidden !important;
}



.index-DesktopHeader{
    display: block !important;
}

.index-MobileHeader{
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .index-DesktopHeader{
        display: none !important;
    }
    
    .index-MobileHeader{
        display: block !important;
        width: 100% !important;
    }

}

#important-safety-information{
    position: relative;
    top: -15px !important;
}

.contentInner{
    max-width: 100% !important;
}

 .outerContainer{
    padding-left: 0px !important;
  width: 100% !important;
  
}

.errorP3{
    color: #ff8500 !important;
    font-family: 'Avenir-Heavy';
}

.errorBtn{
    width: 270px;
    height: 70px;
    border: 4px solid #ff8500;
    color: #ff8500;
    font-size: 19px;
    font-family: 'Avenir-Heavy';
    border-radius: 10px;
    background: #fff !important;
    transition: background-color 0.2s ease-in;

}

.errorBtn:hover{
    background: #ff8500 !important;
    color: #fff;
}



.midBox{
    left: -22px !important;
}
.centerBox{
    position: relative;
    left: -15px;
    top: -27px;
    .navBorder{
        height: 17px;
        border-right: 1.5px solid #00b1ac;
    
    
      
    }

    a{
        color: #5b6770 !important;
        position: relative;
        top: -10px;
        font-size: 15px;
    }


    .AM{
        font-size: 11px !important;
    }
   
}

.isiTxt{
    position: relative !important;
  top: -20px !important;
}

.mobileMidBox{
    display: none
}
@media only screen and (max-width: 991px) {
.midBox{
    display: none;
}

.mobileMidBox{
    display: block;
    position: relative;
    margin-top: 10px;
    margin-bottom: -40px !important;

        img{
            position: relative;
           left: 50% !important;
           transform: translateX(-50%);
        }

        .assistance-p1{
            color: #224c6c;
            font-size: 13px !important;
            font-family: 'Avenir-Black';
            width: 100%;
            text-align: center;
            margin-top: 7px;

        }


        .assistance-p2{
            color:#5b6770;
            font-size: 14px;
            font-family: 'Avenir-Medium';
            position: relative;
            top: -15px;
            width: 100%;
            text-align: center;
        }

        .centerBox{
         left: 0px !important;   
         top: -30px !important;

         .AM{
             font-size: 11px !important;
         }
        }


        .isiTxt{
            color: #5b6770;
            font-size: 15px;
            width: 100%;
            text-align: center;
            top: -30px !important;

                a{
                 color: #5b6770;
                    text-decoration: underline;
                }
        }
}
}


@media only screen and (max-width: 380px) {

    .mobileMidBox{
        display: block;
        position: relative;
        margin-top: 10px;
        margin-bottom: -40px !important;
    
            img{
                position: relative;
               left: 50% !important;
               transform: translateX(-50%);
            }
    
            .assistance-p1{
                color: #224c6c;
                font-size: 12px !important;
                font-family: 'Avenir-Black';
                width: 100%;
                text-align: center;
                margin-top: 7px;
    
            }
    
    
            .assistance-p2{
                color:#5b6770;
                font-size: 13px;
                font-family: 'Avenir-Medium';
                position: relative;
                top: -15px;
                width: 100%;
                text-align: center;
            }
    
            .centerBox{
             left: 0px !important;   
             top: -30px !important;
li{
    height: 14px !important;
}
             a{
                 font-size: 12px !important;
                 top: -9px !important;
             }
    
             .AM{
                 font-size: 11px !important;
             }
            }
    
    
            .isiTxt{
                color: #5b6770;
                font-size: 15px;
                width: 100%;
                text-align: center;
                top: -15px !important;
    
                    a{
                     color: #5b6770;
                        text-decoration: underline;
                    }
            }
    }
    
}



@media only screen and (max-width: 1044px) {
.outerContainer{
    overflow-x: hidden !important;
}

}

@media only screen and (min-width: 991px) {

  
.rightContent{
    margin-top: 22px;
}



}


@media only screen and (max-width: 991px) {
.isiContainer{
    padding-right: 0px !important;

    .inlineUl li{
        display: block !important;
    }
}

}

.rightBoxOne, .rightBoxTwo, .rightIsiLink{
    cursor: pointer !important;
}

.backdropContainer{
    pointer-events: none !important;
}

.faqBold{
    font-weight: 800 !important;
}

#resourceP1{
    font-size: 19px !important;
    position: relative;
    left: 200px;
    top: -190px;
}

#resourceP2{
    font-size: 16px !important;
    width: 40% !important;
    position: relative;
    left: 200px;
    top: -200px;
}

.resourceBtn{
    width: 243px;
    height: 43px;
    border: 2px solid #005f9f;
    background: #fff;
    position: relative;
    cursor: pointer;
    left: 200px;
    top: -200px;

        span{
            position: absolute;
            color: #005f9f;
            right: 13px;
            font-family: 'Avenir-Heavy';
            font-size: 21px;
            top: 6px;
        }

        img{
            position: absolute;
            left: 12px;
            top: 8px;
        }

}

.resourcesPage{
    .leftContent{
      margin-bottom: -120px !important;
    }
}


@media only screen and (max-width: 500px) {


    #resourceP1{
        font-size: 20px !important;
        position: relative;
        left: 0px;
        top: 10px;
        margin-top: 10px !important;
    }
    
    #resourceP2{
        font-size: 16px !important;
        width: 100% !important;
        position: relative;
        left: 0px;
        top: 0px;
    }
    
    .resourceBtn{
        width: 243px;
        height: 43px;
        border: 2px solid #005f9f;
        background: #fff;
        position: relative;
        cursor: pointer;
        left: 0px;
        top: 0px;
        margin-bottom: 20px !important;
    
            span{
                position: absolute;
                color: #005f9f;
                right: 13px;
                font-family: 'Avenir-Heavy';
                font-size: 21px;
                top: 6px;
            }
    
            img{
                position: absolute;
                left: 12px;
                top: 8px;
            }
    
    }


    .resourcesPage{
        .leftContent{
          margin-bottom: 0px !important;
        }
    }

}

.AuryxiaBold{
    font-family: 'Avenir-Black' !important;
}

.isiSup{
    font-size: 20px !important;
    position: relative !important;
    top: 1px !important;
    left: -3px !important;
}

.ferricSpace{
    position: relative;
    left: -4px !important;
}



.backdropContainer{
    position: absolute;
     height: 2350px;
     width: 100%;
  overflow: hidden;
  padding-left: 0px !important;
  margin-left: 0px !important;
 
  .bgImgFaq{
     top: -200px;
  }
 
 }
 

 .diseasePage .backdropContainer{
     height: 2900px;
 }

 .AuryxiaPage .backdropContainer{
    height: 2900px;
}

.takingAuryxiaPage .backdropContainer{
    height: 2440px;
}

.talkingDoctorPage .backdropContainer{
    height: 2580px;
}

.supportPage .backdropContainer{
    height: 2780px;
}

.faqBody .backdropContainer{
    height: 2480px;
}
 
 @media only screen and (max-width: 1315px) {
 .backdropContainer{
     min-width: 100% !important;
     margin-right: 0px !important;
     margin-left: 0px !important;
 }
 
 }

 .auryxiaDesktopLink a{
     color: #5c6871 !important;
     cursor: pointer !important;
 }

 .boxContainers .p1, .boxContainers .p2, .rightContent .rightP1, .rightContent .rightP2, .reseroucePDFA img, .reseroucePDFA span, .plusIcon, .minusIcon{
     pointer-events: none;
 }

 .auryxiaDesktopLink a:hover{
    color: #ff9522 !important;
    cursor: pointer !important;
}

#hoverColor{
    color: #ff9522 !important;
 
}

.mobileBrOnly{
    display: none;
}

@media only screen and (max-width: 767px) {
    .mobileBrOnly{
        display: block;
    }
}

.subLi{
    list-style: none !important;
 
    color: #5a6870 !important;
    
}

.subLi span{
    color: #ff8500 !important;
    margin-left: -13px !important;
}


@media only screen and (min-width: 767px) {
.rightContent #rightP2{
   top: 3px !important;
}

}

.boxContainers #homep2Txt{
    line-height: 20px !important;
}

.medWatchLinkIsi{
    text-decoration: underline;
}

.bannerMobile{
    margin-bottom: -15px !important;
}

#MobileHeader{
    margin-bottom: 0px !important;
}

.contentInner{
    position: relative;
}

.patientText-Header{
    font-size: 10px;
    position: absolute;
    right: 100px;
    margin-top: -10px;
    color: #5a6870;
}

@media only screen and (min-width: 991px) {
.rightContent{
    margin-top: 30px !important;
}
}

@media only screen and (max-width: 991px) {
    .patientText-Header{
       margin-top: 0px;
       right: 10px;
    }

    #marginTop{
        margin-top: 27px !important;
    }

    .rightBoxTwo #rightP2{
        line-height: 22px !important;
    }
    }

    @media only screen and (max-width: 600px) {
        .patientText-Header{
           display: none;
        }
        }

//.innerContainer{
    //     position: relative;
    // }
    
    // .patientText-Header{
    //     font-size: 10px;
    //     position: absolute;
    //     right: 240px;
    //     margin-top: -20px;
    //     color: #fff;
    // }

    #img101{
        height: 2400px !important;
    }

   .isiContainer li{
      
       line-height: 22px !important;
   }