.rightP2Disease {
  top: 16px !important; }

.diseaseP1 {
  font-size: 20px;
  line-height: 23px;
  color: #ff8500;
  font-family: 'Avenir-Heavy'; }

.diseaseP2 {
  font-size: 16px;
  line-height: 19px;
  color: #5a6870;
  font-family: 'Avenir-Heavy'; }

.disease-question {
  position: relative;
  top: 10px; }
  .disease-question img {
    position: absolute;
    left: 0px; }
  .disease-question p {
    position: relative;
    left: 40px;
    top: 2px;
    font-size: 16px !important; }

.diseaseP3 {
  font-size: 16px;
  line-height: 19px;
  color: #5a6870;
  font-family: 'Avenir-Roman'; }

.docDiseaseP3 {
  line-height: 24px !important; }

.marginTop {
  margin-top: 35px; }

.p3-SpanOne {
  font-family: 'Avenir-Heavy'; }

.p3-spanTwo {
  color: #ff8500; }

.footnote {
  margin-top: 10px;
  margin-bottom: -5px;
  font-size: 13px;
  color: #5a6870; }

.desktopImg {
  display: block; }

.mobileDiseaseImg {
  display: none; }

@media only screen and (max-width: 991px) {
  .desktopImg {
    width: 100% !important; }
  .mobileDiseaseImg {
    display: none; } }

@media only screen and (max-width: 500px) {
  .desktopImg {
    display: none; }
  .mobileDiseaseImg {
    display: block;
    width: 210px !important;
    position: relative;
    margin-top: 30px; } }

@media only screen and (max-width: 991px) {
  .rightBoxOne {
    height: 81px !important; }
    .rightBoxOne .rightP2 {
      top: 5px; }
  .rightBoxTwo {
    margin-top: 20px !important;
    height: 108px !important; }
    .rightBoxTwo .rightP2Disease {
      top: 5px !important; }
  .rightIsi {
    width: 100% !important;
    text-align: center !important;
    top: 20px; } }

@media only screen and (max-width: 380px) {
  .symptomsQ img {
    top: 11px !important; } }

@-moz-document url-prefix() {
  .disease-question img {
    top: 13px !important; } }

.rightBoxDiseaseTwo {
  height: 95px !important; }
  .rightBoxDiseaseTwo .rightP2Disease {
    top: 5px !important; }

.diseaseVerticalLine {
  height: 275px !important; }
