/* Mobile */
@media screen and (max-width:768px){
  body {
    background-color: #fff;
  }
  header {
    height: 120px;
    height: 140px;
    border-bottom: 5px solid #00B1AC;
  }

  .hcp-home-bg{
    background: transparent;
  }

  .mobile, .header-desktop {
    display: block;
  }

  .desktop, .hero.desktop, .header-mobile, .post-edit-link, .btn-grid{
    display: none;
  }

  nav li .sub-menu
   {
    border: none;
  }

  nav li .sub-menu li {
    border-bottom: 2px solid #00b1ac;
    border-left: none;
    border-right: none;
  }

  nav li .sub-menu li:last-child {
    border: none;
  }
  .sub-buttons-container {
    display: none;
  }

  .grid{
    width: 100%;
    padding: 0;
  }

  .grid-1, .grid-2, .grid-3, .grid-4,
  .grid-5, .grid-6, .grid-7, .grid-8,
  .grid-9, .grid-10, .grid-11, .grid-12{
    width: 95%;
    padding: 2.5%;
  }

  .left, .right{
    float: none;
  }

  /* Header */

  #logo{
    margin: 0 0 0 12px;
    width: inherit;
  }

  .intent{
    float: none;
    width: 95%;
    height: auto;
    padding: 1% 2.5%;
    background-position: 0 -10px;
    background-image: none;
    text-align: center;
    background: -webkit-linear-gradient(45deg, rgba(249,160,32,1) 0%, rgba(255,221,76,1) 100%); /* safari5.1+,chrome10+ */
    margin: 0px;
  }

  .intent{
    color: #fff;
  }

  .header-links{
    float: none;
    text-align: center;
    padding-right: 0px;
    margin: 0;
    width: 95%;
    padding: 2.5%;
  }

  .header-links a{
    width: 45%;
    display: block;
    float: left;
    font-size: 10px;
    text-transform: none;
    line-height: 14px;
  }

  .header-links a.pi-link{
    float: right;
  }

  .header-links a.desktop{
    display: none;
  }

  .sep {
    float: left;
  }

  nav .menu{
    padding-left: 0px;
  }

  .header-links .disclaimer {
    color: #f6861f;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    float: left;
    width: 100%;
  }

  /* Home */

  .home-campaign,
  .campaign-tagline{
    padding: 0px;
    font-size: 14px;
    line-height: 18px;
  }

  .campaign-text br,
  .campaign-tagline br,
  .campaign-small br{
    display: none;
  }

  .home-campaign{
    height: auto;
    padding-bottom: 5%;
  }

  .campaign-tagline{
    padding: 2.5% 0;
  }

  .campaign-text {
    font-size: 18px;
    line-height: 24px;
  }

  .campaign-btm .campaign-txt {
    margin: 0;
  }

  .campaign-small{
    padding-top: 10px;
  }

  .callouts{
    padding-top: 0;
    margin-left: 0;
  }

  .callout{
    background: #fff;
  }

  .callout {
    height: auto;
    padding: 2% 0;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    width: 100%;
  }

  .callout .main_text{
    padding: 0 2.5%;
  }

  .callout .sub_text{
    padding: 0 2.5%;
    /*font-size: 16px;
    line-height: 22px;*/
  }

  .callout .square{
    display: none;
  }

  .home-info,
  #patient .home-info,
  #assistance .home-info{
    width: 100%;
  }

  /* ISI */

  #isi, #patient #isi{
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }

  .cta-links {
    padding: 5%;
  }

  /* Footer */

  footer {
    padding: 0;
    margin: 0;
    line-height: 20px;
    font-size: 12px;
  }

  footer img{
    margin: auto;
  }

  .footer-links {
    width: auto;
  }

  #akebia-logo-footer {
    float: none;
  }

  .callout-top{
    background-image: none;
    background-color: #FFD400;
    margin-bottom: 10px;
  }

  .callout-2 .callout-top{
    background-color: #F99D1C;
  }

  .callout-3 .callout-top{
    background-color: #cfcecf;
  }

  .callout:hover, .callout:visited{
    background-color: #fff !important;
    color: #5B6770 !important;
  }


  /* Single Page */
  .interior{
    background: none;
  }

  .post-titles h2{
    margin-top: 10px;
  }

  .post-titles img {
    width: 100%;
  }

  .cta, .portal-menu{
    width: 100%;
  }

  .cta-top{
    background: #F99D1C;
  }

  .cta-1 .cta-top{
    background: #FFD400;
  }

  .breadcrumbs{
    width: 100%;
    margin: auto;
    padding: 0;

    display: block;
  }

  .breadcrumbs a{
    border-left: 5px solid #F99D1C;
    display: block;
    padding: 1.75% 2.5% 1.5%;
    width: 90%;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #575757;
    font-family: 'Avenir LT W01 65 Medium', 'Helvetica Neue', Arial, sans-serif;
  }

  .breadcrumbs .current_page_item a{
    color: #F99D1C;
  }

  .post-titles{
    margin-bottom: 5px;
  }

  .campaign-btm{
    width: 95%;
    padding: 2.5%;
    padding-left: 0px;
  }

  .campaign-btm strong{
    margin-left: 0px;
  }

  .campaign-line{
    height: 95%;
  }

  .sub-menu {
    display: none;
  }

  .contact-lg,
  .contact-lg.patient-coverage {
    background: url(../../img/akebiacares/icon-operator.png) center 0 no-repeat;
    padding: 75px 0 0 0;
  }
  .contact-lg.home,
  .contact-lg.patient-coverage,
  .contact-lg.patient-coverage .title {
    width: auto;
    text-align: center;
  }
  .contact-lg.patient-coverage p {
    margin-bottom: 10px;
  }
  .contact-lg.patient-coverage p span,
  .contact-lg.patient-coverage p a {
    display: block;
  }
   .contact-lg .title {
      width: 50%;
      margin: 10px auto 20px;
      font-size: 18px;
      text-align: center;
   }

  .contact-lg.home .title {
    width: 75%;
  }
   .line-bg {
    background: none;
  }

  /* FAQs */

  .faq-controls{
    padding-left: 35px;
  }

  .faq{
    padding-left: 34px;
  }

  .faq-question{
    font-size: 14px;
    line-height: 20px;
  }

  .faq-answer{
    font-size: 12px;
    line-height: 16px;
  }

  .tab{
    padding: 2.5%;
  }

  .tab-patient-coverage .tab h2,
  .tab-patient-coverage .tab h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .tab-patient-coverage .tab h3 {
    padding: 12px 0 12px 50px;
  }

  .program {
    width: auto;
  }

  .program-icon {
      display: none;
  }

  .program-txt {
      width: auto;
  }

  h3.operator-icon {
    padding: 22px 0 22px 70px !important;
    margin: 0 0 10px 0 !important;
    background: url(../../img/akebiacares/icon-operator.png) 0 0 no-repeat;
  }
  h3.bill-icon {
    padding: 22px 0 22px 70px !important;
    margin: 0 0 10px 0 !important;
    background: url(../../img/akebiacares/icon-dollar-bill.png) 0 0 no-repeat;
  }
  h3.people-icon {
    padding: 12px 0 12px 70px !important;
    margin: 0 0 10px 0 !important;
    background: url(../../img/akebiacares/icon-people.png) 0 0 no-repeat;
  }

  .sep {
    padding: 0 0 0 18px;
  }

  .tab .connect {
    background: url(../../img/akebiacares/icon-operator-sm.png) 0 10px no-repeat;
  }

  /* Modal */

  .modal {
    width: 375px;
    height: 581px;
    position: relative;
    margin: 25% auto 0;
    background: white;
    box-sizing: border-box;
   }

   .modal-hero img {
    position: absolute;
    width: 361px;
    height: 316px;

    left: 5px;
    top: 242px;
   }

   .modal-logo img {
    position: absolute;
    width: 146px;
    height: 59px;

    left: 142px;
    top: 254px;
   }

   .modal-controls a {
    font: 14px 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;
   }

   .modal-msg {
    display: inline-block;
    margin-left: 40px;
    margin-top: 105px;
  }

  .modal-controls {
    margin-top: 35px;
  }

  .modal-msg .left {
      width: 270px;
  }

  .modal-msg .right {
      width: 335px;
  }

  .modal-msg .right .btn-yes {
    width: auto;
    margin: -10px auto;
    padding: 8px 20px;
  }

  .chart-row{
    height: 75px;
  }

  .chart-row img{
    width:75px;
    max-width: 75px;
  }

  .chart-row br{
    display: none;
  }

  /* Navigation */
  h1.left {
    float: left;
  }

  #mobile-menu {
    background: url('../../img/akebiacares/mobile-menu.png');
    width: 55px;
    height: 53px;
    float: right;
    margin: 0 12px 0 0;
  }

  #mobile-menu.open {
    background: url('../../img/akebiacares/mobile-menu-close.png');
  }

  nav {
    margin: 0;
    border: none;
    position: absolute;
    top: 145px;
    left: 0;
    z-index: 9999;
    width: 100%;
    display: none;
    height: auto;
    background: transparent;
  }

  nav.mobile-open {
    display: block;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  nav li {
    float: none;
    z-index: 9999;
  }

  nav .grid-12{
    padding: 0 2.5%;
  }

  nav li a {
    background: #00b1ac;
    color: #fff;
    float: none;
    display: block;
    padding: 2.5%;
    border-bottom: 2px solid #fff;
  }

  nav li.gray a,
  nav li.gray a:hover {
    background: #FF8500;
  }

  nav li.home a {
    padding: 2.5%;
  }

  nav li.active a,
  nav li a:hover {
    background: #00b1ac;
    color: #fff !important;
  }

  .sub-menu{
    display: block;
    position: relative;
    top: 0px;
  }

  nav li .sub-menu li a {
    padding: 2.5% 2.5% 2.5% 10%;
    background: white;
    color: #00b1ac !important;
  }

  .breadcrumbs{
    margin-top: 10px;
  }

  .patient-coverage {
    width: auto;
    padding: 15px 0;
  }

  .patient-coverage:last-child {
      border: none;
  }

  .patient-coverage-img {
      display: none;
  }

  .patient-coverage-txt {
      float: none;
      width: auto;
  }

  h3.navy {
      background: url(../../img/akebiacares/shield-navy.png) 0 0 no-repeat;
      padding-left: 60px;
  }

  h3.red {
      background: url(../../img/akebiacares/shield-red.png) 0 0 no-repeat;
      padding-left: 60px;
  }

  h3.orange {
      background: url(../../img/akebiacares/shield-orange.png) 0 0 no-repeat;
      padding-left: 60px;
  }

  h3.blue {
      background: url(../../img/akebiacares/shield-blue.png) 0 0 no-repeat;
      padding-left: 60px;
  }

  h3.teal {
      background: url(../../img/akebiacares/shield-teal.png) 0 0 no-repeat;
      padding-left: 60px;
  }

  h3.dk-gray {
      background: url(../../img/akebiacares/shield-dk-gray.png) 0 0 no-repeat;
      padding-left: 60px;
  }

  h3.gray {
      background: url(../../img/akebiacares/shield-gray.png) 0 0 no-repeat;
      padding-left: 60px;
  }

  .no-padding {
    padding: 0;
  }

  /* ISI */
  #isi h2,
  #isi p,
  #isi ul li {
    font-size: 14px;
    line-height: 17px;
  }

  #isi ul.horizontal li {
    float: none;
    margin-bottom: 12px;
  }

  #isi ul.horizontal li:not(:first-child) {
    margin: 0 0 12px 0;
  }

}

@media only screen and (max-width: 414px) {
  header {
    height: 120px;
  }
  nav {
    top: 125px;
  }

  .reimbursement-help {
    background:url(../../img/akebiacares/reimbursement-help-mobile.jpg) 0 0 no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .reimbursement-help .steps:first-child {
    padding: 76px 0 0 0;
  }
  .reimbursement-help .steps:last-child {
    padding: 0 0 59px 0;
  }
  .reimbursement-help .steps {
    font-size: 12px;
    line-height: 14px;
    margin: 0px 0 24px 82px;
  }
  .header-mobile {
    display: block;
  }

  .header-desktop {
    display: none;
  }
  .tablet-text,
  .program-txt .tablet-text {
    width: 75%;
    padding: 0;
  }
  .resources-interior > div > div,
  .resources-interior > div > div.coupon {
    height: auto;
    margin: 0 0 25px 0;
  }
  .resource-container {
    float: none;
    width: 100%;
    margin: 0 0 15px 0;
  }
  .resource {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
  }
  .resource-description {
      float: none;
      width: 100%;
  }
  .copy .resource img {
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .reimbursement-help .steps:first-child {
    padding: 68px 0 0 0;
  }
  .reimbursement-help .steps:last-child {
    padding: 0 0 54px 0;
    margin-bottom: 0;
  }
  .reimbursement-help .steps {
    font-size: 10px;
    line-height: 12px;
    margin: 0px 0 24px 82px;
  }
}

@media screen and (max-width:320px) {
  .reimbursement-help .steps:first-child {
    padding: 55px 0 0 0;
  }
  .reimbursement-help .steps:last-child {
    padding: 0 0 45px 0;
  }
  .reimbursement-help .steps {
    margin: 10px 0 16px 65px;
  }
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 767px)
  and (orientation : landscape) { /* STYLES GO HERE */

  .isi-page-only{
    font-size: 20px;
  }

  #patient.page-id-11 .content{
    background-repeat: none;
  }

  #isi ul li{
    background: url('../../img/bullet.png') no-repeat 10px 12px;
  }

  .copy ul li{
    background: url('../../img/bullet.png') no-repeat 2px 12px;
  }

  .formulation span{
    font-size: 18px;
    background: url('../../img/formulation.png') no-repeat 0 4px;
  }


}
