/**
 * @license
 * MyFonts Webfont Build ID 3451199, 2017-09-13T14:58:42-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvenirLTStd-Medium by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir/65-medium/
 * Copyright: Copyright &#x00A9; 1981 - 2006 Linotype GmbH, www.linotype.com. All rights reserved. Copyright &#x00A9; 1989 - 2002 Adobe Systems Incorporated.  All Rights Reserved.
 * 
 * Webfont: AvenirLTStd-Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir/55-roman/
 * Copyright: Copyright &#x00A9; 1989, 1995, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1995, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * Webfont: AvenirLTStd-Black by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir/95-black/
 * Copyright: Copyright &#x00A9; 1989, 1995, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1995, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3451199
 * Licensed pageviews: 250,000
 * 
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/34a93f");

  
@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url('fonts/34A93F_0_0.eot');
    src: url('fonts/34A93F_0_0.eot?#iefix') format('embedded-opentype'),
            url('fonts/34A93F_0_0.woff2') format('woff2'),
            url('fonts/34A93F_0_0.woff') format('woff'),
            url('fonts/34A93F_0_0.ttf') format('truetype');
}
 
  
@font-face {
    font-family: 'AvenirLTStd-Roman';
    src: url('fonts/34A93F_1_0.eot');
    src: url('fonts/34A93F_1_0.eot?#iefix') format('embedded-opentype'),
            url('fonts/34A93F_1_0.woff2') format('woff2'),
            url('fonts/34A93F_1_0.woff') format('woff'),
            url('fonts/34A93F_1_0.ttf') format('truetype');
}
 
  
@font-face {
    font-family: 'AvenirLTStd-Black';
    src: url('fonts/34A93F_2_0.eot');
    src: url('fonts/34A93F_2_0.eot?#iefix') format('embedded-opentype'),
            url('fonts/34A93F_2_0.woff2') format('woff2'),
            url('fonts/34A93F_2_0.woff') format('woff'),
            url('fonts/34A93F_2_0.ttf') format('truetype');
}
 
/* 
=========================
  Reset
=========================
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
    margin: 0px;
    padding: 0px;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.nt {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    line-height: 0px;
    font-size: 0px;
}

.nom {
    margin-right: 0px !important;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.hero.desktop {
    display: block;
}

.header-desktop {
    width: 100%;
}

.mobile, .header-mobile {
    display: none;
}

/* 
=========================
  Global
=========================
*/

body {
    font: 14px/19px 'AvenirLTStd-Roman', 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #575757;
    background: #f2fafa;
}

a {
    text-decoration: none;
    color: inherit;
}

.animC {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.animO {
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.mobile {
    display: none;
}

sub {
    vertical-align: baseline;
    position: relative;
    top: 0.3em;
    font-size: 0.8em;
}

sup {
    vertical-align: super;
    position: relative;
    font-size: 0.6em;
    line-height: 0px;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.nowrap {
    white-space: nowrap;
}

sup.hanging {
    float: left;
    margin-bottom: 5px;
}


/* 
=========================
  Grids
=========================
*/

.grid {
    width: 1000px;
    margin: auto;
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

.grid-2 {
    width: 140px;
}

.grid-3 {
    width: 220px;
}

.grid-4 {
    width: 300px;
}

.grid-5 {
    width: 380px;
}

.grid-6 {
    width: 460px;
}

.grid-7 {
    width: 540px;
}

.grid-8 {
    width: 600px;
}

.grid-9 {
    width: 670px;
}

.grid-10 {
    width: 780px;
}

.grid-11 {
    width: 860px;
}

.grid-12 {
    width: 940px;
    margin: auto;
}

.content {
    width: 100%;
    /*background: url('../img/bg/content.png') repeat-y top center;*/
    margin-bottom: 20px
}

.page-id-76 .content {
    background: url('../img/bg/content-white.png') repeat-y top center;
}

.page-id-76 .content-1 {
    display: none;
}

#dev-grid {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url('../img/grid.png') repeat-y top center;
    z-index: 9990;
    display: none;
}

.btn-grid {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #005072;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 9999;
}

.post-edit-link {
    display: block;
    font-family: 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    color: #fff;
    padding: 5px 8px 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #005072;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.post-edit-link:hover {
    background-color: #5B6770;
}


/* 
=========================
  Header
=========================
*/

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.73);
}

.ie8 header {
    background: rgb(255, 255, 255);
    background: transparent\9;
    background: rgba(255, 255, 255, 0.73);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#baFFFFFF, endColorstr=#baFFFFFF);
    zoom: 1;
}

#logo {
    float: left;
    margin: 10px 0 30px 0;
}

.header-links {
    float: right;
    color: #5c6871;
    text-align: right;
    font-size: 11px;
    margin-top: 10px;
    padding-right: 30px;
}

.header-links a {
    color: #5c6871;
}

.header-links a:hover {
    text-decoration: underline;
}

.header-links .disclaimer {
    text-transform: uppercase;
    color: #f6861f;
    font-size: 12px;
    font-weight: bold;
}

.sep {
    display: inline-block;
    padding: 0 5px;
}

.intent {
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    font: 11.5px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    margin-top: -16px;
    width: 352px;
    /* 382 */
    padding: 4px 30px 0 0;
    height: 20px;
    /* 26 */
    background: url('../img/hcp/intent.png') no-repeat;
    font-size: 11px;
    color: #005072;
    float: right;
}

#assistance .intent,
#patient .intent {
    margin-top: 18px;
    margin-bottom: -46px;
    background-image: none;
}


/* 
=========================
  Navigation
=========================
*/

header{
  background-color: rgba(255,255,255,0.9);
  border-bottom: 1px solid #dcdcdc;
}

nav {
    border: 0;
    height: auto;
    background-color: white;
    border-bottom: 5px solid #00B1AC;
}

nav li a{
  color: #5B6770;
  
}

.ie8 nav {
    background: rgb(255, 255, 255);
    background: transparent\9;
    background: rgba(255, 255, 255, 0.73);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#baFFFFFF, endColorstr=#baFFFFFF);
    zoom: 1;
}

.ie8 nav:nth-child(n) {
    filter: none;
}

nav li {
    position: relative;
    float: left;
}

nav li a {
    font: 14px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    color: #5B6770;
    padding-bottom: 22px;
    background: url('../images/header-active.png') no-repeat 0 -100px;
    float: left;
    text-transform: uppercase;
    padding: 25px 42px 26px;
}

nav li.home a {
    padding: 25px 42px 19px;
}

@-moz-document url-prefix() {
    nav li.home a {
        padding: 25px 42px 20px;
    }
}

nav li a:hover {
    color: #FF8500;
}

nav li.active a,
nav li.active-state > a,
nav li.menu-item-has-children > a:hover {
    background: url('../images/header-active.png') no-repeat center bottom;
    color: #FF8500;
}

nav li.active ul a {
    color: #5B6770;
}

nav .menu {
    padding-left: 0px;
}

.sub-menu {
    position: absolute;
    top: 72px;
    z-index: 9999;
    display: none;
}

nav li .sub-menu {
    border-left: 2px solid #00b1ac;
    border-right: 2px solid #00b1ac;
}
nav li .sub-menu li {
    width: 100%;
    border-bottom: 2px solid #00b1ac;
}

nav li .sub-menu li a {
    display: block;
    float: none;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 0px 5px 15px;
}

.ie8 nav li .sub-menu li a {
    background: rgb(255, 255, 255);
    background: transparent\9;
    background: rgba(255, 255, 255, 0.8);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#ccFFFFFF, endColorstr=#ccFFFFFF);
    zoom: 1;
}

.ie8 nav li .sub-menu li a:nth-child(n) {
    filter: none;
}

nav li .sub-menu li a:hover,
nav li .sub-menu li.active a {
    color: #00b1ac;
}

#patient nav li.current-menu-item a,
#assistance nav li.current-menu-item a {
    /*color: #5B6770;*/
}


/* Hack to get Guidelines and Administration lined up*/

li#menu-item-212 a,
li#menu-item-213 a {
    text-align: left;
}

li#menu-item-212 a {
    padding-left: 40px;
}

li#menu-item-213 a {
    padding-right: 78px;
}

#vimeo_vid {
    width: 700px;
    height: 394px;
}

.portal-wrap #vimeo_vid {
    width: 660px;
    height: 371px;
}

/* Pharm locator and Benefits Portal buttons */
.sub-buttons-container {
    width: 1000px;
    height: 52px;
    margin: 0 auto;
}
.sub-button {
    width: 495px;
    border-top: none;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    padding: 0;
    color: #fff;
    float: left;
    background: url('../images/arrow-clear-bg.png') 430px 15px no-repeat #00b1ac;
    background-size: 25px auto;
    text-align: center;
    font-weight: bold;
}
.sub-button:nth-child(2) {
    width: 496px;
    border-top: none;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: none;
    float: right;
}
.sub-button a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
}

/* 
=========================
  Home 
=========================
*/

.hcp-home-bg {
    background: url('../img/hcp/home-campaign-hcp.png') no-repeat;
}

#home-hand {
    float: left;
    width: 510px;
    margin-left: -30px;
}
/*#hcp > div.grid.cf.hcp-home-bg > div > div > #home-hand {
    width: 100%;
}*/

#hcp #home-hand {
    margin-left: -27px;
}

.home-info {
    width: 440px;
}

.home-campaign {
    margin-bottom: -18px;
    position: relative;
    z-index: 100;
}

.campaign-tagline {
    font-family: 'AvenirLTStd-Roman', 'Helvetica Neue', Arial, sans-serif;    
    color: #5B6770;
    padding: 26px 0 14px;
}

.campaign-text {
    font-size: 24px;
    line-height: 30px;
    color: #8a8a8d;
    font-family: 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    text-transform: none;
}

.page-id-76 .campaign-text {
    font-size: 22px;
}

.page-id-76 .campaign-text .bullet {
    /* list-style:initial; */
    margin-left: 1em;
    /* image bullet */
    background: url('../img/bullet.png') no-repeat 0px 11px;
    margin-left: 0.5em;
    padding-left: 0.8em;
}

.campaign-text small {
    font-family: 'AvenirLTStd-Roman', 'Helvetica Neue', Arial, sans-serif;    
    font-style: normal;    
}

.home-callout {
    width: 400px;
    margin-top: 15px;
}

.home-callout img {
    width: 400px;
    height: 100%;
    margin: -79px 85px;
}

.home-callout-text {
    font: 16px/20px 'AvenirLTStd-Medium', 'Helvetica Neue', Arial, sans-serif;
    color: #FFFFFF;
    padding: 0 25px 0 90px;
    margin: -70px 0 0 10px;
    width: 350px;
}

.callouts {
    padding-top: 18px;
    margin-left: -8px;
}

.callout {
    height: 120px;
    margin-right: 20px;
    border-top: 6px solid #005072;
    border-bottom: 1px solid #a6a6a8;
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: #5B6770;
    position: relative;
}

.callout:hover {
    color: #fff;
    background: #005072;
    border-bottom: 1px solid transparent;
}

.callout.callout-2 {
    border-top: 6px solid #00B1AC;
}

.callout.callout-2:hover {
    background: #00B1AC;
}

.callout.callout-3 {
    border-top: 6px solid #747679;
}

.callout.callout-3:hover {
    background: #747679;
}

.callout span {
    display: block;
}

.callout .main_text {
    font: 20px/24px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    padding: 9px 0 9px 14px;
    text-transform: uppercase;
}

.callout .sub_text {
    font-size: 14px;
    line-height: 19px;
    padding-left: 16px;
    color: #5B6770;
}

.callout.hover .sub_text {
    color: #fff;
}

.campaign-bottom {
    color: #444;
}

.callout span.callout-top {
    display: none;
}

.callout .square {
    display: none;
}

.campaign-btm {
    /*border-bottom: 1px solid #a6a6a8;*/
    position: relative;
    text-align: center;
    margin: 0 auto 18px;
}

.campaign-line {
    width: 6px;
    height: 100%;
    position: absolute;
    background-color: #005072;
}

.cmp-wrap {
    padding-left: 15px;
    padding-bottom: 10px;
}

.campaign-btm strong {
    font-family: 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #fff;
    color: #003055;
    font-size: 16px;
    margin: 5px 0;
    display: inline-block;
}

.campaign-btm .campaign-txt {
    float: left;
    margin: 0 0 0 15px;
    color: #5a6870;
}

.campaign-txt h3 {
    color: #003055; 
    font-size: 20px;
    font-family: 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
}

.program {
    width: 670px;
}

.program-icon {
    width: 60px;
    float: left;
}

.program-txt {
    width: 550px;
    float: left;
    padding: 10px 0 0 0;
    margin: 0 0 35px 10px;
    color: #5b6971;
}

.program-txt p {
    margin-bottom: 10px;
}

.copy .program-txt h3 {
    color: #005072;
    padding: 0;
    margin: 0;
    border: none;
}

.copy .program-txt h4 {
    color: #00b1ac;
    padding: 0;
    margin: 10px 0 0 0;
    border: none;
}

ul.bottom-margin {
    margin-bottom: 30px;
}

h3.bottom-margin {
    margin-bottom: 15px !important;
}

.bold-blue {
    font-weight: bold;
    color: #003055;
    margin: 0 5px;
}

/* 
=========================
  ISI
=========================
*/
#isi {
    margin: 25px auto 35px;
    color: #5a6870;
}

#isi h2 {
    font-size: 17px;
}

#isi a,
#isi h2 {
    color: #FF8500;
}

#isi h2,
#isi h3,
#isi strong {
    font-family: 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

#isi h2,
#isi h3 {
    display: block;
    margin: 10px 0 4px;
    text-transform: uppercase;
}

#isi h3.isi-first {
    margin-top: 0px;
}

#isi p {
    font-size: 17px;
    margin-bottom: 5px;
}
#isi p.bottom-space {
    margin-bottom: 12px;
}

#isi.patient-information-isi p {
    margin-bottom: 15px;
}

#isi a:hover {
    text-decoration: underline;
}
#isi ul.horizontal li {
    float: left;
}
#isi ul.horizontal li:not(:first-child) {
    margin: 0 0 0 30px;
}
#isi ul li {
    list-style-position: outside;
    padding-left: 10px;
    font-size: 17px;
    margin-bottom: 12px;
    background: url('../images/bullet.png') no-repeat 0 5px;
}
#isi ul:first-of-type li:first-of-type {
    margin-bottom: 8px;
}

#isi ul.indented li {
    padding-left: 20px;
    background: url(../images/bullet.png) no-repeat 10px 5px;
}

#isi ul li span {
    text-decoration: underline;
    color: #5a6870;
}

#isi span {
    color: #FF8500;
}

.isi-jump {
    font-family: 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    font-size: 11px;
    margin-top: 15px;
}

.isi-jump a {
    text-decoration: underline;
}

/* 
=========================
  Footer
=========================
*/

footer {
    background-color: #fff;
    width: 100%;
    margin: 16px 0;
    padding: 25px 0;
    line-height: 20px;
}

footer img {
    display: block;
}

.footer-spacer {
    display: inline-block;
    margin: 0 5px;
}

.footer-links {
    width: 656px;
    text-align: center;
}

.footer-links li {
    display: inline-block;
    margin-right: 8px;
    color: #005072;
    text-transform: uppercase;
}

.footer-links li span {
    vertical-align: 2px;
}

.footer-links a:hover {
    text-decoration: underline;
}

#akebia-logo-footer {
    display: block;
    float: right;
}

.legal {
    font-size: 10px;
}

/* 
=========================
  Single Page
=========================
*/

.interior {
    background-color: #fff;
}

.post-titles {
    margin-bottom: 8px;
}

.post-titles h2,
.post-titles h3 {
    display: block;
    font-style: normal;
    font-weight: normal;
}

.post-titles h2 {
    font: 24px/30px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    color: #005072;
    text-transform: none;
    margin-bottom: 4px;
    margin-top: 30px;
}

.post-titles h3 {
    font: 20px/24px 'AvenirLTStd-Roman', 'Helvetica Neue', Arial, sans-serif;
}

.copy img {
    max-width: 100%;
    margin-bottom: 10px;
}

.copy a {
    color: #005072;
    text-decoration: none;
}

.copy a:hover {
    text-decoration: underline;
}

.copy ul {
    margin-top: 5px;
}

.copy ul li {
    list-style-position: outside;
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
    background: url('../images/bullet.png') no-repeat 2px 5px;
}

.copy ul li ul {
    margin: 0;
}

.copy ul li ul li {
    margin: 0;
}

.copy ul li li {
    background: url('../images/sub-bullet.png') no-repeat 2px 7px;
}

.copy .subtitle {
    font: 16px/20px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    color: #5b6870;
    margin-bottom: 15px;
}

.copy .subtitle span,
.copy .subtitle a {
    color: #00B1AC;
    text-decoration: none;
}

.study-design,
.formulation {
    font-size: 14px;
    line-height: 18px;
    color: #5B6770;
}

.formulation {
    font-size: 14px;
    line-height: 18px;
}

.study-design p {
    margin-bottom: 6px;
}

.study-design span,
.formulation span {
    background: url('../img/study-design.png') no-repeat 0 0;
    padding-left: 20px;
    display: block;
    color: #005072;
    text-transform: uppercase;
    font: 12px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 5px;
}

.references span{
    background: url('../img/reference-icon.png') no-repeat 0 0;
    padding-left: 20px;
    display: block;
    color: #005072;
    text-transform: uppercase;
    font: 12px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 5px;
}

.formulation span {
    background: url('../img/formulation.png') no-repeat 0 0;
    font-size: 14px;
}

.references {
    padding-bottom: 10px;
}

.references ol li {
    list-style-type: decimal;
    margin-left: 20px;
}

.copy h2 {
    font: 20px/24px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    color: #FF8500;
    display: block;
    margin-bottom: 10px;
}

.copy .library-card h2 {
    font: 20px/24px 'AvenirLTStd-Roman', 'Helvetica Neue', Arial, sans-serif;
}

.copy h2 span {
    color: #575757;
}

.copy h3 {
    border-bottom: none;
    padding-bottom: 0;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #005072;
    font-size: 18px;
}

.copy h4 {
    color: #9e2432;
    padding: 0;
    margin: 0;
    border: none;
    text-transform: uppercase;
}

.copy h6 {
    font-size: 10px;
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
}

.line-bg {
    background: url(../images/line-bg-y.png) 0 0 repeat-y;
}

.footnote, .footnote-title {
    color: #5b6870;
    font-size: 10px;
    line-height: 11px;
    text-indent: -4px;
    margin-bottom: 15px;
}

.footnote-title {
    text-indent: 0;
    font-weight: bold;
    margin-bottom: 3px;
}
.footnote.no-space {
    margin-bottom: 3px;
}

.footnote.no-indent {
    text-indent: 0;
    margin: 15px 0 0 0;
}
.footnote-asterisk {
    text-indent: -6px;
}

.footnote-ref {
    font-style: inherit;
    margin: 15px 0 0 0;
}

.dark-red {
    color: #9b2135;
}
p.dark-red {
    margin: 15px 0 15px 0;
}
.teal {
    color: #00B1AC;
}
p.teal {
    margin: 15px 0 15px 0;
}
.navy {
    color: #005072;
}
p.navy {
    margin: 15px 0 15px 0;
}
/* 
=========================
  Single Page Elements
=========================
*/

.breadcrumbs {
    display: none;
}

.cta-links {
    margin-top: 15px;
}

.cta {
    width: 220px;
    background-color: #fff;
    border-bottom: 1px solid #a6a6a8;
    border-top: 5px solid #005072;
    display: block;
    margin-bottom: 35px;
    color: #8a8a8d;
}

.cta:hover,
.cta:hover .small {
    color: #fff;
}

.cta-1 {
    border-top: 5px solid #005072;
}

.cta-1:hover {
    background-color: #005072;
}

.cta-2 {
    border-top: 5px solid #00B1AC;
}

.cta-2:hover {
    background-color: #00B1AC;
}

.cta-3 {
    border-top: 5px solid #747679;
}

.cta-3:hover {
    background: #747679;
}

.cta span {
    display: block;
}

.cta-title {
    font: 16px/20px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    padding: 5px 20px 0;
    text-transform: uppercase;
}

.cta-text {
    padding: 0 20px 10px;
    font-size: 13px;
}

.portal-spacer {
    width: 100%;
    height: 50px;
}

.portal-wrap {
    background-color: #efefef;
    padding: 20px;
    min-height: 376px;
}

.portal-menu {
    width: 220px;
    background-color: #fff;
    border-bottom: 5px solid #005072;
    border-top: 5px solid #005072;
    display: block;
    margin-bottom: 35px;
    color: #5B6770;
}

.portal-menu a {
    display: block;
    padding: 10px 0 10px 20px;
    font: 16px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
}

.portal-menu a:hover,
.portal-menu .current-menu-item a {
    color: #fff;
    background: #005072 url('../img/portal-nav.png') no-repeat center left;
}

.portal-page .cta {
    line-height: 16px;
}

.program {
    width: 700px;
}

.program-icon {
    width: 60px;
}

.program-txt {
    width: 620px;
}

.reimbursement-help {
    background:url(../images/reimbursement-help.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 590px;
    height: 320px;
    padding: 70px 0 0 80px;
    margin-bottom: 15px;
}

.reimbursement-help .steps {
    margin: 0 0 23px 0;
}

.reimbursement-help .steps a,
.reimbursement-help .steps a:visited,
.reimbursement-help .steps a:hover {
    color: #575757;
    text-decoration: none;
    font-weight: bold;
}

.reimbursement-help .steps .step {
    font-weight: bold;
    color: #0d3555;
}

.reimbursement-subhead {
    color: #005072;
}
.resources-interior .copy h2 {
    text-transform: uppercase;
    color: #004f72;
}
.resource-container {
    float: left;
    width: 450px;
    margin: 0 0 30px 0;
}
.resource-container:first-child {
    margin: 0 25px 30px 0;
}
.resource {
    float: left;
    width: 125px;
    margin: 0 20px 0 0;
}
.resource img {
    border: 1px solid #747679;
    margin-bottom: 0;
}
.resource-description {
    float: left;
    width: 300px;
}
.resource-description .resource-title {
    font: 17px/24px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    color: #00b1ac;
}

.resource-description p {
    font-size: 14px;
    color: #5a6870;
    padding-bottom: 10px;
    width: auto;
}


/* 
=========================
  Tabs
=========================
*/

.tab-names {
    border-bottom: 2px solid #FF8500;
}

.tab-names a {
    display: inline-block;
    font-size: 12px;
    font-family: 'AvenirLTStd-Roman', 'Helvetica Neue', Arial, sans-serif;    
    font-style: normal;    
    padding: 8px;
    color: #7d7d7d;
    background-color: #f2fafa;
    border-right: 2px solid #fff;
}

.tab-names a:hover,
.tab-names a.active {
    background-color: #FF8500;
    color: #fff;
    text-decoration: none;
}
.tab-patient-coverage .tab-names a:hover,
.tab-patient-coverage .tab-names a.active {
    background-color: #c95f07;
    color: #fff;
    text-decoration: none;
}

.tab-patient-coverage .tab-names a:nth-child(2):hover,
.tab-patient-coverage .tab-names a:nth-child(2).active {
    background-color: #004b94;
    color: #fff;
    text-decoration: none;
}

.tab-patient-coverage .tab h2,
.tab-patient-coverage .tab h3 {
    font-size: 18px;
}

.tab {
    padding: 15px;
    display: none;
    background-color: #f2fafa;
    color: #444;
    margin-bottom: 20px;
}

.tab.active {
    display: block;
}

.tab h2,
.tab h3 {
    color: #005072;
    font: 15px/24px 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 5px;
}

.tab a,
.program-txt a {
    color: #00b1ac;
    font-family: 'AvenirLTStd-Medium', 'Helvetica Neue', Arial, sans-serif;  
}

.tab .connect {
    background: url(../images/icon-operator-sm.png) 0 0 no-repeat;
    padding: 12px 0 12px 50px;
    margin: 20px 0 0 0;
}

.tab .connect span {
    color: #00B1AC;
    font-weight: bold;
}

.button-box {
    display: block;
    width: 200px;
    padding: 10px 15px;
    border: 2px solid #00B1AC;
    color: #00B1AC !important;
    text-transform: uppercase;
    text-align: center;
}

.button-download,
.download-link {
    background: url(../images/icon-download.png) 0 0 no-repeat;
    padding: 22px 0 20px 65px;
    display: block;
}
.download-link {
    background-size: 31px 31px;
    padding: 7px 0 10px 40px;
}
.resource-description .download-link {
    background-size: 28px 28px;
}
.resource-description .text-link {
    color: #54c3bc;
}
.patient-coverage {
    width: 600px;
    padding: 15px 0;
    border-bottom: 2px solid white;
}

.patient-coverage:last-child {
    border: none;
}

.patient-coverage-img {
    float: left;
    width: 60px;
}

.patient-coverage-img img {
    margin: 0;
    padding: 0;
}

.patient-coverage-txt {
    float: right;
    width: 540px;
}

.tablets {
    width: 100%;
    margin: 20px 0 0 0;
}

.tablets-90 {
    background: url(../images/90-tablets.png) center top no-repeat;
    width: 49px;
    height: 40px;
    float: left;
    margin: 0 0 15px 0;
}

.tablets-91-180 {
    background: url(../images/91-180-tablets.png) center top no-repeat;
    width: 49px;
    height: 40px;
    float: left;
    margin: 0 0 15px 0;
}

.tablets-181-plus {
    background: url(../images/181-plus-tablets.png) center top no-repeat;
    width: 49px;
    height: 40px;
    float: left;
    margin: 0 0 15px 0;
}

.tablet-text {
    float: right;
    width: 475px;
    text-align: left;
    padding: 10px 0 0 0;
}
.program-txt .tablet-text {
    width: 550px;
}

.patient-coverage-txt ul li span,
.tablet-text span {
    color: #00b1ac;
    font-weight: bold;
}

h3.navy {
    color: #005072; /* #003055; */
}

h3.red {
    color:#9e2432;
}

h3.orange {
    color:#005072;
}

h3.blue {
    color:#7ba6e6;
}

h3.teal {
    color: #00b1ac;
}

h3.dk-gray {
    color: #747679;
}

h3.gray {
    color: #b2b2b2;
}

.contact {
    background: url(../images/icon-operator.png) 0 0 no-repeat;
    padding: 22px 0 22px 75px;
    margin: 15px 0;
}

.contact span,
.contact a {
    color: #00B1AC;
    font-weight: bold;
    text-decoration: none;
}

.contact-lg {
    background: url(../images/icon-operator.png) 0 0 no-repeat;
    padding: 5px 0 0 75px;
    margin: 10px 0 20px;
}

.contact-lg.home {
    width: 460px;
    margin: 0 auto;
}

.contact-lg.patient-coverage {
    margin-bottom: 20px;
}

.contact-lg .title {
    text-transform: uppercase;
    font-family: 'AvenirLTStd-Medium', 'Helvetica Neue', Arial, sans-serif;
    color: #005072;
    font-weight: bold;
}

.contact-lg p span,
.contact-lg p a {
    color: #00B1AC;
    font-weight: bold;
    text-decoration: none;
}

.phone-number {
    font-weight: bold;
    color: #00B1AC;
}

.contact-lg p span.small,
.small {
    color: #575757;
    font-weight: normal;
    font-size: 10px;
}
.cta .small {
    color: #8a8a8d;
}
.cta span.small {
    display: inline;
}
/* 
=========================
  Charts
=========================
*/

.chart-row {
    display: table;
    height: 115px;
    margin-bottom: 20px;
}

.chart-row img {
    float: left;
    margin: 0 20px 0 0;
    width: 115px;
    max-width: 115px;
}

.chart-right {
    display: table-cell;
    vertical-align: middle;
}

.chart-right h5 {
    font-family: 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #005072;
    text-transform: uppercase;
    display: block;
    margin-bottom: 2px;
}

.page-id-39 #chart-wrap {
	height: 415px;
    padding-left: 250px;
    background: url('../img/charts/human.png') no-repeat top left;
}


/* 
=========================
  Overlay
=========================
*/

#supplynote {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  display: none;
}

a#note-close {
 display: block;
 position: absolute;
 right: 5px;
 top: 5px;
 cursor: pointer;
 margin: 0;
 text-decoration: none;
 font-size: 12px;
 color: transparent;
 background-image: url("../img/bg/close-modal.png");
 height: 26px;
 width: 26px;
}

.modal {
 width: 817px;
 height: 450px;
 position: relative;
 margin: 25% auto 0;
 background: white;
 box-sizing: border-box;
 overflow: hidden;
}

.modal-hero img {
  position: absolute;
  width: 492px;
  height: 427px;
  
  left: -33px;
  top: 0;
}

.modal-logo img {
 position: absolute;
 width: 216px;
 height: 88px;

 left: 506px;
 top: 332px;
}

.modal-controls a, .btn-site {
  display: inline-block;
  text-align: center;
  font: 16px 'AvenirLTStd-Roman', 'Helvetica Neue', Arial, sans-serif;
  border: 2px solid #005072;
  padding: 10px 0;
  width: 95px;
  margin-top: 10px;
}

.modal-msg {
  display: inline-block;
  margin-left: 410px;
  margin-top: 105px;
}

.modal-controls {
  margin-top: 40px;
}

.modal-msg .left {
    width: 270px;
}

.modal-msg .right {
    width: 400px;
}

.modal-msg .right .btn-yes {
  width: auto;
  margin: -10px auto;
  padding: 8px 20px;
}


div.modal-controls.bot>a.btn-medi-yes.animC:hover {
    color: #fff;
}

a#close-modal {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    border: 1px #333 solid;
    padding: 0 5px;
    margin: 0;
    text-decoration: none;
    font-size: 12px;
    color: #333;
}

.btn-site {
    width: auto;
    padding: 10px 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.modal-controls a:hover,
.btn-site:hover {
    background-color: #005072;
    color: #fff;
}

.modal-controls a.btn-grey {
    color: #5B6770;
    border: 2px solid #5B6770;
}

.modal-controls a.btn-grey:hover {
    background-color: #5B6770;
    color: #fff;
}

.coupon-denied {
    display: none;
}

.medicare-notice h4 {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    color: #005072;
    text-transform: uppercase;
}

.medicare-notice span.tm {
    font-weight: normal;
}

.medicare-notice span.ferr {
    font-size: 26px;
    line-height: 32px;
    font-weight: normal;
    text-transform: none;
}

.medicare-notice p {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}

.medicare-notice .modal-controls.bot {
    float: right;
    margin: 30px 20px 0 0;
}

.medicare-notice .modal-controls.top .btn-medi-yes {
    width: 200px;
    margin-top: 20px;
    color: #005072;
}

.medicare-notice .modal-controls.top .btn-medi-yes:hover {
    margin-top: 20px;
    background-color: #005072;
    color: #fff;
}

.medicare-notice .modal-controls.bot .btn-medi-yes {
    width: 185px;
    color: #005072;
}


/* ===============
  INTERACTIVE LIBRARY
*/ ===============

.library-card-title h4 {
    font-family: "AvenirLTStd-Black", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #005072;
    text-transform: capitalize;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.cta-isi-sidebar{
    font-family: 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    width: auto;
    /*height: 30px;*/
    background-color: white;
    margin-top: -35px;
    padding-top: 15px;
}

.cta-isi-homepage {
    font-family: 'AvenirLTStd-Black', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.page-id-31 .indication{
    display:none !important;
}

.page-id-177 .cta-links{
    margin-top: -80px;
}

.augmented-1-25 {
    font-size: calc(1em + 1em * 0.25);
}

.augmented-1-5 {
    font-size: calc(1em + 1em * 0.5);
}

.augmented-1-49 {
    font-size: calc(1em + 1em * 0.49);
}

.augmented-1-75 {
    font-size: calc(1em + 1em * 0.75);
}

.augmented-2 {
    font-size: calc(2em);
}

.decrease-0-85 {
    font-size: calc(0.85em);
}

.decrease-0-75 {
    font-size: calc(0.75em);
}

.decrease-0-5 {
    font-size: calc(0.5em);
}

.decrease-0-25 {
    font-size: calc(0.25em);
}

#hcp > div.grid.cf.hcp-home-bg > div > div > div > div.camp-wrap > div.campaign-text > p {
    padding-top:10px;
    line-height: 20px;
}

.no-bold {
    font-family: "AvenirLTStd-Roman", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
}
.brand-orange{
    color:#005072 !important;
}

img.size-75w {
    width: 75%;
    height: auto;
    margin: auto;
}

img.size-50w {
    width: 50%;
    height: auto;
    margin: auto;
}
@media screen and (max-width: 737px) {
    .page-id-177 .cta-links{
        margin-top: 0;
    }
    .page-id-39 #chart-wrap {
        height: 300px;
    }
}
