

/* Header */


/*#patient nav li:last-child a:hover,
#patient nav li.current-menu-item:last-child a{
  background: url('../img/hcp/header-active.png') no-repeat 50px bottom;
}

#assistance nav li:last-child a:hover,
#assistance nav li.current-menu-item:last-child a{
  background: url('../img/hcp/header-active.png') no-repeat 36px bottom;
}

#patient nav li .sub-menu li a,
#patient nav li .sub-menu li:last-child a{
  background: rgba(255, 255, 255, 0.8);
  min-width: 160px;
  padding: 10px 42px;
}



#patient nav li.current-page-ancestor a,
#patient nav li.current-menu-item a,
#assistance nav li.current-page-ancestor a,
#assistance nav li.current-menu-item a{
  background: url('../img/hcp/header-active.png') no-repeat center bottom;
  color: #FF8500;
}

#patient nav li.current-menu-item ul a,
#patient nav li.current-page-ancestor ul a,
#assistance nav li.current-menu-item ul a,
#assistance nav li.current-page-ancestor ul a{
  color: #5B6770;
}

#patient nav li ul li.current-menu-item a,
#assistance nav li ul li.current-menu-item a{
  color: #FF8500 !important;
}*/



/* Home Page */

/*#patient.page-id-11 .content{
  margin-top: 20px;
  padding-top: 55px;
  background: url('../img/bg/patient-home.png') repeat-y top center;
}

#patient #home-hand{
  width: 430px;
}

#patient #home-hand,
#assistance #home-hand{
  width: 437px;
  margin-left: -8px;
  margin-top: 1px;
}

#patient .home-info,
#assistance .home-info{
  width: 480px;
}

.legal{
  margin: 5px 0 0 40px;
}

#patient .callout{
  height: 118px;
}

#patient .campaign-text,
#assistance .campaign-text{
  color: #FF8500;
}

#assistance .campaign-text{
  font-size: 22px;
}*/

/* Patient Assistance */

/*#assistance nav li .sub-menu li a,
#assistance nav li .sub-menu li:last-child a{
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  min-width: 200px;
}

.page-id-13 .home-campaign{
  margin-top: 20px;
  padding-top: 45px;
}

#assistance .callout{
  height: 110px;
}

#assistance .campaign-line{
  display: none;
}

#assistance .campaign-btm{
  border-bottom: 0px;
  background: url('../img/plus.png') no-repeat top left; 
}

#assistance .cmp-wrap{
  padding: 15px 25px;
}*/

/*
#assistance .campaign-text{
  background: url('../img/campaign-text.png'); 
  width: 506px; 
  padding-left: 28px;
  height: 66px;
  padding-top: 5px;
  margin: 0 0 0 -28px;
}
*/

/*#assistance .camp-wrap{
  background: url('../img/campaign-text.png'); 
  width: 510px;
  padding-left: 25px;
  height: 134px;
  margin: 0px 0 0 -23px;
}

#assistance .campaign-tagline{
  padding: 10px 0 10px;
}

#assist-logo{
  background: url('../img/assist-logo.png'); 
  position: absolute;
  width: 71px;
  height: 71px;
  right: 10px;
  top: 7px;
}

#assistance .post-titles h2{
  color: #5b6770;
}


#assist-home-logo{
  display: none;
  width: 79px;
  height: 79px;
  background: url('../img/assist-home-logo.png'); 
  margin-top: 15px;
}

#assistance #assist-home-logo{
  display: block;
}
*/


/* 
=========================
  FAQs
=========================
*/

.faq-controls{
  padding-left: 80px;
}

.faq-controls a{
  float: left;
  font-family:'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  color: #FF8500;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 6px;
  border: 1px solid #e5e5e5;
}

.faq-controls a.active, .faq-controls a:hover{
  color: #fff;
  background-color: #FF8500;
}

.faq{
  position: relative;
  padding: 20px 0 20px 80px;
  border-bottom: 1px solid #e5e5e5;
  color: #7d7d7d;
  cursor: pointer;
}

.faq a{
  color: #FF8500;
}

.faq .icon{
  width: 25px;
  height: 25px;
  background: url('../img/faqs.png') no-repeat 0 0; 
  position: absolute;
  left: 0px;
}

.faq.open .icon{
  background: url('../img/faqs.png') no-repeat 0 -90px; 
}

.faq-question{
  display: block;
  font: 20px/24px 'Avenir LT W01 55 Roman', 'Helvetica Neue', Arial, sans-serif;    
  font-style: normal;
}

.faq-answer{
  margin-top: 5px;
  color: #444;
  font-size: 14px;
  line-height: 18px;
  display: none;
}

/*#patient .callout .square{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ff8500;
  display: block;
  bottom: -8px;
  right: 0px;
}

#patient .callout.callout-2 .square{
  background-color: #FFD700;
}

#patient .callout.callout-3 .square{
  background-color: #7D7D7D;
}

#patient .callout.hover .square{
  display: none;
}


.ie8 #patient .sub-menu li a{
  width: 140px;  
  min-width: 140px;
  background-image: none;
}

.ie8 #assistance .sub-menu li a{
  width: 160px;  
  min-width: 160px;
  background-image: none;
}


#assistance .campaign-btm strong{
  margin-bottom: 0px;
}*/

/* Label Updates */

/*.page-id-11 .callouts{
  padding-top:50px;
}*/
 
#menu-hcp-menu{ 
    /*padding-left: 80px;*/
}

li#menu-item-2606 {
    background: url(/hyperphosphatemia/wp-content/uploads/Home_Icon-1.png); 
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 50% 50%;
    text-indent: -9999px;
    width: 85px;
} 

/*#patient .cta-isi-sidebar a span {
    display: none;
}

#patient .grid.top-banner{
    display: none !important;
}
.copy a:hover {
    text-decoration: none !important;
}*/

@media screen and (max-width: 737px){
li#menu-item-2606 { 
    text-indent:  0px !important;
    width: 100%;
  }

  .header-links-patient a {
    background-color: #fff;
    width: 46.5%;
    display: inline-block;
    float: none;
    padding: 0;
    font-size: 11px;
    line-height: 0;
    color: #5B6770;
    white-space: nowrap;
    text-align:center;
}
.header-links-patient  { 
    text-align:center;
} 
.intent-mobile { 
    text-align: center;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 1% 0 1% 0; 
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    margin-top: 10px;
    background-color: #FF8500;
    color: #fff;
}
#patient nav { 
    top: 153px !important; 
}

#tab-wrap > div.tabs.cf > div.tab.active > div > table > tbody > tr > td:nth-child(2),
#assist-lines > div.content.content-1 > div > div.grid-9.left.copy > div.grid-9 > table > tbody > tr > td:nth-child(2){
    padding-left: 8px;
}
  #assist-lines > div.content.content-1 > div > div.grid-9.left.copy > div.grid-9 > p {
    padding-bottom: 1px;
  }

}
@media screen and (min-width: 738px) {
  #assist-lines > div.content.content-1 > div > div.grid-9.left.copy > div.grid-9 > p {
    padding-bottom: 50px;
  }
}

