/******************************************************************
Theme Name: FCB Responsive
Author: FCB Health
Author URI: http://www.fcbhealthcare.com 
Version: 1.0
******************************************************************/

/* just a test deployment */
.warning span {
    background: url('/wp-content/uploads/warning-icon.png') no-repeat 0 0;
    padding-left: 50px;
    display: block;
    margin-bottom: 8px;
    margin-top: 5px;
}
.study-design p {
    margin-bottom: 6px;
    line-height: 18px;
}
.study-design span, .references span, .formulation span {
    font: 14px 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, sans-serif; 
}
@media screen and (max-width:737px){
	 .legal {
		margin: 5px 0 0 0px;
		/*white-space: nowrap;*/
  	 }
	.footer-spacer {
		display: inline-block;
    		margin: 0 1px;
	}
}

@media screen and (max-width: 414px) {
        html,body {overflow-x: hidden;}
	.home-callout {
    		margin-top: 15px;
    		width: 100%;
	}
  	.home-callout img {
    		height: 100%;
    		margin: -68px -40px;
    		width: 24.1em;
	}
}

@media screen and (max-width: 384px) {
	.home-callout {
    		margin-top: 15px;
    		width: 100%;
	}
  	.home-callout img {
    		height: 100%;
    		margin: -68px -38px;
    		width: 22.36em;
	}
}

@media screen and (max-width: 375px) {
	.home-callout {
    		margin-top: 15px;
    		width: 100%;
	}
  	.home-callout img {
    		height: 100%;
    		margin: -68px -37px;
    		width: 21.73em;
	}
}

@media screen and (max-width: 320px) {
	.home-callout {
    		margin-top: 15px;
    		width: 100%;
	}
  	.home-callout img {
    		height: 100%;
    		margin: -68px -32px;
    		width: 18.54em;
	}
}

.page-id-177 .cta-isi-sidebar a span{
    display:none;
}


div#mti_wfs_colophon {
    display: none !important;
}