<a id="close-modal" class="btn-no">x</a>
<div class="coupon-vefification">
  <h4>
    Are you (or is your patient) covered by<br />
    commercial insurance only?
  </h4>
  
  <div class="modal-controls">
    <a href="#" class="btn-yes animC" target="_blank">Yes</a>
    <a href="#" class="btn-coupon-no btn-grey">No</a>
  </div>
</div>

<div class="coupon-denied">
  <h4>
    We're sorry, but you are not eligible to download the<br />
    AURYXIA Copay Coupon.
  </h4>
  <h4>You may still be eligible for other financial support.</h4>
  <div class="modal-controls">
    <a href="/patient-services/application-form/" class="btn-no" target="_blank" id="closeInterstitial">Click here to download the Keryx Patient Plus Application</a>
  </div>  
</div>