<h4>
  You are about the leave AURYXIA.com and access<br />
  third-party content.
</h4>

<p>
  Keryx is not responsible for the information, products, and services found on all<br /> 
  third-party sites. Do you wish to continue?
</p>

<div class="modal-controls">
  <a href="#" class="btn-yes animC" target="_blank">YES</a>
  <a href="#" class="btn-no btn-grey">No</a>
</div>